@{ 
   ViewBag.Title = "games"; 
}

@Html.Partial("_PageHeader", "Games")

<ul>
    <li><a href="/games/memory">Memory (in a half shell)</a></li>
    <li><a href="/games/money-spin">Money Spin</a></li>
</ul>