@{ 
    ViewBag.Title = "games | memory";
}

@section custom_head {
    <base href="." />
}

@section stylesheets {
    <link rel="stylesheet" href="/css/games/memory.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Permanent+Marker" />
}

@section scripts_footer {
    <script src="/js/memory/vendor/es6-shim/es6-shim.js"></script>
    <script src="/js/memory/vendor/reflect-metadata/Reflect.js"></script>
    <script src="/js/memory/vendor/systemjs/dist/system.src.js"></script>
    <script src="/js/memory/vendor/zone.js/dist/zone.js"></script>
    <script>
        SystemJS.config({
            baseURL: '/js/memory'
        });

        System.import('system-config.js').then(function () {
            System.import('main');
        }).catch(console.error.bind(console));
    </script>
}

<h2>Memory</h2>

<memory-app>Loading...</memory-app>
