@{
    ViewBag.Title = "games | memory";
}

@section custom_head {
    <base href="/games/memory" />
}

@section stylesheets {
    <link rel="stylesheet" href="/css/games/memory.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Permanent+Marker" />
}

@section scripts_footer {
    <script type="text/javascript" src="/js/memory/inline.js"></script>
    <script type="text/javascript" src="/js/memory/polyfills.bundle.js"></script>
    <script type="text/javascript" src="/js/memory/main.bundle.js"></script>
}

<h2>Memory</h2>

<app-root>Loading...</app-root>
