@{
    ViewBag.Title = "games | money-spin";
}

@section custom_head {
    <base href="/games/money-spin" />
}

@section stylesheets {
    <link rel="stylesheet" href="/css/games/memory.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Permanent+Marker" />
}

@section scripts_footer {
    @Html.Partial("_js_Threejs")
    <script src="/js/money_spin/vendor/es6-shim/es6-shim.js"></script>
    <script src="/js/money_spin/vendor/reflect-metadata/Reflect.js"></script>
    <script src="/js/money_spin/vendor/systemjs/dist/system.src.js"></script>
    <script src="/js/money_spin/vendor/zone.js/dist/zone.js"></script>
    <script>
        SystemJS.config({
            baseURL: '/js/money_spin'
        });

        System.import('system-config.js').then(function () {
            System.import('main');
        }).catch(console.error.bind(console));
    </script>
}

<h2>Money Spin</h2>

<money-spin-app>Loading...</money-spin-app>
