@model bool
@{ ViewBag.Title = "admin | clear photo cache"; }

<h1>Clear Photo Cache</h1>

@if(Model) {
	<p maw-alert-type="Success">The photo cache was cleared.</p>
}

<form asp-controller="admin" asp-action="clearphotocache" method="post" autocomplete="off" role="form">
    <input type="hidden" name="doClear" value="true" />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Clear</button>
    </div>
</form>
