@model bool
@{ ViewBag.Title = "admin | clear video cache"; }

<h1>Clear Video Cache</h1>

@if(Model) {
    <p maw-alert-type="Success">The video cache was cleared.</p>
}

<form asp-controller="admin" asp-action="clearvideocache" method="post" autocomplete="off" role="form">
    <input type="hidden" name="doClear" value="true" />
    <div>
        <button type="submit" class="btn btn-primary">Clear</button>
    </div>
</form>
