@using MawMvcApp.ViewModels.Admin
@model BlogPostModel
@{ ViewBag.Title = "admin | create blog post"; }

<h1>Create Blog Post</h1>

@if(Model.Success) {
    <p maw-alert-type="Success">The blog post was saved successfully.</p>
}

@if(!Model.Success) {
    @if(Model.WasAttempted) {
        <p maw-alert-type="Danger">Please correct the following issues with the blog post:</p>
        <div class="text-danger" asp-validation-summary="All"></div>
    }

    <form asp-controller="admin" asp-action="createblogpost" method="post" autocomplete="off" role="form">
        <div class="row mb-3">
            <div class="col-sm-5">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" class="form-control" autofocus="" />
                @*<span asp-validation-for="Title" class="form-text"></span>*@
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-5">
                <label asp-for="PublishDate" class="form-label"></label>
                <input asp-for="PublishDate" class="form-control" />
                @*<span asp-validation-for="PublishDate" class="form-text"></span>*@
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" rows="15" class="form-control"></textarea>
                @*<span asp-validation-for="Description" class="form-text"></span>*@
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <button type="submit" class="btn btn-primary" name="Behavior" value="Save">Save</button>
                <button type="submit" class="btn btn-primary" name="Behavior" value="Preview">Preview</button>
            </div>
        </div>
    </form>
}

@if(Model.Preview) {
    <h3>@Model.Title</h3>
    @Html.Raw(Model.Description)
}
