@{ ViewBag.Title = "admin"; }

<h1>Admin</h1>

<div class="row">
    <div class="col-sm-4">
        <div class="card mb-4">
            <div class="card-header">
                <strong class="card-title">General</strong>
            </div>
            <div class="list-group list-group-flush">
                <a class="list-group-item" asp-controller="admin" asp-action="createblogpost">Create Blog Post</a>
                <a class="list-group-item" asp-controller="admin" asp-action="showrequestdetails">Show Request Details</a>
                <a class="list-group-item" asp-controller="admin" asp-action="clearphotocache">Clear Photo Cache</a>
                <a class="list-group-item" asp-controller="admin" asp-action="clearvideocache">Clear Video Cache</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card mb-4">
            <div class="card-header">
                <strong class="card-title">Security</strong>
            </div>
            <div class="list-group list-group-flush">
                <a class="list-group-item" maw-auth-url="/admin/">Manage Users / Roles</a>
            </div>
        </div>
    </div>
</div>
