@model IEnumerable<string>
@{ ViewBag.Title = "admin | manage roles"; }

<h1>Manage Roles</h1>

<table class="table table-responsive table-striped table-hover table-sm">
	<thead>
		<tr>
			<th>Name</th>
			<th>Members</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
	@foreach(string role in Model) {
		<tr>
			<td>@role</td>
			<td><a asp-controller="admin" asp-action="editrolemembers" asp-route-id="@role">Edit</a></td>
			<td><a asp-controller="admin" asp-action="deleterole" asp-route-id="@role">Delete</a></td>
		</tr>
	}
	</tbody>
</table>
