<div>
    <div class="row">
        <div class="col-sm-3">
        	<label>Your Rating:</label>
        </div>
        <div class="col-sm-9">
            <ngb-rating [max]="5" [rate]="userRating" [resettable]="true" (rateChange)="onRatePhoto($event)">
                <ng-template let-fill="fill">
                    <maw-svg-icon *ngIf="fill === 100" [icon]="svgIcon.Star"></maw-svg-icon>
                    <maw-svg-icon *ngIf="fill === 0" [icon]="svgIcon.StarO"></maw-svg-icon>
                </ng-template>
            </ngb-rating>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
        	<label>Average Rating:</label>
        </div>
        <div class="col-sm-9">
            <ngb-rating [max]="5" [rate]="averageRating" [readonly]="true">
                <ng-template let-fill="fill">
                    <maw-svg-icon *ngIf="fill === 100" [icon]="svgIcon.Star"></maw-svg-icon>
                    <maw-svg-icon *ngIf="fill === 0" [icon]="svgIcon.StarO"></maw-svg-icon>
                </ng-template>
            </ngb-rating>
        </div>
    </div>
</div>