<div>
    <div class="row">
        <div class="col-sm-3">
        	<label>Your Rating:</label>
        </div>
        <div class="col-sm-9">
            <ngb-rating [max]="5" [rate]="userRating" [resettable]="true" (rateChange)="onRatePhoto($event)"></ngb-rating>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
        	<label>Average Rating:</label>
        </div>
        <div class="col-sm-9">
            <ngb-rating [max]="5" [rate]="averageRating" [readonly]="true"></ngb-rating>
        </div>
    </div>
</div>