<div>
    <div class="row">
        <div class="col-sm-3">
        	<label>Your Rating:</label>
        </div>
        <div class="col-sm-9">
            <maw-rating [maxRating]="5" [rating]="userRating" [editable]="true" (rate)="onRatePhoto($event)"></maw-rating>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
        	<label>Average Rating:</label>
        </div>
        <div class="col-sm-9">
            <maw-rating [maxRating]="5" [rating]="averageRating"></maw-rating>
        </div>
    </div>
</div>