@model MawAuth.ViewModels.Account.ChangePasswordModel
@{
    ViewBag.Title = "account | change password";
}

@if(Model == null) {
    throw new InvalidOperationException("Model should not be null!");
}

@section body_head {
    <strong>Change Password</strong>
}

@section body_foot {
        <div class="w-100 justify-content-start">
            <p>
                <strong>Password criteria</strong>
            </p>
            <div class="row">
                <div class="col-sm-6">
                    <p class="mb-1">8+ characters long</p>
                    <p class="mb-1">6+ unique characters</p>
                    <p class="mb-1">1+ lowercase</p>
                </div>

                <div class="col-sm-6">
                    <p class="mb-1">1+ uppercase</p>
                    <p class="mb-1">1+ digit</p>
                    <p class="mb-1">1+ special character</p>
                </div>
            </div>
        </div>
}

@if(Model.ChangeSucceeded) {
    <p maw-alert-type="Success">Your password was updated successfully.</p>
}
else {
    if(Model.ChangeAttempted) {
        <p maw-alert-type="Danger">There was an error updating your password.</p>
        <div class="text-danger" asp-validation-summary="All"></div>
    }

    <form asp-controller="account" asp-action="changepassword" method="post" autocomplete="off" role="form">
        <div class="mb-3">
            <div class="input-group">
                <div class="input-group-text">
                    <svg-icon icon="Lock"></svg-icon>
                </div>
                <input asp-for="CurrentPassword" class="form-control" autofocus="" placeholder="Current Password" />
                @*<span asp-validation-for="CurrentPassword" class="form-text"></span>*@
            </div>
        </div>

        <div class="mb-3">
            <div class="input-group">
                <div class="input-group-text">
                    <svg-icon icon="Lock"></svg-icon>
                </div>
                <input asp-for="NewPassword" class="form-control" placeholder="New Password" />
                @*<span asp-validation-for="NewPassword" class="form-text"></span>*@
            </div>
        </div>

        <div class="mb-3">
            <div class="input-group">
                <div class="input-group-text">
                    <svg-icon icon="Lock"></svg-icon>
                </div>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                @*<span asp-validation-for="ConfirmPassword" class="form-text"></span>*@
            </div>
        </div>

        <div class="row mb-3">
            <div class="col d-grid">
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
        </div>
    </form>
}
