@model MawAuth.ViewModels.Account.ChangePasswordModel
@{
	Layout = "_LayoutAuth";
	ViewBag.Title = "account | change password";
}

@section body_head {
	<strong>Change Password</strong>
}

@section body_foot {
        <div class="w-100 justify-content-start">
            <p class="text-center">
                Password criteria:
            </p>
            <div class="row">
                <div class="col-sm mb-2">
                    <ul class="list-group">
                        <li class="list-group-item">8+ characters long</li>
                        <li class="list-group-item">6+ unique characters</li>
                        <li class="list-group-item">1+ lowercase</li>
                    </ul>
                </div>

                <div class="col-sm mb-2">
                    <ul class="list-group">
                        <li class="list-group-item">1+ uppercase</li>
                        <li class="list-group-item">1+ digit</li>
                        <li class="list-group-item">1+ special character</li>
                    </ul>
                </div>
            </div>
        </div>
}

@if(Model.ChangeSucceeded) {
    <p maw-alert-type="Success">Your password was updated successfully.</p>
}
else {
    if(Model.ChangeAttempted) {
        <p maw-alert-type="Danger">There was an error updating your password.</p>
        <div class="text-danger" asp-validation-summary="All"></div>
    }

    <form asp-controller="account" asp-action="changepassword" method="post" autocomplete="off" role="form">
        <div class="form-group mb-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <svg-icon icon="Lock"></svg-icon>
                    </div>
                </div>
                <input asp-for="CurrentPassword" class="form-control" autofocus="" placeholder="Current Password" />
                @*<span asp-validation-for="CurrentPassword" class="form-text"></span>*@
            </div>
        </div>

        <div class="form-group mb-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <svg-icon icon="Lock"></svg-icon>
                    </div>
                </div>
                <input asp-for="NewPassword" class="form-control" placeholder="New Password" />
                @*<span asp-validation-for="NewPassword" class="form-text"></span>*@
            </div>
        </div>

        <div class="form-group mb-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <svg-icon icon="Lock"></svg-icon>
                    </div>
                </div>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                @*<span asp-validation-for="ConfirmPassword" class="form-text"></span>*@
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Change Password</button>
        </div>
    </form>
}
