@using Microsoft.AspNetCore.Mvc
@model MawAuth.ViewModels.Account.ProfileModel
@{
    ViewBag.Title = "account | edit profile";
}

@if(Model == null) {
    throw new InvalidOperationException("Model should not be null!");
}

@section body_head {
	<strong>Manage Your Profile (@Model.Username)</strong>
}

@if(Model.WasAttempted) {
    if(Model.WasUpdated) {
        <p maw-alert-type="Success">Your profile was updated.</p>
	}
	else {
        <p maw-alert-type="Danger">Your profile was not updated.</p>
        <div class="text-danger" asp-validation-summary="All"></div>
	}
}

<form asp-controller="account" asp-action="editprofile" method="post" autocomplete="off" role="form">
    <div class="row mb-3">
        <div class="col-md-6">
            <input asp-for="FirstName" class="form-control" autofocus="" placeholder="First Name" />
            @*<span asp-validation-for="FirstName" class="form-text"></span>*@
        </div>
        <div class="col-md-6">
            <input asp-for="LastName" class="form-control" placeholder="Last Name" />
            @*<span asp-validation-for="LastName" class="form-text"></span>*@
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="input-group">
                <div class="input-group-text">
                    <svg-icon icon="At"></svg-icon>
                </div>
                <input asp-for="Email" class="form-control" placeholder="Email" />
                @*<span asp-validation-for="Email" class="form-text"></span>*@
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <h4>Enable External Login</h4>
            <p maw-alert-type="Info">
                To use this successfully, you <strong>must</strong> ensure that the email address on the social platform matches the
                email address for your mikeandwan.us account.  If this is not the case, <strong>please do not enable this option</strong>.
            </p>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" asp-for="EnableGithubAuth" />
                        <label class="form-check-label" asp-for="EnableGithubAuth">
                            <svg-icon icon="Github" class="ms-2 me-1"></svg-icon> GitHub
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" asp-for="EnableGoogleAuth" />
                        <label class="form-check-label" asp-for="EnableGoogleAuth">
                            <svg-icon icon="GooglePlus" class="ms-2 me-1"></svg-icon> Google
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" asp-for="EnableMicrosoftAuth" />
                        <label class="form-check-label" asp-for="EnableMicrosoftAuth">
                            <svg-icon icon="Windows" class="ms-2 me-1"></svg-icon> Microsoft
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" asp-for="EnableTwitterAuth" />
                        <label class="form-check-label" asp-for="EnableTwitterAuth">
                            <svg-icon icon="Twitter" class="ms-2 me-1"></svg-icon> Twitter
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col d-grid">
            <button type="submit" class="btn btn-primary">Update Profile</button>
        </div>
    </div>
</form>
