@using Microsoft.AspNetCore.Mvc
@model MawAuth.ViewModels.Account.ProfileModel
@{ ViewBag.Title = "account | edit profile"; }

<h1>Manage Your Profile</h1>

@if(Model.WasAttempted) {
    if(Model.WasUpdated) {
        <p maw-alert-type="Success">Your profile was updated.</p>
	}
	else {
        <p maw-alert-type="Danger">Your profile was not updated.</p>
        <div class="text-danger" asp-validation-summary="All"></div>
	}
}

<form asp-controller="account" asp-action="editprofile" method="post" autocomplete="off" role="form">
	<fieldset>
    	<legend>General</legend>
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="Username" class="col-form-label"></label>
    		    <label class="col-form-label ml-2"><strong>@Model.Username</strong></label>
            </div>
    	</div>

        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="FirstName" class="col-form-label"></label>
                <input asp-for="FirstName" class="form-control" autofocus="" />
                @*<span asp-validation-for="FirstName" class="form-text"></span>*@
            </div>
            <div class="form-group col-md-6">
                <label asp-for="LastName" class="col-form-label"></label>
                <input asp-for="LastName" class="form-control" />
                @*<span asp-validation-for="LastName" class="form-text"></span>*@
            </div>
            <div class="form-group col-md-6">
                <label asp-for="DateOfBirth" class="col-form-label"></label>
    		    <input asp-for="DateOfBirth" class="form-control" />
                @*<span asp-validation-for="DateOfBirth" class="form-text"></span>*@
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Company" class="col-form-label"></label>
    		    <input asp-for="Company" class="form-control" />
                @*<span asp-validation-for="Company" class="form-text"></span>*@
        	</div>
            <div class="form-group col-md-6">
                <label asp-for="Position" class="col-form-label"></label>
                <input asp-for="Position" class="form-control" />
                @*<span asp-validation-for="Position" class="form-text"></span>*@
            </div>
    	</div>
	</fieldset>

	<fieldset>
    	<legend>Address</legend>
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="PersonalEmail" class="col-form-label"></label>
    		    <input asp-for="PersonalEmail" class="form-control" />
                @*<span asp-validation-for="PersonalEmail" class="form-text"></span>*@
            </div>
            <div class="form-group col-md-6">
                <label asp-for="WorkEmail" class="col-form-label"></label>
    		    <input asp-for="WorkEmail" class="form-control" />
                @*<span asp-validation-for="WorkEmail" class="form-text"></span>*@
            </div>
            <div class="form-group col-md-6">
                <label asp-for="HomePhone" class="col-form-label"></label>
    		    <input asp-for="HomePhone" class="form-control" />
                @*<span asp-validation-for="HomePhone" class="form-text"></span>*@
            </div>
            <div class="form-group col-md-6">
                <label asp-for="MobilePhone" class="col-form-label"></label>
    		    <input asp-for="MobilePhone" class="form-control" />
                @*<span asp-validation-for="MobilePhone" class="form-text"></span>*@
            </div>
            <div class="form-group col-md-6">
                <label asp-for="WorkPhone" class="col-form-label"></label>
    		    <input asp-for="WorkPhone" class="form-control" />
                @*<span asp-validation-for="WorkPhone" class="form-text"></span>*@
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Address1" class="col-form-label"></label>
    		    <input asp-for="Address1" class="form-control" />
                @*<span asp-validation-for="Address1" class="form-text"></span>*@
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Address2" class="col-form-label"></label>
    		    <input asp-for="Address2" class="form-control" />
                @*<span asp-validation-for="Address2" class="form-text"></span>*@
            </div>
            <div class="form-group col-md-6">
                <label asp-for="City" class="col-form-label"></label>
    		    <input asp-for="City" class="form-control" />
                @*<span asp-validation-for="City" class="form-text"></span>*@
            </div>
            <div class="form-group col-md-6">
                <label asp-for="State" class="col-form-label"></label>
                <select class="custom-select w-100" asp-for="State" asp-items="(IEnumerable<SelectListItem>)ViewBag.States"></select>
                @*<span asp-validation-for="State" class="form-text"></span>*@
            </div>
            <div class="form-group col-md-6">
                <label asp-for="PostalCode" class="col-form-label"></label>
    		    <input asp-for="PostalCode" class="form-control" />
                @*<span asp-validation-for="PostalCode" class="form-text"></span>*@
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Country" class="col-form-label"></label>
                <select class="custom-select w-100" asp-for="Country" asp-items="(IEnumerable<SelectListItem>)ViewBag.Countries"></select>
                @*<span asp-validation-for="Country" class="form-text"></span>*@
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Website" class="col-form-label"></label>
                <input asp-for="Website" class="form-control" />
                @*<span asp-validation-for="Website" class="form-text"></span>*@
            </div>
    	</div>
	</fieldset>

    <fieldset>
    	<legend>Social Logins</legend>
        <p>
            If you have an account with one of the following systems, you can enable your account to use that
            system for logging in.  This might allow you to skip entering a username and password if you are already
            logged in to that system.
        </p>
        <p maw-alert-type="Info">
            To use this successfully, you <strong>must</strong> ensure that the email address on the social platform matches the
            email address for your mikeandwan.us account.  If this is not the case, <strong>please do not enable this option</strong>.
        </p>
        <div class="form-row">
            <div class="form-group col">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" asp-for="EnableGithubAuth" />
                    <label class="form-check-label" asp-for="EnableGithubAuth">
                        <svg-icon icon="Github" class="ml-2"></svg-icon> GitHub
                    </label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" asp-for="EnableGoogleAuth" />
                    <label class="form-check-label" asp-for="EnableGoogleAuth">
                        <svg-icon icon="GooglePlus" class="ml-2"></svg-icon> Google
                    </label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" asp-for="EnableMicrosoftAuth" />
                    <label class="form-check-label" asp-for="EnableMicrosoftAuth">
                        <svg-icon icon="Windows" class="ml-2"></svg-icon> Microsoft
                    </label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" asp-for="EnableTwitterAuth" />
                    <label class="form-check-label" asp-for="EnableTwitterAuth">
                        <svg-icon icon="Twitter" class="ml-2"></svg-icon> Twitter
                    </label>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="form-row">
        <div class="form-group col-sm-3">
            <button type="submit" class="btn btn-primary">Update Profile</button>
        </div>
    </div>
</form>