@{
	ViewBag.Title = "account | external authentication error";
}

@section body_head {
	<strong>External Authentication Error</strong>
}

@section body_foot {
    <a asp-action="Login"><svg-icon icon="Person"></svg-icon></a>
}

<div class="row">
    <div class="col-sm-12">
        <p maw-alert-type="Danger">
            Sorry, there was an error trying to authenticate you with the external service.
            If you haven't already, you must enable external authentication providers in your
            user profile after logging in with your username/password.
        </p>
    </div>
</div>
