@model MawAuth.ViewModels.Account.ForgotPasswordModel
@{
	ViewBag.Title = "account | forgot password";
}

@if(Model == null) {
    throw new InvalidOperationException("Model should not be null!");
}

@section body_head {
	<strong>Forgot Password</strong>
}

@section body_foot {
    <a maw-www-url="/about/contact"><svg-icon icon="Envelope"></svg-icon></a>
}

@if(Model.WasEmailAttempted && ViewContext.ViewData.ModelState.IsValid) {
	@* show same message regardless of whether account exists - avoid account enumeration attacks *@
	<p maw-alert-type="Success">
		You should receive an email shortly with instructions on how to complete resetting your password.
		If you do not receive this in the next 30 minutes, please try again or contact us for help.
	</p>
}
else {
	@if(!ViewContext.ViewData.ModelState.IsValid) {
		<p maw-alert-type="Danger">Password reset email was not sent.</p>
		<div class="text-danger" asp-validation-summary="All"></div>
	}

	<form asp-controller="account" asp-action="forgotpassword" method="post" autocomplete="off" role="form">
	    <div class="mb-3">
			<div class="input-group">
                <div class="input-group-text">
                    <svg-icon icon="At"></svg-icon>
                </div>
                <input asp-for="Email" class="form-control" autofocus="" placeholder="Email" />
                @*<span asp-validation-for="Email" class="form-text"></span>*@
            </div>
		</div>

	    <div class="row mb-3">
            <div class="col d-grid">
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </div>
	    </div>
	</form>
}
