@model MawAuth.ViewModels.Account.LoginModel
@{
    ViewBag.Title = "account | login";
}

@if(Model == null) {
    throw new InvalidOperationException("Model should not be null!");
}

@section body_head {
    <strong>Login</strong>
}

@section body_foot {
    <a asp-controller="account" asp-action="forgotpassword"><svg-icon icon="UnlockAlt"></svg-icon></a>
}

@if(Model.WasAttempted) {
    <p maw-alert-type="Danger">There was an error logging in. Please try again.</p>
    <div class="text-danger" asp-validation-summary="All"></div>
}

<form asp-controller="account" asp-action="login" method="post" autocomplete="off" role="form">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="mb-3">
        <div class="input-group">
            <div class="input-group-text">
                <svg-icon icon="Person"></svg-icon>
            </div>
            <input asp-for="Username" class="form-control" autofocus="" placeholder="Username" />
        </div>@*
        <span asp-validation-for="Username" class="form-text"></span>*@
    </div>

    <div class="mb-3">
        <div class="input-group">
            <div class="input-group-text">
                <svg-icon icon="Lock"></svg-icon>
            </div>
            <input asp-for="Password" class="form-control" placeholder="Password" />
        </div> @*
        <span asp-validation-for="Password" class="form-text"></span>*@
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <button type="submit" class="btn btn-primary col-12">Submit</button>
        </div>
    </div>
</form>

<hr/>

<div class="row">
    <div class="col-12 text-center">
        or login with an external provider
    </div>
</div>
<div class="row">
    @foreach(var scheme in Model.ExternalSchemes) {
        <div class="col-sm-6 mt-2">
            <a class="btn btn-primary d-block" asp-action="ExternalLogin" asp-route-provider="@scheme.ExternalAuth.Name" asp-route-returnUrl="@Model.ReturnUrl">
                @if(scheme.Icon != null) {
                <svg-icon class="me-2" icon="@((SvgIcon)scheme.Icon)"></svg-icon>
                } @scheme.ExternalAuth.DisplayName
            </a>
        </div>
    }
</div>
