@model MawAuth.ViewModels.Account.ResetPasswordModel
@{
    ViewBag.Title = "account | reset password";
}

@if(Model == null) {
    throw new InvalidOperationException("Model should not be null!");
}

@section body_head {
    <strong>Reset Password</strong>
}

@section body_foot {
    <a maw-www-url="/about/contact"><svg-icon icon="Envelope"></svg-icon></a>
}

@if(Model.WasReset) {
    <p maw-alert-type="Success">Your password was reset successfully.  You may now login with your new credentials.</p>
}
else {
    if(Model.ResetAttempted) {
        <p maw-alert-type="Danger">There was an error resetting your password.</p>
        <div asp-validation-summary="All" class="text-danger"></div>
    }

    <form asp-controller="account" asp-action="resetpassword" method="post" autocomplete="off" role="form">
        <input asp-for="Code" type="hidden" />
        <div class="mb-3">
            <div class="input-group">
                <div class="input-group-text">
                    <svg-icon icon="At"></svg-icon>
                </div>
                <input asp-for="Email" class="form-control" autofocus="" placeholder="Email" />
            </div>
        </div>
        <div class="mb-3">
            <div class="input-group">
                <div class="input-group-text">
                    <svg-icon icon="Lock"></svg-icon>
                </div>
                <input asp-for="NewPassword" class="form-control" placeholder="New Password" />
            </div>
        </div>
        <div class="mb-3">
            <div class="input-group">
                <div class="input-group-text">
                    <svg-icon icon="Lock"></svg-icon>
                </div>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col d-grid">
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </div>
        </div>
    </form>
}
