@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "reference | http rfcs";
}

@section header {
    <h1>HTTP Related RFCs</h1>
}

@section sidebar {
    @{
        var sidebarModel = new SidebarModel() { Group = "http", Item = "http-rfcs" };
    }
    <partial name="_ReferenceSidebar" model="sidebarModel" />
}

<p>This page provides a list of HTTP related RFCs.</p>

<div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr><th>Number</th><th>Title</th></tr>
        </thead>
        <tbody>
            <tr><td><a href="http://www.ietf.org/rfc/rfc1945.txt">1945</a></td><td>Hypertext Transfer Protocol -- HTTP/1.0</td></tr>
            <tr><td><a href="http://www.ietf.org/rfc/rfc2068.txt">2068</a></td><td>Hypertext Transfer Protocol -- HTTP/1.1</td></tr>
            <tr><td><a href="http://www.ietf.org/rfc/rfc2069.txt">2069</a></td><td>An Extension to HTTP: Digest Access Authentication</td></tr>
            <tr><td><a href="http://www.ietf.org/rfc/rfc2109.txt">2109</a></td><td>HTTP State Management Mechanism</td></tr>
            <tr><td><a href="http://www.ietf.org/rfc/rfc2145.txt">2145</a></td><td>Use and Interpretation of HTTP Version Numbers</td></tr>
            <tr><td><a href="http://www.ietf.org/rfc/rfc2169.txt">2169</a></td><td>A Trivial Convention for using HTTP in URN Resolution</td></tr>
            <tr><td><a href="http://www.ietf.org/rfc/rfc2227.txt">2227</a></td><td>Simple Hit-Metering and Usage-Limiting for HTTP</td></tr>
            <tr><td><a href="http://www.ietf.org/rfc/rfc2295.txt">2295</a></td><td>Transparent Content Negotiation in HTTP</td></tr>
            <tr><td><a href="http://www.ietf.org/rfc/rfc2296.txt">2296</a></td><td>HTTP Remote Variant Selection Algorithm -- RVSA/1.0</td></tr>
            <tr><td><a href="http://www.ietf.org/rfc/rfc2518.txt">2518</a></td><td>HTTP Extensions for Distributed Authoring -- WEBDAV</td></tr>
            <tr><td><a href="http://www.ietf.org/rfc/rfc2585.txt">2585</a></td><td>Internet X.509 Public Key Infrastructure Operational Protocols: FTP and HTTP</td></tr>
            <tr><td><a href="http://www.ietf.org/rfc/rfc2616.txt">2616</a></td><td>Hypertext Transfer Protocol -- HTTP/1.1</td></tr>
            <tr><td><a href="http://www.ietf.org/rfc/rfc2617.txt">2617</a></td><td>HTTP Authentication: Basic and Digest Access Authentication</td></tr>
            <tr><td><a href="http://www.ietf.org/rfc/rfc2774.txt">2774</a></td><td>An HTTP Extension Framework</td></tr>
            <tr><td><a href="http://www.ietf.org/rfc/rfc2817.txt">2817</a></td><td>Upgrading to TLS Within HTTP/1.1</td></tr>
            <tr><td><a href="http://www.ietf.org/rfc/rfc2818.txt">2818</a></td><td>HTTP Over TLS</td></tr>
            <tr><td><a href="http://www.ietf.org/rfc/rfc2935.txt">2935</a></td><td>Internet Open Trading Protocol (IOTP) HTTP Supplement</td></tr>
            <tr><td><a href="http://www.ietf.org/rfc/rfc2936.txt">2936</a></td><td>HTTP MIME Type Handler Detection</td></tr>
            <tr><td><a href="http://www.ietf.org/rfc/rfc2964.txt">2964</a></td><td>Use of HTTP State Management</td></tr>
            <tr><td><a href="http://www.ietf.org/rfc/rfc2965.txt">2965</a></td><td>HTTP State Management Mechanism</td></tr>
            <tr><td><a href="http://www.ietf.org/rfc/rfc3143.txt">3143</a></td><td>Known HTTP Proxy/Caching Problems</td></tr>
            <tr><td><a href="http://www.ietf.org/rfc/rfc3205.txt">3205</a></td><td>On the use of HTTP as a Substrate</td></tr>
            <tr><td><a href="http://www.ietf.org/rfc/rfc3229.txt">3229</a></td><td>Delta encoding in HTTP</td></tr>
            <tr><td><a href="http://www.ietf.org/rfc/rfc3230.txt">2230</a></td><td>Instance Digests in HTTP</td></tr>
            <tr><td><a href="http://www.ietf.org/rfc/rfc3310.txt">3310</a></td><td>Hypertext Transfer Protocol (HTTP) Digest Authentication Using Authentication and Key Agreement (AKA)</td></tr>
        </tbody>
    </table>
</div>
