@{
    ViewBag.Title = "reference";
}

<h1>Reference</h1>

<div class="row">
    <div class="col-sm-4">
        <div class="card mb-4">
		    <div class="card-header">
		        <strong class="card-title">HTML</strong>
		    </div>
            <div class="list-group list-group-flush">
	            <a class="list-group-item" asp-controller="reference" asp-action="htmlcolors">Colors</a>
	            <a class="list-group-item" asp-controller="reference" asp-action="htmldoctypes">Doctypes</a>
	            <a class="list-group-item" asp-controller="reference" asp-action="htmlentities">Entities</a>
	        </div>
		</div>
    </div>
    <div class="col-sm-4">
        <div class="card mb-4">
		    <div class="card-header">
		        <strong class="card-title">HTTP</strong>
		    </div>
	        <div class="list-group list-group-flush">
	            <a class="list-group-item" asp-controller="reference" asp-action="httpstatuscodes">Status Codes</a>
                <a class="list-group-item" asp-controller="reference" asp-action="httprfcs">RFCs</a>
	        </div>
		</div>
    </div>
    <div class="col-sm-4">
        <div class="card mb-4">
		    <div class="card-header">
		        <strong class="card-title">.Net Design Guidelines</strong>
		    </div>
	        <div class="list-group list-group-flush">
	            <a class="list-group-item" asp-controller="reference" asp-action="dotnetguidelinesfundamentals">Fundamentals</a>
	            <a class="list-group-item" asp-controller="reference" asp-action="dotnetguidelinesnaming">Naming</a>
	            <a class="list-group-item" asp-controller="reference" asp-action="dotnetguidelinestypedesign">Type Design</a>
	            <a class="list-group-item" asp-controller="reference" asp-action="dotnetguidelinesmemberdesign">Member Design</a>
	            <a class="list-group-item" asp-controller="reference" asp-action="dotnetguidelinesdesignforextensibility">Design for Extensibility</a>
	            <a class="list-group-item" asp-controller="reference" asp-action="dotnetguidelinesexceptions">Exceptions</a>
	            <a class="list-group-item" asp-controller="reference" asp-action="dotnetguidelinesusageguidelines">Usage Guidelines</a>
	            <a class="list-group-item" asp-controller="reference" asp-action="dotnetguidelinescommonpatterns">Common Patterns</a>
	        </div>
		</div>
    </div>
</div>
