<div class="row equal-height">
    <div class="col-lg-2 col-md-3 mb-3" *ngFor="let item of itemList">
        <div class="card" (click)="selectItem(item, rowIndex, itemIndex)" [ngClass]="{active: activeItem == item || hoverItem == item }">
            <div class="d-flex justify-content-center">
                <img class="card-img-top" [src]="item.imageUrl" [ngStyle]="{height: item.imageHeight + 'px', width: item.imageWidth + 'px'}" />
            </div>
            <app-svg-icon *ngIf="item.icon" [klass]="'icon badge'" [icon]="item.icon"></app-svg-icon>
            <div class="card-body p-2 text-center">
                <a *ngIf="item.title" (click)="selectItem(item, rowIndex, itemIndex)" (mouseover)="hoverItem = item" (mouseout)="hoverItem = null">{{item.title}}</a>
            </div>
        </div>
    </div>
</div>