.active .thumbnail, .thumbnail:hover { border-color: #52575C; }
.active .thumbnail img, .thumbnail:hover img { opacity: 1.0; filter: alpha(opacity=100); transition: all 0.2s ease-in-out 0s; }
.thumbnail { width: 164px; height: 122px; line-height: 116px; margin-bottom: 4px; padding: 0; cursor: pointer; text-align: center; }

/* https://css-tricks.com/centering-in-the-unknown/ */
.thumbnail:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; margin-left: -.15em; }

.thumbnail:hover + a { text-decoration: underline; }
.thumbnail img { display: inline-block; vertical-align: middle; max-height: 120px; max-width: 160px; opacity: 0.6; filter: alpha(opacity=60); }
.thumbnail-list-row > div  { margin-top: 6px; margin-bottom: 6px; }
.thumbnail.ng-enter, .thumbnail.ng-leave, .thumbnail.ng-move { -webkit-transition: 0.2s linear all; -moz-transition: 0.2s linear all; -o-transition: 0.2s linear all; transition: 0.2s linear all; }
.thumbnail.ng-enter, .thumbnail.ng-move { position: absolute; opacity: 0; overflow: hidden; }
.thumbnail.ng-move.ng-move-active, .thumbnail.ng-enter.ng-enter-active { position: relative; opacity: 100; }
.thumbnail.ng-leave { position: relative; opacity: 100; overflow: hidden; }
.thumbnail.ng-leave.ng-leave-active { position: absolute; left: -1000px; opacity: 0; }
.thumbnail.ng-enter-stagger, .thumbnail.ng-leave-stagger { -moz-transition-delay: 0.02s; -webkit-transition-delay: 0.02s; -o-transition-delay: 0.02s; transition-delay: 0.02s; -moz-transition-duration: 0; -webkit-transition-duration: 0; -o-transition-duration: 0; transition-duration: 0; }

.badge { display: none; position: absolute; border-radius: 4px 0; }

/* sm (and larger) */
@media (min-width: 768px) {
    .thumbnail { margin-bottom: 0; }
    .badge { display: inline-block; top: 103px; right: 12px; }
}

/* md (and larger) */
@media (min-width: 992px) {
    .badge { right: 42px; }
}

/* lg */
@media (min-width: 1200px) {
    .badge { right: 18px; }
}
