@{
    Layout = "_LayoutBase";

    if(ViewBag.width == null) {
        ViewBag.width = "col-12 offset-lg-3 col-lg-6";
    }
}

@section custom_head {
    @await RenderSectionAsync("custom_head", required: false)
}

@section stylesheets {
    @await RenderSectionAsync("stylesheets", required: false)
}

@section scripts_head {
    @await RenderSectionAsync("scripts_head", required: false)
}

<div class="container align-middle">
    <div class="row">
        <div class="@ViewBag.width">
            <h1 class="auth_banner"><a maw-www-url="/">mikeandwan.us</a></h1>
        </div>
    </div>
    <div class="row">
        <div class="@ViewBag.width">
            <div class="card text-white">
                <div class="card-header">
                    @await RenderSectionAsync("body_head")
                </div>
                <div class="card-body">
                    <div class="card-text">
                        @RenderBody()
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-end">
                        @await RenderSectionAsync("body_foot", required: false)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="text-center">
    <span>copyright &copy; @(DateTime.Now.Year) mike morano | all rights reserved</span>
</footer>

@section scripts_footer {
    @await RenderSectionAsync("scripts_footer", required: false)
}
