@using MawMvcApp.ViewComponents

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-head">
                <span class="sr-only">Toggle navigation</span>
                <svg-icon class="icon" icon="Bars"></svg-icon>
            </button>
            <a class="navbar-brand" href="/">mikeandwan.us</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-head">
            @await Component.InvokeAsync(nameof(PrimaryNav), new { activeZone = ViewBag.NavigationZone })
            @await Component.InvokeAsync(nameof(AccountStatus), new { activeZone = ViewBag.NavigationZone })
        </div>
    </div>
</nav>
