@using MawMvcApp.ViewComponents
@model bool

<nav class="navbar navbar-dark @if(Model){ <text>bg-primary</text> } navbar-expand-sm mb-3">
    <div class="container">
        <a class="navbar-brand" href="/">mikeandwan.us</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-head" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse-head">
            @await Component.InvokeAsync(nameof(PrimaryNav), new { activeZone = ViewBag.NavigationZone })
            @await Component.InvokeAsync(nameof(AccountStatus), new { activeZone = ViewBag.NavigationZone })
        </div>
    </div>
</nav>
