@{ ViewBag.Title = "admin"; }

@Html.Partial("_PageHeader", "Admin")

<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-default">
		    <div class="panel-heading">
		        <h3 class="panel-title">General</h3>
		    </div>
		    <div class="list-group">
				<a class="list-group-item" asp-controller="admin" asp-action="createblogpost">Create Blog Post</a>
		    </div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-default">
		    <div class="panel-heading">
		        <h3 class="panel-title">Manage Users</h3>
		    </div>
		    <div class="list-group">
				<a class="list-group-item" asp-controller="admin" asp-action="createuser">Create User</a>
				<a class="list-group-item" asp-controller="admin" asp-action="manageusers">Manage Users</a>
		    </div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="panel panel-default">
		    <div class="panel-heading">
		        <h3 class="panel-title">Manage Roles</h3>
		    </div>
		    <div class="list-group">
				<a class="list-group-item" asp-controller="admin" asp-action="createrole">Create Role</a>
				<a class="list-group-item" asp-controller="admin" asp-action="manageroles">Manage Roles</a>
		    </div>
		</div>
	</div>
</div>
