<div>
    <div class="row" [hidden]="!hasComments()">
    	<div class="col-sm-12">
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr>
                        <th class="col-2">User</th>
                        <th class="col-2">Date</th>
                        <th class="col-6">Comment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let comment of comments">
                        <td>{{comment.username}}</td>
                        <td>{{comment.entryDate | date:'longDate'}}</td>
                        <td>{{comment.commentText}}</td>
                    </tr>
                </tbody>
            </table>
    	</div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
            	<label for="addCommentTextarea">Add a comment</label>
          	    <textarea class="form-control" id="addCommentTextarea" [(ngModel)]="newComment" required></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-sm" (click)="addComment()" mawFocusRemover>Submit</button>
            </div>
        </div>
    </div>
</div>
