<p>
    Specify an address to start at.  You must specify either city and state, or the postal code, or both.
	<br />
	Example: <a href="#" (click)="showSampleAddress($event, 'The White House')">The White House</a>
</p>

<h2>Address:</h2>
<div class="form-group">
    <input type="text" [(ngModel)]="addressToMap" class="form-control" autofocus />
</div>
<div class="form-group">
    <button type="submit" (click)="showAddress()" class="btn btn-primary" mawFocusRemover>Submit</button>
</div>

<div class="row map" *ngIf="showMaps && !!poi && !!center">
    <div class="col-sm-12">
        <app-map
            [center]="center"
            [otherMapBounds]="map2Bounds"
            [poi]="poi"
            [zoom]="17"
            (boundsChanged)="onMap1BoundsChanged($event)"
            (centerChanged)="onCenterChanged($event)">
        </app-map>
    </div>
</div>

<div class="row map" *ngIf="showMaps && !!poi && !!center">
    <div class="col-sm-12">
        <app-map
            [center]="center"
            [otherMapBounds]="map1Bounds"
            [poi]="poi"
            [zoom]="13"
            (boundsChanged)="onMap2BoundsChanged($event)"
            (centerChanged)="onCenterChanged($event)">
        </app-map>
    </div>
</div>
