<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <add key="aspnet-ci-dev" value="https://dotnet.myget.org/F/aspnetcore-release/api/v3/index.json" />
 </packageSources>
</configuration>
