<div class="modal fade" tabindex="-1">
    <div class="modal-dialog" [ngClass]="sizeClass">
        <div class="modal-content">
            <div class="modal-header" *ngIf="title">
                <button type="button" class="close" (click)="onCancel()"><app-svg-icon [klass]="'icon icon-dialog-close'" [icon]="svgIcon.Close"></app-svg-icon></button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="content">
                    <ng-content></ng-content>
                </div>
            </div>
            <div class="modal-footer" *ngIf="buttons">
                <button type="button" class="btn btn-sm btn-default" *ngFor="let button of buttons" (click)="onButtonClick(button)">{{button.text}}</button>
            </div>
        </div>
    </div>
</div>
