/* https://github.com/twbs/bootstrap/issues/14040 */
body { padding-right: 0 !important; }

.navbar {
    padding-right: 0 !important;
    border-width: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
/* end hack */

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus { outline: none; }

.modal-footer { padding: 8px; }

/* shamelessly stolen from github */
kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
    font-weight: bold;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
}

.badge {
    display: none;
    position: absolute;
    border-radius: 4px 0;
    font-size: 20px;
}

/* sm (and larger) */
@media (min-width: 768px) {
    .badge {
        display: inline-block;
        top: 101px;
        right: 10px;
    }
}

/* md (and larger) */
@media (min-width: 992px) {
    .badge { right: 65px; }
}

/* lg */
@media (min-width: 1200px) {
    .badge { right: 17px; }
}
