$input-btn-padding-y: 0.5rem !default;

@import "bootswatch/dist/slate/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/slate/bootswatch";

.banner {
    height: 60px;
    margin-bottom: 10px;
    font-family: Tangerine, cursive;
    font-size: 2.4rem;
    background-image: url("/img/banner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    border-bottom: 1px solid $table-border-color;
}

footer {
    padding: 40px 0 40px;
    margin-top: 80px;
    background: none repeat scroll 0 0 $table-border-color;
}

/* https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b4 */
.svg-icon {
    position: relative;
    display: inline-flex;
    align-self: center;
    width: 1em;
    height: 1em;

    & svg {
        width: 1em;
        height: 1em;
        fill: $body-color;
    }

    &.svg-baseline svg {
        position: absolute;
        bottom: -0.125em;
    }

    &.hp-feature {
        font-size: 7rem;
    }
}

@media (min-width: 2000px) {
    .banner {
        height: 240px;
        margin-bottom: 40px;
        background-image: url("/img/banner_xl.jpg");
    }
}

@media (min-width: 768px) {
    .banner {
        height: 120px;
        margin-bottom: 20px;
    }
}
