<!--
<div *ngIf="'false'">
    <p maw-alert-type="Danger">
        The following errors were encountered:
    </p>

    <ul class="text-danger">
        <li *ngFor="let err of getUnsuccessfulResults()">{{err.FileName}}: {{err.Error}}</li>
    </ul>
</div>

<div *ngIf="'false'">
    <p maw-alert-type="Success">
        The following were processed successfully:
    </p>
    <ul class="text-success">
        <li *ngFor="let success of getUnsuccessfulResults()">{{success.FileName}}</li>
    </ul>
</div>
-->
