@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | byte counter";
}

@section custom_head {
    <base href="/" />
}

@section stylesheets {
    <link rel="stylesheet" href="/js/byte_counter/styles.css" />
}

@section scripts_footer {
    <script type="text/javascript" src="/js/byte_counter/runtime.js"></script>
    <script type="text/javascript" src="/js/byte_counter/polyfills.js"></script>
    <script type="text/javascript" src="/js/byte_counter/main.js"></script>
}

@section header {
    <h1>Byte Counter</h1>
}

@section sidebar {
    @{
        var sidebarModel = new SidebarModel() { Group = "dotnet", Item = "byte-counter" };
    }
    <partial name="_ToolSidebar" model="sidebarModel" />
}

<p>
    I developed this page after often having a desire to quickly get a count of bytes that are used
    in ViewState in an ASP.Net page.  Although I no longer use webforms and hence am not so concerned
    with ViewState, this still can come in handy on occasions.
</p>

<section>
    <app-root>Loading...</app-root>
</section>
