@model MawMvcApp.ViewModels.Tools.ByteCounterViewModel
@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | byte counter";
}

@if(Model == null) {
    throw new InvalidOperationException("Model should not be null!");
}

@section header {
    <h1>Byte Counter</h1>
}

@section sidebar {
    @{
        var sidebarModel = new SidebarModel() { Group = "dotnet", Item = "byte-counter" };
    }
    <partial name="_ToolSidebar" model="sidebarModel" />
}

<p>
    I developed this page after often having a desire to quickly get a count of bytes that are used
    in ViewState in an ASP.Net page.  Although I no longer use webforms and hence am not so concerned
    with ViewState, this still can come in handy on occasions.
</p>

<section>
    <form asp-controller="tools" asp-action="ByteCounter" method="post" autocomplete="off" role="form">
        <div class="mb-3">
            <label asp-for="Text" class="form-label"></label>
            <textarea asp-for="Text" rows="12" class="form-control" autofocus></textarea>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Count</button>
            <button type="reset" class="btn btn-primary">Clear</button>
        </div>
    </form>

    <table class="table table-striped table-hover table-sm">
        <tr>
            <td>Bytes</td>
            <td>@Model.Bytes.ToString("#,##0")</td>
        </tr>
        <tr>
            <td>Kilobytes</td>
            <td>@Model.Kilobytes.ToString("#,##0.00")</td>
        </tr>
        <tr>
            <td>Megabytes</td>
            <td>@Model.Megabytes.ToString("#,##0.00")</td>
        </tr>
    </table>
</section>
