
@model MawMvcApp.ViewModels.Tools.ColorConverterModel
@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | color converter";
}

@section header {
    <h1>Color Converter</h1>
}

@section sidebar {
    @{
        var sidebarModel = new SidebarModel() { Group = "dotnet", Item = "color-converter" };
    }
    <partial name="_ToolSidebar" model="sidebarModel" />
}

@if(Model.HasErrors) {
    <p maw-alert-type="Danger">
        @if(Model.ErrorMessage != null) {
            <text>Model.ErrorMessage</text>
        }
        else {
            <text>Please correct the errors below:</text>
        }
    </p>
    <div class="text-danger" asp-validation-summary="All"></div>
}

<p>This page allows you to translate between different color code formats.</p>

@if(!string.IsNullOrEmpty(Model.HexColorCode)) {
    <div class="row">
        <div class="col">
            <div style="background-color: @Model.HtmlColorCode">&nbsp;</div>
        </div>
    </div>
}

<div class="row">
    <div class="col">
        <form asp-controller="tools" asp-action="colorconverter" method="post" autocomplete="off" role="form">
            <input type="hidden" asp-for="ConversionMode" value="FromHex" />
            <div class="mb-3">
                <label asp-for="HexColorCode" class="form-label"></label>
                <input asp-for="HexColorCode" class="form-control" autofocus="" />
                @*<span asp-validation-for="HexColorCode" class="form-text"></span>*@
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Convert to RGBA</button>
            </div>
        </form>
    </div>

    <div class="col">
        <form asp-controller="tools" asp-action="colorconverter" method="post" autocomplete="off" role="form">
            <input type="hidden" asp-for="ConversionMode" value="FromComponents" />
            <div class="mb-3">
                <label asp-for="RedComponent" class="form-label"></label>
                <input asp-for="RedComponent" class="form-control" />
                @*<span asp-validation-for="RedComponent" class="form-text"></span>*@
            </div>

            <div class="mb-3">
                <label asp-for="GreenComponent" class="form-label"></label>
                <input asp-for="GreenComponent" class="form-control" />
                @*<span asp-validation-for="GreenComponent" class="form-text"></span>*@
            </div>

            <div class="mb-3">
                <label asp-for="BlueComponent" class="form-label"></label>
                <input asp-for="BlueComponent" class="form-control" />
                @*<span asp-validation-for="BlueComponent" class="form-text"></span>*@
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Convert to Hex</button>
            </div>
        </form>
    </div>
</div>
