@model IEnumerable<MawMvcApp.ViewModels.Tools.Dotnet.FormatExampleGroup>
@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | .net date formatting";
}

@section header {
    <h1>Date Formatting</h1>
}

@section sidebar {
    @{
        var sidebarModel = new SidebarModel() { Group = "dotnet", Item = "dotnet-formatting-dates" };
    }
    <partial name="_ToolSidebar" model="sidebarModel" />
}

<p>
    The following are examples that show the output of formatting
    <strong>October 3, 1977 3:24.46.789 AM EST</strong>.
    Note that there are many more things you can do as far as formatting dates in the framework.  For example
    the samples below do not even broach the subject of culture specific formatting.  For (significantly)
    more detail, visit the API documentation at MSDN.
</p>

<partial name="_DotnetFormatExampleGroupListing" model="Model" />
