@model IEnumerable<MawMvcApp.ViewModels.Tools.Dotnet.FormatExampleGroup>
@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | .net number formatting";
}

@section header {
    <h1>Number Formatting</h1>
}

@section sidebar {
    @{
        var sidebarModel = new SidebarModel() { Group = "dotnet", Item = "dotnet-formatting-numbers" };
    }
    <partial name="_ToolSidebar" model="sidebarModel" />
}

<p>
    The following are examples that show the output of formatting <strong>1,234.125678</strong>. Note
    for the set of examples below, we use a double value unless otherwise stated.
</p>

<partial name="_DotnetFormatExampleGroupListing" model="Model" />
