@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | google maps";
}

@section custom_head {
    <base href="/" />
}

@section stylesheets {
    <link rel="stylesheet" href="/js/googlemaps/styles.css" />
}

@section scripts_footer {
    <partial name="_js_GoogleMaps" />
    <script type="text/javascript" src="/js/googlemaps/runtime.js"></script>
    <script type="text/javascript" src="/js/googlemaps/polyfills.js"></script>
    <script type="text/javascript" src="/js/googlemaps/main.js"></script>
}

@section header {
    <h1>Google Maps</h1>
}

@section sidebar {
    @{
        var sidebarModel = new SidebarModel() { Group = "general", Item = "google-maps" };
    }
    <partial name="_ToolSidebar" model="sidebarModel" />
}

<section>
    <p>
        The maps below are "linked" together so that you can look at the same area at different zoom levels
        and have the panning move together.
    </p>

    <app-root>Loading...</app-root>
</section>
