@model MawMvcApp.ViewModels.Tools.Dotnet.HtmlEncodeDecodeModel
@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | html encoder / decoder";
}

@if(Model == null) {
    throw new InvalidOperationException("Model should not be null!");
}

@section header {
    <h1>HTML Encoder / Decoder</h1>
}

@section sidebar {
    @{
        var sidebarModel = new SidebarModel() { Group = "dotnet", Item = "html-encode" };
    }
    <partial name="_ToolSidebar" model="sidebarModel" />
}

@if(Model.HasErrors) {
    <p maw-alert-type="Danger">
        Please correct the errors below:
    </p>
    <div class="text-danger" asp-validation-summary="All"></div>
}

<p>This page allows you to encode and decode values suitable for HTML content.</p>

<form asp-controller="tools" asp-action="htmlencode" method="post" autocomplete="off" role="form">
    <input type="hidden" asp-for="Mode" value="Encode" />
    <div class="mb-3">
        <label asp-for="DecodedString" class="form-label"></label>
        <textarea asp-for="DecodedString" rows="8" class="form-control" autofocus=""></textarea>
        @*<span asp-validation-for="DecodedString" class="form-text"></span>*@
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Encode</button>
    </div>
</form>

<form asp-controller="tools" asp-action="htmlencode" method="post" autocomplete="off" role="form">
    <input type="hidden" asp-for="Mode" value="Decode" />
    <div class="mb-3">
        <label asp-for="EncodedString" class="form-label"></label>
        <textarea asp-for="EncodedString" rows="8" class="form-control"></textarea>
        @*<span asp-validation-for="EncodedString" class="form-text"></span>*@
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Decode</button>
    </div>
</form>
