@{
    ViewBag.Title = "tools";
}

<h1>Tools</h1>

<div class="row">
    <div class="col">
        <div class="card mb-4">
		    <div class="card-header">
		        <strong class="card-title">General</strong>
		    </div>
	        <div class="list-group list-group-flush">
	            <a class="list-group-item" asp-controller="tools" asp-action="rollthedice">Roll the Dice</a>
	            <a class="list-group-item" asp-controller="tools" asp-action="googlemaps">Google Maps</a>
	            <a class="list-group-item" asp-controller="tools" asp-action="weekendcountdown">Weekend Countdown</a>
	            <a class="list-group-item" asp-controller="tools" asp-action="weather">Weather</a>
	            <a class="list-group-item" asp-controller="tools" asp-action="gpsconversion">Gps Coordinate Conversions</a>
	            <a class="list-group-item" asp-controller="tools" asp-action="guidgen">GUID Generator</a>
	        </div>
		</div>
    </div>
    <div class="col">
        <div class="card mb-4">
		    <div class="card-header">
		        <strong class="card-title">Networking</strong>
		    </div>
		    <div class="list-group list-group-flush">
	            <a class="list-group-item" asp-controller="tools" asp-action="networkingbandwidth">Bandwidth Calculator</a>
	            <a class="list-group-item" asp-controller="tools" asp-action="networkingfilesize">File Size</a>
	            <a class="list-group-item" asp-controller="tools" asp-action="networkingtime">Time</a>
		    </div>
		</div>

        <div class="card mb-4">
		    <div class="card-header">
		        <strong class="card-title">Binary Clock</strong>
		    </div>
		    <div class="list-group list-group-flush">
	            <a class="list-group-item" asp-controller="tools" asp-action="binaryclock">Binary Clock</a>
                <a class="list-group-item" asp-controller="tools" asp-action="binaryclockabout">About Binary Clock</a>
		    </div>
		</div>

        <div class="card mb-4">
		    <div class="card-header">
		        <strong class="card-title">Learning</strong>
		    </div>
		    <div class="list-group list-group-flush">
		        <a class="list-group-item" asp-controller="tools" asp-action="learning">Letters and Numbers</a>
		    </div>
		</div>
    </div>
    <div class="col">
        <div class="card mb-4">
		    <div class="card-header">
		        <strong class="card-title">.Net</strong>
		    </div>
		    <div class="list-group list-group-flush">
	            <a class="list-group-item" asp-controller="tools" asp-action="dotnetregex">Regular Expressions</a>
	            <a class="list-group-item" asp-controller="tools" asp-action="dotnetformattingdates">Date Formatting</a>
	            <a class="list-group-item" asp-controller="tools" asp-action="dotnetformattingnumbers">Number Formatting</a>
	            <a class="list-group-item" asp-controller="tools" asp-action="bytecounter">Byte Counter</a>
	            <a class="list-group-item" asp-controller="tools" asp-action="datediff">Date Difference</a>
	            <a class="list-group-item" asp-controller="tools" asp-action="colorconverter">Color Converter</a>
	            <a class="list-group-item" asp-controller="tools" asp-action="htmlencode">Html Encode / Decode</a>
	            <a class="list-group-item" asp-controller="tools" asp-action="paths">Paths</a>
	            <a class="list-group-item" asp-controller="tools" asp-action="randombytes">Random Bytes</a>
	            <a class="list-group-item" asp-controller="tools" asp-action="urlencode">Url Encode / Decode</a>
				<a class="list-group-item" asp-controller="tools" asp-action="xmlvalidate">XML Validator</a>
				<a class="list-group-item" asp-controller="tools" asp-action="xsdvalidate">XSD Validator</a>
				<a class="list-group-item" asp-controller="tools" asp-action="xsltransform">XSL Transform</a>
		    </div>
		</div>
    </div>
</div>
