@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "learning";
}

@section custom_head {
    <base href="/" />
}

@section stylesheets {
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:700" />
    <link rel="stylesheet" href="/js/learning/styles.css" />
}

@section scripts_footer {
    <script src="/js/learning/runtime.js" defer></script>
    <script src="/js/learning/polyfills.js" defer></script>
    <script src="/js/learning/main.js" defer></script>
}

@section header {
    <h1>Learning</h1>
}

@section sidebar {
    @{
        var sidebarModel = new SidebarModel() { Group = "learning", Item = "learning" };
    }
    <partial name="_ToolSidebar" model="sidebarModel" />
}

<p>
    This originally was a small tool that hopefully would help me learn Silverlight, and letters and numbers for my
    daughter.  However, this was only partially successful - my daughter mastered her part, but I am still clueless
    with Silverlight, but that is ok, as it is effectively dead.  Instead, this is now an attempt for me to learn
    angular js, before a re-write of the more complicated picture application.
</p>

<section>
    <div class="row">
        <div class="col-sm-4 offset-sm-4">
            <app-root>Loading...</app-root>
        </div>
    </div>
</section>
