@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | networking | time";
}

@section custom_head {
    <base href="/" />
}

@section stylesheets {
    <link rel="stylesheet" href="/js/time/styles.css" />
}

@section scripts_footer {
    <script type="text/javascript" src="/js/time/runtime.js"></script>
    <script type="text/javascript" src="/js/time/polyfills.js"></script>
    <script type="text/javascript" src="/js/time/main.js"></script>
}

@section header {
    <h1>Time Calculator</h1>
}

@section sidebar {
    @await Html.PartialAsync("_ToolSidebar", new SidebarModel() { Group = "networking", Item = "networking-time" })
}

<p>
    This page provides a calculator to view equivalent time measures.
</p>

<section>
    <app-root>Loading...</app-root>
</section>
