@model MawMvcApp.ViewModels.Tools.FileSize.FileSizeViewModel
@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | networking | file size";
}

@section header {
    <h1>File Size Calculator</h1>
}

@section sidebar {
    @{
        var sidebarModel = new SidebarModel() { Group = "networking", Item = "networking-file-size" };
    }
    <partial name="_ToolSidebar" model="sidebarModel" />
}

<p>
    Use the form below to see the size of a file in different scales.
</p>

<br />

<section>
    @if(!string.IsNullOrEmpty(Model.ErrorMessage)) {
        <p maw-alert-type="Danger">
            <text>@Model.ErrorMessage</text>
        </p>
    }

    <form asp-controller="tools" asp-action="FileSize" method="post" autocomplete="off" role="form">
        <div class="row">
            <div class="form-group col-sm-3">
                <label asp-for="Size" class="col-form-label"></label>
            </div>

            <div class="form-group col-sm-3">
                <input type="text" asp-for="Size" class="form-control" autofocus />
            </div>

            <div class="form-group col-sm-3">
                <select class="form-control w-100" asp-for="SizeScale">
                    <option value="b">B</option>
                    <option value="kb">KB</option>
                    <option value="mb">MB</option>
                    <option value="gb">GB</option>
                </select>
            </div>

            <div class="form-group col-sm-3">
                <button type="submit" class="btn btn-primary">Calculate</button>
            </div>
        </div>
    </form>

    @if(Model.Results != null) {
        <div class="table-responsive">
            <table class="table table-striped table-hover table-sm">
                <tr><th>Size</th><th>Measure</th></tr>
                @foreach(var result in Model.Results) {
                    <tr>
                        <td>@result.SizeInUnits.ToString("#,##0.00")</td>
                        <td>@result.Name</td>
                    </tr>
                }
            </table>
        </div>
    }

    <br />

    Note: 1 GB = 1,024 MB
    <br/>
    Note: 1 MB = 1,024 KB
    <br/>
    Note: 1 KB = 1,024 B
    <br/>
    Note: 1 B = 8 bits
</section>
