@model MawMvcApp.ViewModels.Tools.Dotnet.PathsModel
@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | .net path methods";
}

@if(Model == null) {
    throw new InvalidOperationException("Model should not be null!");
}

@section header {
    <h1>Path Related API Examples</h1>
}

@section sidebar {
    @{
        var sidebarModel = new SidebarModel() { Group = "dotnet", Item = "paths" };
    }
    <partial name="_ToolSidebar" model="sidebarModel" />
}

<table class="table table-responsive table-striped table-hover table-sm">
	<thead>
		<tr>
	        <th>API Call</th>
	        <th>Result</th>
	    </tr>
    </thead>
    <tbody>

	@foreach(var item in Model.Paths) {
		<tr>
			<td>@item[0]</td>
			<td>@item[1]</td>
		</tr>
	}

	</tbody>
</table>
