@model MawMvcApp.ViewModels.Tools.Dotnet.RandomBytesModel
@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | random bytes";
}

@if(Model == null) {
    throw new InvalidOperationException("Model should not be null!");
}

@section header {
    <h1>Random Bytes</h1>
}

@section sidebar {
    @{
        var sidebarModel = new SidebarModel() { Group = "dotnet", Item = "random-bytes" };
    }
    <partial name="_ToolSidebar" model="sidebarModel" />
}

@if(Model.HasErrors) {
    <p maw-alert-type="Danger">
        Please correct the errors below:
    </p>
    <div class="text-danger" asp-validation-summary="All"></div>
}

<p>
This page allows you to generate a list of random bytes.  I've created this after wanting a more random
sequence of bytes than manually typing these in, primarily for use in the machinekey section of the
web.config for this site.  Additionally, this uses a cryptographic random number generator, so it should
result in a good random value.
</p>

<form asp-controller="tools" asp-action="randombytes" method="post" autocomplete="off" role="form">
    <div class="row mb-3">
        <div class="col-sm-4">
            <label asp-for="Size" class="form-label"></label>
            <input asp-for="Size" class="form-control" autofocus="" />
            @*<span asp-validation-for="Size" class="form-text"></span>*@
        </div>
    </div>

    <div class="mb-3">
        <button  type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

@if(!string.IsNullOrEmpty(Model.RandomBytes)) {
    <h2>Results</h2>
    <div class="mb-3">
        <label asp-for="RandomBytes" class="form-label"></label>
        <textarea asp-for="RandomBytes" rows="5" class="form-control" autofocus=""></textarea>
    </div>
    <div class="mb-3">
        <label asp-for="RandomBytesBase64" class="form-label"></label>
        <textarea asp-for="RandomBytesBase64" rows="5" class="form-control" autofocus=""></textarea>
    </div>
}
