@using MawMvcApp.ViewModels.Tools.Dotnet
@model UrlEncodeModel
@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | url encoder / decoder";
}

@section header {
    <h1>URL Encoder / Decoder</h1>
}

@section sidebar {
    @await Html.PartialAsync("_ToolSidebar", new SidebarModel() { Group = "dotnet", Item = "url-encode" })
}

@if(Model.HasErrors) {
    <p maw-alert-type="Danger">
        Please correct the errors below:
    </p>
    <div class="text-danger" asp-validation-summary="All"></div>
}

<p>This page allows you to encode and decode values suitable for a querystring.</p>

<form asp-controller="tools" asp-action="urlencode" method="post" autocomplete="off" role="form">
	<input type="hidden" name="Mode" value="@EncodeMode.Encode" />
	<div class="form-group">
        <label asp-for="DecodedString" class="col-form-label"></label>
        <textarea asp-for="DecodedString" rows="8" class="form-control" autofocus=""></textarea>
        @*<span asp-validation-for="DecodedString" class="form-text"></span>*@
	</div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Encode</button>
    </div>
</form>

<form asp-controller="tools" asp-action="urlencode" method="post" autocomplete="off" role="form">
	<input type="hidden" name="Mode" value="@EncodeMode.Decode" />
    <div class="form-group">
        <label asp-for="EncodedString" class="col-form-label"></label>
        <textarea asp-for="EncodedString" rows="8" class="form-control"></textarea>
        @*<span asp-validation-for="EncodedString" class="form-text"></span>*@
	</div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Decode</button>
    </div>
</form>
