@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | weekend countdown";
}

@section custom_head {
    <base href="/" />
}

@section stylesheets {
    <link rel="stylesheet" href="/js/weekend_countdown/styles.css" />
}

@section scripts_footer {
    <script type="text/javascript" src="/js/weekend_countdown/runtime.js"></script>
    <script type="text/javascript" src="/js/weekend_countdown/polyfills.js"></script>
    <script type="text/javascript" src="/js/weekend_countdown/main.js"></script>
}

@section header {
    <h1>Weekend Countdown</h1>
}

@section sidebar {
    @{
        var sidebarModel = new SidebarModel() { Group = "general", Item = "weekend-countdown" };
    }
    <partial name="_ToolSidebar" model="sidebarModel" />
}

<section>
    <app-root>Loading...</app-root>
</section>
