@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | weekend countdown";
}

@section custom_head {
    <base href="/" />
}

@section stylesheets {
    <link rel="stylesheet" href="/js/weekend-countdown/styles.css" />
}

@section scripts_footer {
    <script src="/js/weekend-countdown/runtime-es2015.js" type="module"></script>
    <script src="/js/weekend-countdown/polyfills-es2015.js" type="module"></script>
    <script src="/js/weekend-countdown/runtime-es5.js" nomodule></script>
    <script src="/js/weekend-countdown/polyfills-es5.js" nomodule></script>
    <script src="/js/weekend-countdown/main-es2015.js" type="module"></script>
    <script src="/js/weekend-countdown/main-es5.js" nomodule></script>
}

@section header {
    <h1>Weekend Countdown</h1>
}

@section sidebar {
    @{
        var sidebarModel = new SidebarModel() { Group = "general", Item = "weekend-countdown" };
    }
    <partial name="_ToolSidebar" model="sidebarModel" />
}

<section>
    <app-root>Loading...</app-root>
</section>
