@using MawMvcApp.ViewComponents
@model AccountStatusViewModel

<ul class="navbar-nav">
    @if(Model.IsAuthenticated) {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><svg-icon icon="Person"></svg-icon></a>
            <div class="dropdown-menu">
                <a class="dropdown-item" maw-auth-url="/account/change-password">change password</a>
                <a class="dropdown-item" maw-auth-url="/account/edit-profile">edit profile</a>
                <a class="dropdown-item" asp-controller="account" asp-action="logout">logout</a>
            </div>
        </li>
    }
    else {
        <li class="nav-item"><a asp-controller="account" asp-action="login" class="nav-link px-3"><svg-icon icon="Person"></svg-icon></a></li>
    }

	<li class="nav-item"><a asp-controller="about" asp-action="contact" class="nav-link px-3"><svg-icon icon="Envelope"></svg-icon></a></li>
</ul>
