:host:hover, 
:host.active {
    border-color: #52575c;
    cursor: pointer;
}

:host img {
    opacity: 0.6;
}

:host:hover img,
:host.active img {
    opacity: 1;
}

.imgtop {
    min-height: 160px;
}
