@using MawMvcApp.ViewModels
@model NavigationZone

<ul class="nav navbar-nav">
    <li maw-action="Index" maw-controller="About" maw-text="about" maw-active="@Model == NavigationZone.About"></li>
    <li maw-action="Index" maw-controller="Reference" maw-text="reference" maw-active="@Model == NavigationZone.Reference"></li>
    <li maw-action="Index" maw-controller="Tools" maw-text="tools" maw-active="@Model == NavigationZone.Tools"></li>
    <li maw-action="Index" maw-controller="Games" maw-text="games" maw-active="@Model == NavigationZone.Games"></li>
    <li maw-action="Index" maw-controller="Webgl" maw-text="webgl" maw-active="@Model == NavigationZone.Webgl"></li>

    @if(ViewBag.AuthzPhoto) {
        <li maw-action="Index" maw-controller="Photos" maw-icon="fa-camera" maw-route-extra="" maw-active="@Model == NavigationZone.Photos"></li>
    }

	@if(ViewBag.AuthzVideo) {
        <li maw-action="Index" maw-controller="Videos" maw-icon="fa-video-camera" maw-route-extra="" maw-active="@Model == NavigationZone.Videos"></li>
    }

    @if(ViewBag.AuthzAdmin) {
        <li maw-action="Index" maw-controller="Admin" maw-icon="fa-cog" maw-active="@Model == NavigationZone.Administration"></li>
    }
</ul>
