@model MawAuth.ViewModels.Admin.IdentityResultModel
@if(Model.Result != null) {
	if(Model.Result.Succeeded) {
		<p class="alert alert-success">
		    The @Model.EntityName was created successfully.
		</p>
	}
	else {
		<div class="alert alert-danger">
		    There was an error trying to edit or create the @Model.EntityName:
		</div>
		@Html.Partial("_identityErrors", Model.Result.Errors)
		<div class="text-danger" asp-validation-summary="All"></div>
	}
}