@using MawAuth.ViewModels.Admin
@model DeleteRoleModel
@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "admin | delete role";
}

@section body_head {
    <strong>Delete Role (@Model.Role)</strong>
}

@section body_foot {
    <a asp-action="Index" asp-controller="Admin"><svg-icon icon="Cog"></svg-icon></a>
}

@await Html.PartialAsync("_identityResult", new IdentityResultModel("role", Model.Result))

@if(Model.Result == null || !Model.Result.Succeeded) {
	<form asp-controller="admin" asp-action="deleterole" method="post" autocomplete="off" role="form">
		<input asp-for="Role" type="hidden" />

	    <div class="row">
            <div class="col">
                <div class="form-group">
		        	<button type="submit" name="delete" class="btn btn-primary btn-block">Yes</button>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">No</button>
                </div>
            </div>
        </div>
	</form>
}
