@using MawAuth.ViewModels.Admin
@model DeleteUserModel
@{ ViewBag.Title = "admin | delete user"; }

<h1>Delete User</h1>

@Html.Partial("_identityResult", new IdentityResultModel("user", Model.Result))

@if(Model.Result == null || !Model.Result.Succeeded) {
	<p>Are you sure you would like to delete user <strong>@Model.Username</strong>?</p>

	<form asp-controller="admin" asp-action="deleteuser" method="post" autocomplete="off" role="form">
		<input asp-for="Username" type="hidden" />

	    <div class="form-group">
			<button type="submit" name="delete" class="btn btn-primary">Yes</button>
			<button type="submit" class="btn btn-primary">No</button>
	    </div>
	</form>
}
