@using MawAuth.ViewModels.Admin
@model DeleteUserModel
@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "admin | delete user";
}

@section body_head {
    <strong>Delete User (@Model.Username)</strong>
}

@section body_foot {
    <a asp-action="Index" asp-controller="Admin"><svg-icon icon="Cog"></svg-icon></a>
}

@{
    var resultModel = new IdentityResultModel("user", Model.Result);
}

<partial name="_identityResult" model="resultModel" />

@if(Model.Result == null || !Model.Result.Succeeded) {
	<form asp-controller="admin" asp-action="deleteuser" method="post" autocomplete="off" role="form">
		<input asp-for="Username" type="hidden" />

        <div class="row">
            <div class="col">
                <button type="submit" name="delete" class="btn btn-primary btn-block">Yes</button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary btn-block">No</button>
            </div>
        </div>
	</form>
}
