@using MawAuth.ViewModels.Admin
@model EditProfileModel
@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "admin | edit profile";
}

@if(Model == null) {
    throw new InvalidOperationException("Model should not be null!");
}

@section body_head {
    <strong>Edit User Profile (@Model.Username)</strong>
}

@section body_foot {
    <a asp-action="Index" asp-controller="Admin"><svg-icon icon="Cog"></svg-icon></a>
}

@{
    var resultModel = new IdentityResultModel("user profile", Model.Result);
}

<partial name="_identityResult" model="resultModel" />

<form asp-controller="admin" asp-action="editprofile" method="post" autocomplete="off" role="form">
	<input asp-for="Username" type="hidden" />

    <div class="row">
        <div class="mb-3 col-md-6">
            <input asp-for="FirstName" class="form-control" autofocus="" placeholder="First Name" />
            @*<span asp-validation-for="FirstName" class="form-text"></span>*@
        </div>
        <div class="mb-3 col-md-6">
            <input asp-for="LastName" class="form-control" placeholder="Last Name" />
            @*<span asp-validation-for="LastName" class="form-text"></span>*@
        </div>
        <div class="mb-3 col-12">
            <div class="input-group">
                <div class="input-group-text">
                    <svg-icon icon="At"></svg-icon>
                </div>
                <input asp-for="Email" class="form-control" placeholder="Email" />
                @*<span asp-validation-for="Email" class="form-text"></span>*@
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col d-grid">
		    <button type="submit" class="btn btn-primary">Save Profile</button>
        </div>
    </div>
</form>
