@using MawAuth.ViewModels.Admin
@model EditProfileModel
@{ ViewBag.Title = "admin | edit profile"; }

<h1>Edit User Profile</h1>

@Html.Partial("_identityResult", new IdentityResultModel("user profile", Model.Result))

<p>Please update the basic profile data for <strong>@Model.Username</strong> below, and then submit the changes.</p>

<form asp-controller="admin" asp-action="editprofile" method="post" autocomplete="off" role="form">
	<input asp-for="Username" type="hidden" />

    <div class="form-group">
		<label asp-for="FirstName" class="col-form-label"></label>

		<div class="row">
			<div class="col-sm-6">
				<input asp-for="FirstName" class="form-control" autofocus="" />
				@*<span asp-validation-for="FirstName" class="form-text"></span>*@
			</div>
		</div>
	</div>

    <div class="form-group">
		<label asp-for="LastName" class="col-form-label"></label>

		<div class="row">
			<div class="col-sm-6">
				<input asp-for="LastName" class="form-control" />
				@*<span asp-validation-for="LastName" class="form-text"></span>*@
			</div>
		</div>
	</div>

    <div class="form-group">
		<label asp-for="Email" class="col-form-label"></label>

		<div class="row">
			<div class="col-sm-6">
				<input asp-for="Email" class="form-control" />
				@*<span asp-validation-for="Email" class="form-text"></span>*@
			</div>
		</div>
	</div>

    <div class="form-group">
		<button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
