@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "admin";
}

@section body_head {
    <strong>Admin</strong>
}

<div class="row">
    <div class="col-sm">
        <div class="card mb-4">
            <div class="card-header">
                <strong class="card-title">Manage Users</strong>
            </div>
            <div class="list-group list-group-flush">
                <a class="list-group-item" asp-controller="admin" asp-action="createuser">Create User</a>
                <a class="list-group-item" asp-controller="admin" asp-action="manageusers">Manage Users</a>
            </div>
        </div>
    </div>

    <div class="col-sm">
        <div class="card mb-4">
            <div class="card-header">
                <strong class="card-title">Manage Roles</strong>
            </div>
            <div class="list-group list-group-flush">
                <a class="list-group-item" asp-controller="admin" asp-action="createrole">Create Role</a>
                <a class="list-group-item" asp-controller="admin" asp-action="manageroles">Manage Roles</a>
            </div>
        </div>
    </div>
</div>
