@{ 
   ViewBag.Title = "games"; 
}

@Html.Partial("_PageHeader", "Games")

<ul>
    <li><a asp-controller="games" asp-action="memory">Memory (in a half shell)</a></li>
    <li><a asp-controller="games" asp-action="moneyspin">Money Spin</a></li>
</ul>