@{
    ViewBag.Title = "games | money-spin";
}

@section custom_head {
    <base href="/games/money-spin" />
}

@section stylesheets {
    <link rel="stylesheet" href="/css/games.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent+Marker" />
    <link rel="stylesheet" href="/js/money_spin/styles.bundle.css" />
}

@section scripts_footer {
    @Html.Partial("_js_Threejs")
    <script type="text/javascript" src="/js/money_spin/inline.bundle.js"></script>
    <script type="text/javascript" src="/js/money_spin/vendor.bundle.js"></script>
    <script type="text/javascript" src="/js/money_spin/main.bundle.js"></script>
}

<h2>Money Spin</h2>

<app-root>Loading...</app-root>
