:host:hover,
:host.active {
    background-color: #1c1e22;
    border-color: #52575c;
    cursor: pointer;
}

:host img {
    opacity: 0.7;
    filter: saturate(60%);
}

:host:hover img,
:host.active img {
    opacity: 1;
    filter: saturate(100%);
}
