<div class="container">
	<div class="row vs_row">
		<div class="col-sm-3 col-sm-offset-1">
			<app-turtle-score [player]="player1"></app-turtle-score>
		</div>
		<div class="col-sm-2 text-center">
			<span class="vs yellow">vs.</span>
		</div>
		<div class="col-sm-3">
			<app-turtle-score [player]="player2"></app-turtle-score>
		</div>
	</div>
	<app-game-board (match)="onHit($event)" (nonmatch)="onMiss()" *ngIf="!isGameOver"></app-game-board>
	<app-winner-screen [player]="winningPlayer" (rematch)="startNewGame()" (newgame)="exit()" *ngIf="isGameOver && !isTie"></app-winner-screen>
	<app-tie-screen [player1]="player1" [player2]="player2" (rematch)="startNewGame()" (newgame)="exit()" *ngIf="isGameOver && isTie"></app-tie-screen>
</div>
