.icon-xxl { font-size: 3em; }
.icon-xl { font-size: 2em; }
.icon-lg { font-size: 1em; }
.icon-md { font-size: 0.8em; }
.icon-sm { font-size: 0.6em; }
.icon-xs { font-size: 0.4em; }

/* https://css-tricks.com/cascading-svg-fill-color/ */
svg {
    fill: currentColor !important;
}
