@{ Layout = "_LayoutMinimal"; }

@section custom_head {
	@await RenderSectionAsync("custom_head", required: false)
	<partial name="_Favicons" />
	<meta name="theme-color" content="#272b30">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine:bold" />
	<partial name="_css_site" />
	@await RenderSectionAsync("stylesheets", required: false)
	<partial name="_js_Modernizr" />
	@await RenderSectionAsync("scripts_head", required: false)
}

@RenderBody()

<footer class="container-fluid">
	<div class="row social">
		<div class="col text-center">
			<a class="hover-bright" href="https://play.google.com/store/apps/developer?id=mmorano"><svg-icon icon="Android"></svg-icon></a>
			<a class="hover-bright" href="https://twitter.com/AerisG222"><svg-icon icon="Twitter"></svg-icon></a>
			<a class="hover-bright" href="https://www.google.com/+MikeMorano222"><svg-icon icon="GooglePlusSquare"></svg-icon></a>
			<a class="hover-bright" href="https://www.linkedin.com/pub/mike-morano/0/b51/805"><svg-icon icon="LinkedIn"></svg-icon></a>
			<a class="hover-bright" href="https://www.facebook.com/AerisG222"><svg-icon icon="Facebook"></svg-icon></a>
			<a class="hover-bright" href="https://trello.com/aerisg222"><svg-icon icon="Trello"></svg-icon></a>
			<a class="hover-bright" href="https://github.com/AerisG222"><svg-icon icon="Github"></svg-icon></a>
			<a class="hover-bright" href="https://steamcommunity.com/profiles/76561197974977949/"><svg-icon icon="Steam"></svg-icon></a>
		</div>
	</div>
	<div class="row copyright">
		<div class="col-12 text-center">
			<span>copyright &copy; @(DateTime.Now.Year) mike morano | all rights reserved</span>
		</div>
	</div>
</footer>

<mini-profiler />

<partial name="_js_Bootstrap" />
@await RenderSectionAsync("scripts_footer", required: false)
<partial name="_js_GoogleAnalytics" />
