@{
    ViewBag.Title = "webgl";
}

<h1>WebGL</h1>

<div class="row">
    <div class="col-sm-6">
        <p>
            I've always had a fascination with computer graphics.  Over the years I've dabbled in OpenGL and
            3D tools like Blender but never got to a point where I was any good at it.  I hope to change that
            and the links on this page are some of the things I've built as I try to learn.
        </p>
        <p>
            To this end, the samples below leverage the <a href="http://threejs.org/">ThreeJS</a> library which helps make
            WebGL more approachable.
        </p>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
		    <div class="panel-heading">
		        <h3 class="panel-title">Demos</h3>
		    </div>
		    <div class="list-group">
	            <a class="list-group-item" asp-controller="webgl" asp-action="cube">Rotating Cube</a>
	            <a class="list-group-item" asp-controller="webgl" asp-action="text">Rotating Text</a>
		    </div>
		</div>
    </div>
</div>
