<h2>Available Files</h2>

<ng-container *ngIf="files$ | async as files">
    <p *ngIf="files.length == 0">No files available</p>

    <table *ngIf="files.length > 0" class="table table-striped table-hover table-sm">
        <tr>
            <th *ngIf="showUsername$ | async">User</th>
            <th>Filename</th>
            <th>Uploaded</th>
            <th>Size</th>
            <th class="text-center">
                Download <input type="checkbox" class="align-middle ml-1" />
            </th>
            <th class="text-center">
                Delete <input type="checkbox" class="align-middle ml-1" />
            </th>
        </tr>

        <tr *ngFor="let file of files">
            <td *ngIf="showUsername$ | async">{{file.username}}</td>
            <td><strong>{{file.filename}}</strong></td>
            <td>{{file.creationTime | relativeDate}}</td>
            <td>{{file.sizeInBytes | fileSize}}</td>
            <td class="text-center text-success">
                <app-svg-icon [icon]="svgIcon.Download" [klass]="'mr-2'"></app-svg-icon>
                <input type="checkbox" [(ngModel)]="file.isDownloadChecked" />
            </td>
            <td class="text-center text-danger">
                <app-svg-icon [icon]="svgIcon.Trash" [klass]="'mr-2'"></app-svg-icon>
                <input type="checkbox" [(ngModel)]="file.isDeleteChecked" />
            </td>
        </tr>

        <tr>
            <td *ngIf="showUsername$ | async"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-center">
                <button type="submit" (click)="downloadSelected()" class="btn btn-primary btn-sm">
                    <app-svg-icon [icon]="svgIcon.Download" [klass]="'mr-1'"></app-svg-icon> Download Selected
                </button>
            </td>
            <td class="text-center">
                <button type="submit" (click)="deleteSelected()" class="btn btn-danger btn-sm">
                    <app-svg-icon [icon]="svgIcon.Trash" [klass]="'mr-1'"></app-svg-icon> Delete Selected
                </button>
            </td>
        </tr>
    </table>
</ng-container>
