@using MawMvcApp.ViewComponents
@model AccountStatusViewModel

<ul class="navbar-nav">
    @if(Model.IsAuthenticated) {
        <li class="nav-item" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><svg-icon icon="Person" class="icon"></svg-icon></a>
            <ul class="dropdown-menu">
                <li class="dropdown-item"><a asp-controller="account" asp-action="changepassword">change password</a></li>
                <li class="dropdown-item"><a asp-controller="account" asp-action="editprofile">edit profile</a></li>
                <li class="dropdown-item"><a asp-controller="account" asp-action="logout">logout</a></li>
            </ul>
        </li>
    }
    else {
        <li class="nav-item"><a asp-controller="account" asp-action="login" class="nav-link px-3"><svg-icon icon="Person" class="icon"></svg-icon></a></li>
    }

	<li class="nav-item"><a asp-controller="about" asp-action="contact" class="nav-link px-3"><svg-icon icon="Envelope" class="icon"></svg-icon></a></li>
</ul>
