<form class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-3 control-label">Text to Count</label>
		<div class="col-sm-9">
			<textarea #value rows="5" class="form-control" autofocus></textarea>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-4">
			<button type="button" class="btn btn-default" (click)="calculate(value.value)">Count</button>
			<button type="button" class="btn btn-default" (click)="value.value = ''; calculate(value.value);">Clear</button>
		</div>
	</div>
</form>

<p>
	Bytes: {{bCount}}
	<br/>
	Kilobytes: {{kbCount | number: '1.2-2'}}
	<br/>
	Megabytes: {{mbCount | number: '1.4-4'}}
</p>
