<form>
	<div class="form-group">
		<label class="col-form-label">Text to Count</label>
		<textarea #value rows="12" class="form-control" autofocus></textarea>
	</div>

	<div class="form-group">
		<button type="button" class="btn btn-primary" (click)="calculate(value.value)" appFocusRemover>Count</button>
		<button type="button" class="btn btn-primary" (click)="value.value = ''; calculate(value.value);" appFocusRemover>Clear</button>
	</div>
</form>

<table class="table table-striped table-hover table-sm">
	<tr>
		<td>Bytes</td>
		<td>{{bCount}}</td>
	</tr>
	<tr>
		<td>Kilobytes</td>
		<td>{{kbCount | number: '1.2-2'}}</td>
	</tr>
	<tr>
		<td>Megabytes</td>
		<td>{{mbCount | number: '1.4-4'}}</td>
	</tr>
</table>
