:host,
:host .card-footer,
:host img {
    transition: all 200ms ease-in-out;
}

:host:hover {
    background-color: #1c1e22;
    border-color: #52575c;
    cursor: pointer;
}

:host:hover .card-footer {
    background-color: #32383e;
    color: #fff;
}

:host img {
    opacity: 0.7;
    filter: saturate(60%);
}

:host:hover img {
    opacity: 1;
    filter: saturate(100%);
}
