<div class="card-body p-0 d-flex align-items-start flex-column">
    <img class="d-block mx-auto my-auto img-fluid rounded-top" [src]="category.teaserPhotoInfo.path" />
</div>
<div class="card-footer text-center m-0 p-1">
    {{category.name}}
</div>
<!-- hide the maps callout now, perhaps add it back if we show when categories have ratings and/or comments
<div *ngIf="'false'" class="card-footer p-0 d-flex justify-content-end">
    <app-svg-icon *ngIf="category.hasGpsData" [icon]="svgIcon.MapMarker" [klass]="'badge mr-2'"></app-svg-icon>
</div>
-->
