<ul class="nav nav-tabs">
    <li class="active"><a href="#exif" data-toggle="tab">Exif</a></li>
    <li><a href="#maker" data-toggle="tab">Maker</a></li>
    <li><a href="#composite" data-toggle="tab">Composite</a></li>
    <li><a href="#processing" data-toggle="tab">Processing Info</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="exif">
        <exif-table [data]="exifInfo?.exifList"></exif-table>
    </div>
    <div class="tab-pane" id="maker">
        <exif-table [data]="exifInfo?.makerList"></exif-table>
    </div>
    <div class="tab-pane" id="composite">
        <exif-table [data]="exifInfo?.compositeList"></exif-table>
    </div>
    <div class="tab-pane" id="processing">
        <exif-table [data]="exifInfo?.processingList"></exif-table>
    </div>
</div>
