<ngb-tabset>
    <ngb-tab title="Exif">
        <ng-template ngbTabContent>
            <app-exif-table [data]="exifInfo?.exifList"></app-exif-table>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Maker">
        <ng-template ngbTabContent>
            <app-exif-table [data]="exifInfo?.makerList"></app-exif-table>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Composite">
        <ng-template ngbTabContent>
            <app-exif-table [data]="exifInfo?.compositeList"></app-exif-table>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
