<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!-- only mono needs this -->
  <system.data>
    <DbProviderFactories>
      <add name="MySQL DataProvider" invariant="MySql.Data.MySqlClient" description="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data, Version=6.9.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="MawData" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;port=3306;database=mycontext;uid=aspnet;password=!asp?net" />
    <add name="MawContext" connectionString="metadata=res://*/MawModel.csdl|res://*/MawModel.ssdl|res://*/MawModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=aspnet;password=!asp?net;persistsecurityinfo=True;database=maw_website&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices,MySql.Data.Entity.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>