<p>
    Specify an address to start at.  You must specify either city and state, or the postal code, or both.
	<br />
	Example: <a href="#" (click)="showSampleAddress($event, 'The White House')">The White House</a>
</p>

<h2>Address:</h2>
<div class="form-group">
    <input type="text" [(ngModel)]="addressToMap" class="form-control" autofocus />
</div>
<div class="form-group">
    <button type="submit" (click)="showAddress()" class="btn btn-primary" appFocusRemover>Submit</button>
</div>

<app-map #map1 (updated)="map2.syncMap($event)"></app-map>
<app-map #map2 (updated)="map1.syncMap($event)"></app-map>
