@page
@{
    Layout = "_ScratchAppLayout";
    ViewBag.Title = "scratch | dress up";
    ViewBag.Header = "Dress Up";
    ViewBag.Sidebar = "dress-up";
    ViewBag.ScratchFile = "dress-up.html";
}

<p>
    I can't decide what to wear today, can you help me?
    <ul>
        <li>Drag my shirt to choose a plain white t-shirt or colorful Hawaiian shirt</li>
        <li>Click the arrow to change the background</li>
        <li>Click the flag to watch my shades fly</li>
        <li>Press 'a' or 'space' to see a surprise</li>
    </ul>
</p>
