@page
@{
    Layout = "_ScratchAppLayout";
    ViewBag.Title = "scratch | fishy fishy cross my ocean";
    ViewBag.Header = "Fishy Fishy Cross My Ocean";
    ViewBag.Sidebar = "fishy-fishy";
    ViewBag.ScratchFile = "fishy_fishy_cross_my_ocean.html";
}

<p>
    Battle of the fishes - race your friends!
    <ul>
        <li>Press right arrow to move the blue fish</li>
        <li>Press left arrow to move the left fish</li>
        <li>Press the flag to reset and do it all over again</li>
    </ul>
</p>
