@page
@{
    Layout = "_ScratchAppLayout";
    ViewBag.Title = "scratch | goofy car race";
    ViewBag.Header = "Goofy Car Race";
    ViewBag.Sidebar = "goofy-car-race";
    ViewBag.ScratchFile = "goofy_car_race.html";
}

<p>
    Ready, Set, GO!
    <ul>
        <li>Press right arrow to move the green car</li>
        <li>Press left arrow to move the blue car</li>
        <li>Press the flag to reset and do it all over again</li>
    </ul>
</p>
