@page
@{
    Layout = "_ScratchAppLayout";
    ViewBag.Title = "scratch | hide and seek";
    ViewBag.Header = "Hide and Seek";
    ViewBag.Sidebar = "hide-and-seek";
    ViewBag.ScratchFile = "HIDE_AND_SEEK.html";
}

<p>
    Can you find me?
    <ul>
        <li>Click random buttons to search for me</li>
    </ul>
</p>
