@page
@{
    Layout = "_ScratchAppLayout";
    ViewBag.Title = "scratch | maze";
    ViewBag.Header = "Maze";
    ViewBag.Sidebar = "maze";
    ViewBag.ScratchFile = "maze.html";
}

<p>
    Try to navigate your way out of this maze without walking through walls!
    <ul>
        <li>Use the arrow keys to turn and move in a particular direction</li>
        <li>Hit 'space' to reset and play a brief song</li>
    </ul>
</p>
