@page
@{
    Layout = "_ScratchAppLayout";
    ViewBag.Title = "scratch | me";
    ViewBag.Header = "Me";
    ViewBag.Sidebar = "me";
    ViewBag.ScratchFile = "me.html";
}

<p>
    There are surprises all around me!
    <ul>
        <li>Click around to find different surprises</li>
    </ul>
</p>
