@page
@{
    Layout = "_ScratchAppLayout";
    ViewBag.Title = "scratch | pong";
    ViewBag.Header = "Pong";
    ViewBag.Sidebar = "pong";
    ViewBag.ScratchFile = "pong.html";
}

<p>
    Want to play a game?
    <ul>
        <li>Hit 'space' to start</li>
        <li>Move your mouse to control the paddle</li>
    </ul>
</p>
