@page
@{
    Layout = "_ScratchAppLayout";
    ViewBag.Title = "scratch | race car 2000";
    ViewBag.Header = "Race Car 2000";
    ViewBag.Sidebar = "race-car-2000";
    ViewBag.ScratchFile = "race_car_2000.html";
}

<p>
    Welcome to the race track!  Can you beat your friends?
    <ul>
        <li>Press 'left' to change the direction of the blue car</li>
        <li>Press 'right' to move the blue car in the direction it is facing</li>
        <li>Press 'down' to change the direction of the green car</li>
        <li>Press 'up' to move the green car in the direction it is facing</li>
    </ul>
</p>
