@page
@{
    Layout = "_ScratchAppLayout";
    ViewBag.Title = "scratch | super man";
    ViewBag.Header = "Super Man";
    ViewBag.Sidebar = "super-man";
    ViewBag.ScratchFile = "super_man.html";
}

<p>
    Fly like Super Man!
    <ul>
        <li>Press 'up' to fly up</li>
        <li>Press 'down' to fly down</li>
        <li>Don't hit the poor girl!</li>
    </ul>
</p>
