@page
@{
    Layout = "_ScratchAppLayout";
    ViewBag.Title = "scratch | untitled";
    ViewBag.Header = "Untitled";
    ViewBag.Sidebar = "untitled";
    ViewBag.ScratchFile = "Untitled.html";
}

<p>
    Gooooooooaaaaaal!
    <ul>
        <li>Move the ref by pressing 'a' and 'd'</li>
        <li>Move the player by pressing 'left' and 'right'</li>
        <li>Kick the ball with 'space' and win the game</li>
    </ul>
</p>
