@page
@{
    Layout = "_ScratchAppLayout";
    ViewBag.Title = "scratch | who's faster";
    ViewBag.Header = "Who's Faster";
    ViewBag.Sidebar = "whos-faster";
    ViewBag.ScratchFile = "whos_faster.html";
}

<p>
    Can anyone beat the dragon?
    <ul>
        <li>Move the dragon by pressing 'right'</li>
    </ul>
</p>
