@page
@{
    Layout = "_ScratchAppLayout";
    ViewBag.Title = "scratch | work and fade";
    ViewBag.Header = "Work and Fade";
    ViewBag.Sidebar = "work-and-fade";
    ViewBag.ScratchFile = "WORK_AND_FADE.html";
}

<p>
    Lets go to school
    <ul>
        <li>Press 'right' to pull the car</li>
        <li>Press 'a', 'b', and 'd' to talk</li>
        <li>Press 'space' to fade out the mouse</li>
    </ul>
</p>
