@page
@{
    Layout = "_ScratchAppLayout";
    ViewBag.Title = "scratch | yummy yummy baby";
    ViewBag.Header = "Yummy Yummy Baby";
    ViewBag.Sidebar = "yummy yummy baby";
    ViewBag.ScratchFile = "yummy_yummy_baby.html";
}

<p>
    Feed the hungry crab!
    <ul>
        <li>Press 'left' and 'right' to catch the food</li>
    </ul>
</p>
