@{
    ViewBag.Title = "photos | stats";
}

@section custom_head {
    <base href="/" />
}

@section scripts_footer {
    <script type="text/javascript" src="/js/photo_stats/main.bundle.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function(event) {
            let stats = new Photos.PhotoStats();
            stats.runAsync();
        });
    </script>
}

<h1>Interactive Photo Statistics</h1>
<div id="breadcrumbs"></div>
<div id="categoryCount"></div>
<div id="photoCount"></div>

<div id="sunburst"></div>
