:host:hover {
    border-color: #52575c;
    cursor: pointer;
}

:host:hover .category_name {
    text-decoration: underline;
    color: #fff;
}

:host img {
    max-height: 120px;
    max-width: 160px;
    opacity: 0.6;
}

:host:hover img {
    opacity: 1;
}
