@{ 
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | byte counter"; 
}

@section custom_head {
    <base href="." />
}

@section scripts_footer {
    <script src="/js/byte_counter/vendor/es6-shim/es6-shim.js"></script>
    <script src="/js/byte_counter/vendor/reflect-metadata/Reflect.js"></script>
    <script src="/js/byte_counter/vendor/systemjs/dist/system.src.js"></script>
    <script src="/js/byte_counter/vendor/zone.js/dist/zone.js"></script>
    <script>
        SystemJS.config({
            baseURL: '/js/byte_counter'
        });

        System.import('system-config.js').then(function () {
            System.import('main');
        }).catch(console.error.bind(console));
    </script>
}

@section header {   
    @Html.Partial("_PageHeader", "Byte Counter")
}

@section sidebar {
    @Html.Partial("_ToolSidebar", new SidebarModel() { Group = "dotnet", Item = "byte-counter" })
}

<p>
    I developed this page after often having a desire to quickly get a count of bytes that are used
    in ViewState in an ASP.Net page.  Although I no longer use webforms and hence am not so concerned
    with ViewState, this still can come in handy on occasions.
</p>

<section>
    <byte-counter-app>Loading...</byte-counter-app>
</section>
