@{ 
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | google maps"; 
}

@section custom_head {
    <base href="." />
}

@section scripts_footer {
    @Html.Partial("_js_GoogleMaps")
    <script src="/js/googlemaps/vendor/es6-shim/es6-shim.js"></script>
    <script src="/js/googlemaps/vendor/reflect-metadata/Reflect.js"></script>
    <script src="/js/googlemaps/vendor/systemjs/dist/system.src.js"></script>
    <script src="/js/googlemaps/vendor/zone.js/dist/zone.js"></script>
    <script>
        SystemJS.config({
            baseURL: '/js/googlemaps'
        });
        
        System.import('system-config.js').then(function () {
            System.import('main');
        }).catch(console.error.bind(console));
    </script>
    
}

@section header {
    @Html.Partial("_PageHeader", "Google Maps")
}
 
@section sidebar {
    @Html.Partial("_ToolSidebar", new SidebarModel() { Group = "general", Item = "google-maps" })
}
    
<section>
    <p>
        The maps below are "linked" together so that you can look at the same area at different zoom levels
        and have the panning move together.
    </p>
    
    <googlemaps-app>Loading...</googlemaps-app>
</section>
