@{ 
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | google maps"; 
    ViewBag.AngularAppRoot = "/js/tools/googlemaps/";
}

@section scripts_head {
    @Html.Partial("_js_Angular2")
}

@section scripts_footer {
    @Html.Partial("_js_GoogleMaps")
    <script>System.import('/js/tools/googlemaps/bootstrap.js');</script>
}

@section header {
    @Html.Partial("_PageHeader", "Google Maps")
}
 
@section sidebar {
    @Html.Partial("_ToolSidebar", new SidebarModel() { Group = "general", Item = "google-maps" })
}

<section>
    <p>
        The maps below are "linked" together so that you can look at the same area at different zoom levels
        and have the panning move together.
    </p>
    
    <googlemaps>Loading...</googlemaps>
</section>
