@{ 
    Layout = "_LayoutSidebar";
    ViewBag.Title = "learning"; 
}

@section custom_head {
    <base href="." />
}

@section stylesheets {
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Inconsolata:700" />
}

@section scripts_footer {
    <script src="/js/learning/vendor/es6-shim/es6-shim.js"></script>
    <script src="/js/learning/vendor/reflect-metadata/Reflect.js"></script>
    <script src="/js/learning/vendor/systemjs/dist/system.src.js"></script>
    <script src="/js/learning/vendor/zone.js/dist/zone.js"></script>
    <script>
        SystemJS.config({
            baseURL: '/js/learning'
        });

        System.import('system-config.js').then(function () {
            System.import('main');
        }).catch(console.error.bind(console));
    </script>
}

@section header {
    @Html.Partial("_PageHeader", "Learning")
}

@section sidebar {
    @Html.Partial("_ToolSidebar", new SidebarModel() { Group = "learning", Item = "learning" })
}

<p>
    This originally was a small tool that hopefully would help me learn Silverlight, and letters and numbers for my
    daughter.  However, this was only partially successful - my daughter mastered her part, but I am still clueless
    with Silverlight, but that is ok, as it is effectively dead.  Instead, this is now an attempt for me to learn
    angular js, before a re-write of the more complicated picture application.
</p>

<section class="learning_char">
    <learning-app>Loading...</learning-app>
</section>
