@{ 
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | networking | bandwidth"; 
}

@section custom_head {
    <base href="." />
}

@section header {
    @Html.Partial("_PageHeader", "Bandwidth Calculator")
}

@section scripts_footer {
    <script src="/js/bandwidth/vendor/es6-shim/es6-shim.js"></script>
    <script src="/js/bandwidth/vendor/reflect-metadata/Reflect.js"></script>
    <script src="/js/bandwidth/vendor/systemjs/dist/system.src.js"></script>
    <script src="/js/bandwidth/vendor/zone.js/dist/zone.js"></script>
    <script>
        SystemJS.config({
            baseURL: '/js/bandwidth'
        });

        System.import('system-config.js').then(function () {
            System.import('main');
        }).catch(console.error.bind(console));
    </script>
}

@section sidebar {
    @Html.Partial("_ToolSidebar", new SidebarModel() { Group = "networking", Item = "networking-bandwidth" })
}

<p>
  This page will provide definitions for common networking connections, as 
  well as provide a calculator to view transfer time for different
  connection types.
</p>

<section>
    <bandwidth-app>Loading...</bandwidth-app>
</section>
