@{ 
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | networking | bandwidth"; 
}

@section custom_head {
    <base href="/" />
}

@section header {
    @Html.Partial("_PageHeader", "Bandwidth Calculator")
}

@section scripts_footer {
    <script type="text/javascript" src="/js/bandwidth/inline.js"></script>
    <script type="text/javascript" src="/js/bandwidth/polyfills.bundle.js"></script>
    <script type="text/javascript" src="/js/bandwidth/main.bundle.js"></script>
}

@section sidebar {
    @Html.Partial("_ToolSidebar", new SidebarModel() { Group = "networking", Item = "networking-bandwidth" })
}

<p>
  This page will provide definitions for common networking connections, as 
  well as provide a calculator to view transfer time for different
  connection types.
</p>

<section>
    <app-root>Loading...</app-root>
</section>
