@{ 
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | networking | time"; 
}

@section custom_head {
    <base href="/" />
}

@section scripts_footer {
    <script type="text/javascript" src="/js/time/inline.js"></script>
    <script type="text/javascript" src="/js/time/polyfills.bundle.js"></script>
    <script type="text/javascript" src="/js/time/main.bundle.js"></script>
}

@section header {   
    @Html.Partial("_PageHeader", "Time Calculator")
}

@section sidebar {
    @Html.Partial("_ToolSidebar", new SidebarModel() { Group = "networking", Item = "networking-time" })
}

<p>
    This page provides a calculator to view equivalent time measures.
</p>

<section>
    <app-root>Loading...</app-root>
</section>
