@model MawMvcApp.ViewModels.Tools.Dotnet.XsdValidateModel
@{ 
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | xsd validator"; 
}

@section header {
    @Html.Partial("_PageHeader", "XSD Validator")
}

@section sidebar {
    @Html.Partial("_ToolSidebar", new SidebarModel() { Group = "dotnet", Item = "xsd-validate" })
}

<p>
	This page allows you to validate an XML Schema document.
</p>

<form asp-controller="tools" asp-action="xsdvalidate" method="post" class="form-horizontal" autocomplete="off" role="form">
    <div class="form-group" maw-for="@Model.XmlSchemaSource">
		<label asp-for="XmlSchemaSource" class="col-sm-3 control-label"></label>
        <div class="col-sm-9">
			<textarea asp-for="XmlSchemaSource" rows="10" class="form-control" autofocus=""></textarea>
			<span asp-validation-for="XmlSchemaSource" class="help-block"></span>
        </div>
	</div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
            <button type="submit" class="btn btn-default">Validate</button>
        </div>
    </div>
</form>

<br/>

@if(Model.ValidationAttempted) {
	if(!Model.AreErrors) {
		<p>
			<strong>The XML schema is VALID!</strong>
		</p>
	}
	else {
		<p>Your XML Schema is invalid.  The following outlines the errors encountered:</p>
		<pre>@Model.ValidationErrors</pre>
	}
}