<div class="row">
    <div class="col-12">
        <div *ngIf="!context.isCategoryMode" class="row">
            <div class="col-12">
                <app-category-link [category]="category"></app-category-link>
            </div>
        </div>
    	<div class="row main-image" [ngClass]="{hide_main_image_border: category}">
            <div class="col-12 vcenter text-center">
        		<img [src]="getPhotoPath()" [ngClass]="rotationClassArray[context.current.rotationClassIndex]" [ngStyle]="{'max-width': rotationContainmentMaxWidth, 'max-height': rotationContainmentMaxHeight}" />
        		<a class="prev" [hidden]="!context.hasPrevious" (click)="context.movePrevious()"><app-svg-icon [klass]="'icon icon-lg'" [icon]="svgIcon.ArrowCircleLeft"></app-svg-icon></a>
        		<a class="next" [hidden]="!context.hasNext" (click)="context.moveNext()"><app-svg-icon [klass]="'icon icon-lg'" [icon]="svgIcon.ArrowCircleRight"></app-svg-icon></a>
            </div>
    	</div>
    	<div class="row toolbar hidden-xs">
            <div class="col px-0">
                <div class="btn-group">
                    <app-toolbar-button [icon]="svgIcon.Comment" [isActive]="showComments" [tooltip]="'comments'" (click)="toggleComments()"></app-toolbar-button>
                    <app-toolbar-button [icon]="svgIcon.Star" [isActive]="showRatings" [tooltip]="'ratings'" (click)="toggleRatings()"></app-toolbar-button>
                    <app-toolbar-button [icon]="svgIcon.InfoCircle" [isActive]="showExif" [tooltip]="'exif'" (click)="toggleExif()"></app-toolbar-button>
                    <app-toolbar-button [icon]="svgIcon.RotateLeft" [tooltip]="'rotate counter-clockwise'" (click)="rotate(-1)"></app-toolbar-button>
                    <app-toolbar-button [icon]="svgIcon.RotateRight" [tooltip]="'rotate clockwise'" (click)="rotate(1)"></app-toolbar-button>
                    <app-toolbar-button [hidden]="!showHistogramButton" [icon]="svgIcon.BarChart" [isActive]="showHistogram" [tooltip]="'histogram'" (click)="toggleHistogram()"></app-toolbar-button>
                    <app-toolbar-button [icon]="svgIcon.Expand" [tooltip]="'full screen'" (click)="toggleFullscreen()"></app-toolbar-button>
                    <app-toolbar-button [icon]="svgIcon.Keyboard" [tooltip]="'help'" (click)="toggleHelp()"></app-toolbar-button>
                    <app-toolbar-button [hidden]="!supportCssFilters" [icon]="svgIcon.Adjust" [isActive]="showEffects" [tooltip]="'effects'" (click)="toggleEffects()"></app-toolbar-button>
                </div>
            </div>
            <div class="col px-0 d-flex justify-content-center">
                <div class="btn-group">
            		<app-toolbar-button [icon]="svgIcon.Image" [tooltip]="'small (email)'" (click)="showDownload(photo.smInfo)"></app-toolbar-button>
            		<app-toolbar-button [icon]="svgIcon.Image" [tooltip]="'medium (email)'" (click)="showDownload(photo.mdInfo)"></app-toolbar-button>
            		<app-toolbar-button [icon]="svgIcon.Image" [tooltip]="'large (prints)'" (click)="showDownload(photo.lgInfo)"></app-toolbar-button>
                    <app-toolbar-button [icon]="svgIcon.Image" [tooltip]="'large/untouched (prints)'" (click)="showDownload(photo.prtInfo)"></app-toolbar-button>
                </div>
            </div>
            <div class="col px-0 d-flex justify-content-end">
                <div class="btn-group">
                    <app-slideshow-button [context]="context"></app-slideshow-button>
                </div>
            </div>
    	</div>

        <div class="row">
        	<div class="col hidden-xs photo-info" [@fadeInOut]="'in'" *ngIf="showComments"><app-comment-view [photo]="photo"></app-comment-view></div>
        	<div class="col hidden-xs photo-info" [@fadeInOut]="'in'" *ngIf="showRatings"><app-rating-view [photo]="photo"></app-rating-view></div>
        	<div class="col hidden-xs photo-info exif" [@fadeInOut]="'in'" *ngIf="showExif"><app-exif-view [photo]="context?.current"></app-exif-view></div>
            <div class="col hidden-xs photo-info" [@fadeInOut]="'in'" *ngIf="showEffects"><app-effects-view [photo]="context?.current" (update)="onFiltersUpdated($event)"></app-effects-view></div>
            <div [@fadeInOut]="'in'" *ngIf="showFullscreen"><app-fullscreen-view [context]="context"></app-fullscreen-view></div>
        </div>
    </div>
</div>
