<div class="row">
    <div class="col-xs-12">
        <div *ngIf="!context.isCategoryMode" class="row">
            <div class="col-xs-12">
                <app-category-link [category]="category"></app-category-link>
            </div>
        </div>
    	<div class="row main-image" [ngClass]="{hide_main_image_border: category}">
            <div class="col-xs-12 vcenter text-center">
        		<img [src]="getPhotoPath()" [ngClass]="rotationClassArray[context.current.rotationClassIndex]" [ngStyle]="{'max-width': rotationContainmentMaxWidth, 'max-height': rotationContainmentMaxHeight}" />
        		<a class="prev" [hidden]="!context.hasPrevious" (click)="context.movePrevious()"><i class="fa fa-arrow-circle-left"></i></a>
        		<a class="next" [hidden]="!context.hasNext" (click)="context.moveNext()"><i class="fa fa-arrow-circle-right"></i></a>
            </div>
    	</div>
    	<div class="row toolbar hidden-xs">
            <div class="left col-sm-4">
                <div class="btn-group">
            		<button type="button" class="btn btn-default btn-xs" (click)="toggleComments()" [ngClass]="{active: showComments}" title="comments"><i class="fa fa-comment"></i></button>
            		<button type="button" class="btn btn-default btn-xs" (click)="toggleRatings()" [ngClass]="{active: showRatings}" title="ratings"><i class="fa fa-star"></i></button>
            		<button type="button" class="btn btn-default btn-xs" (click)="toggleExif()" [ngClass]="{active: showExif}" title="exif"><i class="fa fa-info-circle"></i></button>
            		<button type="button" class="btn btn-default btn-xs" (click)="rotate(-1)"><i class="fa fa-rotate-left" title="rotate counter-clockwise"></i></button>
            		<button type="button" class="btn btn-default btn-xs" (click)="rotate(1)"><i class="fa fa-rotate-right" title="rotate clockwise"></i></button>
            		<button type="button" class="btn btn-default btn-xs" (click)="toggleHistogram()" [ngClass]="{active: showHistogram}" [hidden]="!showHistogramButton" title="histogram"><i class="fa fa-bar-chart-o"></i></button>
                    <button type="button" class="btn btn-default btn-xs" (click)="toggleFullscreen()"><i class="fa fa-expand" title="fullscreen"></i></button>
                    <button type="button" class="btn btn-default btn-xs" (click)="toggleHelp()"><i class="fa fa-keyboard-o" title="help"></i></button>
                    <button type="button" class="btn btn-default btn-xs" [hidden]="!supportCssFilters" (click)="toggleEffects()" [ngClass]="{active: showEffects}" title="effects"><i class="fa fa-adjust"></i></button>
                </div>
            </div>
            <div class="text-center col-sm-4">
                <div class="btn-group">
            		<button type="button" class="btn btn-default btn-xs" (click)="showDownload(photo.smInfo)" title="small (email)"><i class="fa fa-image thumb-size"></i></button>
            		<button type="button" class="btn btn-default btn-xs" (click)="showDownload(photo.mdInfo)" title="medium (email)"><i class="fa fa-image full-size"></i></button>
            		<button type="button" class="btn btn-default btn-xs" (click)="showDownload(photo.lgInfo)" title="large (prints)"><i class="fa fa-image"></i></button>
                    <button type="button" class="btn btn-default btn-xs" (click)="showDownload(photo.prtInfo)" title="large/untouched (prints)"><i class="fa fa-image"></i></button>
                </div>
            </div>
            <div class="right col-sm-4">
                <div class="btn-group pull-right">
                    <app-slideshow-button [context]="context" title="start/stop slideshow"></app-slideshow-button>
                </div>
            </div>
    	</div>

        <div class="row">
        	<div class="col-sm-12 hidden-xs photo-info" *ngIf="showComments"><app-comment-view [photo]="photo"></app-comment-view></div>
        	<div class="col-sm-offset-2 col-sm-8 hidden-xs photo-info" *ngIf="showRatings"><app-rating-view [photo]="photo"></app-rating-view></div>
        	<div class="col-sm-offset-2 col-sm-8 hidden-xs photo-info exif" *ngIf="showExif"><app-exif-view [photo]="context?.current"></app-exif-view></div>
            <div class="col-sm-offset-2 col-sm-8 hidden-xs photo-info" *ngIf="showEffects"><app-effects-view [photo]="context?.current" (update)="onFiltersUpdated($event)"></app-effects-view></div>
            <div class="col-sm-offset-2 col-sm-8 photo-info" *ngIf="showFullscreen"><app-fullscreen-view [context]="context"></app-fullscreen-view></div>
        </div>
    </div>
</div>

<app-help-dialog></app-help-dialog>
<app-save-dialog></app-save-dialog>
