<div class="fullscreen">
    <img [src]="context.current.photo.lgInfo.path" />
    <div class="row no-gutters">
        <div [hidden]="context.isCategoryMode" class="col px-0">
            <app-category-link [category]="context.current.category"></app-category-link>
        </div>
        <div class="col px-0 d-flex justify-content-end">
            <button type="button" class="btn btn-primary btn-sm hover-bright" (click)="context.movePrevious()"><app-svg-icon [icon]="svgIcon.ArrowLeft" appFocusRemover></app-svg-icon></button>
            <app-slideshow-button [context]="context"></app-slideshow-button>
            <button type="button" class="btn btn-primary btn-sm hover-bright" (click)="context.moveNext()"><app-svg-icon [icon]="svgIcon.ArrowRight" appFocusRemover></app-svg-icon></button>
        </div>
    </div>
</div>
