
module solr 1.0;

require {
	type init_t;
	type su_exec_t;
    type var_t;
	class file { execute execute_no_trans open read };
}

#============= init_t ==============
allow init_t su_exec_t:file { execute execute_no_trans open read };
allow init_t var_t:file read;
allow init_t var_t:file open;
