@{
   Layout = "_LayoutHome";
   ViewBag.Title = "home";
}

<div class="banner container-fluid">
   <partial name="_TopNav" model="false" />
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="hover-bright">
                <a class="h2" href="https://photos.mikeandwan.us">
                    <p class="text-center">
                        <svg-icon icon="Camera" class="hp-feature"></svg-icon>
                    </p>
                    <p class="text-center">
                        Photos
                    </p>
                </a>
            </div>
            <p class="text-center">
                <span>Checkout the latest photos and videos</span>
            </p>
        </div>

        <div class="col-sm-3">
            <div class="hover-bright">
                <a class="h2" href="https://files.mikeandwan.us">
                    <p class="text-center">
                        <svg-icon icon="Upload" class="hp-feature"></svg-icon>
                    </p>
                    <p class="text-center">
                        Files
                    </p>
                </a>
            </div>
            <p class="text-center">
                <span>Upload / Download files</span>
            </p>
        </div>

        <div class="col-sm-3">
            <div class="hover-bright">
                <a class="h2" asp-controller="tools" asp-action="index">
                    <p class="text-center">
                        <svg-icon icon="Wrench" class="hp-feature"></svg-icon>
                    </p>
                    <p class="text-center">
                        Tools
                    </p>
                </a>
            </div>
            <p class="text-center">
                <span>Utilities that periodically come in handy</span>
            </p>
        </div>

        <div class="col-sm-3">
            <div class="hover-bright">
                <a class="h2" asp-controller="about" asp-action="news">
                    <p class="text-center">
                        <svg-icon icon="Flag" class="hp-feature"></svg-icon>
                    </p>
                    <p class="text-center">
                        News
                    </p>
                </a>
            </div>
            <p class="text-center">
                <span>See what's been happening on this website</span>
            </p>
        </div>
    </div>
</div>
