@{
    ViewBag.Title = "privacy";
}

<h1>Privacy Policy</h1>

<div class="row">
    <div class="col">
        <p>
            Safeguarding your private information is very important to us at mikeandwan.us.
            This Privacy Policy describes the types of information that we collect about you as a user of our websites and applications, the purposes for which we use the information, and the circumstances in which we share such information.
        </p>

        <h2>What do we collect?</h2>
        <p>
            For authenticated users of the site, we collect the following information to provide personalized and appropriately restricted access to content:

            <ul>
                <li>Name</li>
                <li>Email</li>
                <li>Username</li>
                <li>Phone</li>
                <li>Physical Address</li>
                <li>Date of Birth</li>
            </ul>
        </p>
        <p>
            In addition, mikeandwan.us automatically collects and aggregates information about visitors to the site for purposes of improving its design and content.
            This information includes, but is not limited to, how many people visit the site, which page(s) they visit, their IP addresses and which browser and operating system they use.
        </p>

        <h2>How do we use this information?</h2>

        <ul>
            <li>Improving our websites, mobile applications, and applications for other connected devices</li>
            <li>Limiting access to content by authorized users</li>
        </ul>

        <h2>What information do we share?</h2>

        <p>
            Sensitive information about authenticated users is not shared.
        </p>
        <p>
            We do share general browsing data with providers of analytics services, which includes, but is not limited to:

            <ul>
                <li>Page Visits</li>
                <li>Referring Sites</li>
                <li>Type of Browser</li>
                <li>OS and Version</li>
                <li>Network location / IP Address</li>
            </ul>
        </p>

        <h2>Security</h2>
        <p>
            When you use our websites or mobile applications, all information is transmitted through the Internet using Transport Layer Security (TLS).
            TLS causes your browser to encrypt your information before transmitting it to our secure server.
            TLS, an industry standard, is designed to prevent someone other than operators of our websites from capturing and viewing your personal information.
        </p>
        <p>
            While we use industry standard means to protect our websites and your information, the Internet is not 100% secure.
            The measures we use are appropriate for the type of information we collect.
            We cannot promise that your use of our websites or mobile applications will be completely safe.
            We encourage you to use caution when using the Internet.
            Online access to your personal information is protected with a password you select.
            We strongly recommend that you do not share your password and that you use unique passwords for all of your online accounts.
        </p>

        <h2>Links</h2>
        <p>
            Our websites contain links to third-party websites.
            If you click on one of those links, you will be taken to websites we do not control.
            This Privacy and Security Statement does not apply to the information practices of those websites.
            You should read the privacy policies of other websites carefully.
            We are not responsible for third-party websites.
        </p>
    </div>
</div>
