@{ 
    Layout = "_LayoutSidebar";
    ViewBag.Title = "reference | networking ports"; 
}

@section header {
    @Html.Partial("_PageHeader", "Standard Network Ports")
}

@section sidebar {
    @Html.Partial("_ReferenceSidebar", new SidebarModel() { Group = "networking", Item = "networking-ports" })
}

<p>
  This page provides a listing of some common ports and their services.
</p>

<div class="table-responsive">
    <table class="table table-striped table-hover table-condensed">
	<thead>
		<tr><th>Port</th><th>Service</th></tr>
	</thead>
	<tbody>
		<tr><td>1</td><td>tcpmux</td></tr>
		<tr><td>7</td><td>echo</td></tr>
		<tr><td>9</td><td>discard</td></tr>
		<tr><td>11</td><td>systat</td></tr>
		<tr><td>13</td><td>daytime</td></tr>
		<tr><td>15</td><td>netstat</td></tr>
		<tr><td>17</td><td>qotd</td></tr>
		<tr><td>18</td><td>msp</td></tr>
		<tr><td>19</td><td>chargen</td></tr>
		<tr><td>20</td><td>ftp-data</td></tr>
		<tr><td>21</td><td>ftp</td></tr>
		<tr><td>22</td><td>ssh</td></tr>
		<tr><td>23</td><td>telnet</td></tr>
		<tr><td>25</td><td>smtp</td></tr>
		<tr><td>37</td><td>time</td></tr>
		<tr><td>39</td><td>rlp</td></tr>
		<tr><td>42</td><td>nameserver</td></tr>
		<tr><td>43</td><td>whois</td></tr>
		<tr><td>50</td><td>re-mail-ck</td></tr>
		<tr><td>53</td><td>domain</td></tr>
		<tr><td>57</td><td>mtp</td></tr>
		<tr><td>67</td><td>bootps</td></tr>
		<tr><td>68</td><td>bootpc</td></tr>
		<tr><td>69</td><td>tftp</td></tr>
		<tr><td>70</td><td>gopher</td></tr>
		<tr><td>77</td><td>rje</td></tr>
		<tr><td>79</td><td>finger</td></tr>
		<tr><td>80</td><td>www</td></tr>
		<tr><td>87</td><td>link</td></tr>
		<tr><td>88</td><td>kerberos</td></tr>
		<tr><td>95</td><td>supdup</td></tr>
		<tr><td>101</td><td>hostnames</td></tr>
		<tr><td>102</td><td>iso-tsap</td></tr>
		<tr><td>105</td><td>csnet-ns</td></tr>
		<tr><td>107</td><td>rtelnet</td></tr>
		<tr><td>109</td><td>pop-2</td></tr>
		<tr><td>110</td><td>pop-3</td></tr>
		<tr><td>111</td><td>sunrpc</td></tr>
		<tr><td>113</td><td>auth</td></tr>
		<tr><td>115</td><td>sftp</td></tr>
		<tr><td>117</td><td>uucp-path</td></tr>
		<tr><td>119</td><td>nntp</td></tr>
		<tr><td>123</td><td>ntp</td></tr>
		<tr><td>137</td><td>netbios-ns</td></tr>
		<tr><td>138</td><td>netbios-dgm</td></tr>
		<tr><td>139</td><td>netbios-ssn</td></tr>
		<tr><td>143</td><td>imap2</td></tr>
		<tr><td>161</td><td>snmp</td></tr>
		<tr><td>162</td><td>snmp-trap</td></tr>
		<tr><td>163</td><td>cmip-man</td></tr>
		<tr><td>164</td><td>cmip-agent</td></tr>
		<tr><td>174</td><td>mailq</td></tr>
		<tr><td>177</td><td>xdmcp</td></tr>
		<tr><td>178</td><td>nextstep</td></tr>
		<tr><td>179</td><td>bgp</td></tr>
		<tr><td>191</td><td>prospero</td></tr>
		<tr><td>194</td><td>irc</td></tr>
		<tr><td>199</td><td>smux</td></tr>
		<tr><td>201</td><td>at-rtmp</td></tr>
		<tr><td>202</td><td>at-nbp</td></tr>
		<tr><td>204</td><td>at-echo</td></tr>
		<tr><td>206</td><td>at-zis</td></tr>
		<tr><td>209</td><td>qmtp</td></tr>
		<tr><td>210</td><td>z3950</td></tr>
		<tr><td>213</td><td>ipx</td></tr>
		<tr><td>220</td><td>imap3</td></tr>
		<tr><td>369</td><td>rpc2portmap</td></tr>
		<tr><td>370</td><td>codaauth2</td></tr>
		<tr><td>372</td><td>ulistserv</td></tr>
		<tr><td>389</td><td>ldap</td></tr>
		<tr><td>443</td><td>https</td></tr>
		<tr><td>444</td><td>snpp</td></tr>
		<tr><td>487</td><td>saft</td></tr>
		<tr><td>610</td><td>npmp-local</td></tr>
		<tr><td>611</td><td>npmp-gui</td></tr>
		<tr><td>612</td><td>hmmp-ind</td></tr>
		<tr><td>765</td><td>webster</td></tr>
		<tr><td>873</td><td>rsync</td></tr>
		<tr><td>993</td><td>imaps</td></tr>
		<tr><td>995</td><td>pop3s</td></tr>
	</tbody>
</table>
</div>   