.main-image { margin-top: 8px; }

.map { height: 480px; border-radius: 4px; }
.map div { border: 0; border-radius: 0; height: auto; line-height: normal; background-color: transparent; }
.map img { max-width: none; }
.map .img-thumbnail { padding: 2px; }

.mapButtons { margin-top: 10px; margin-right: 8px; }
.mapButtons span { padding: 1px 6px; margin-left: 4px; margin-bottom: 3px; cursor: pointer; text-align: center; color: #fffaf0; background-color: #595959; border: 1px solid #000; }
.mapButtons span:hover { background-color: #1c1e22; }

/* lg */
@media (min-width: 1200px) {
    .map { height: 768px; }
}
