
@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | binary clock";
}

@section custom_head {
    <base href="/" />
}

@section stylesheets {
    <link rel="stylesheet" href="/js/binary_clock/styles.bundle.css" />
}

@section scripts_footer {
    <script type="text/javascript" src="/js/binary_clock/inline.bundle.js"></script>
    <script type="text/javascript" src="/js/binary_clock/vendor.bundle.js"></script>
    <script type="text/javascript" src="/js/binary_clock/main.bundle.js"></script>
}

@section header {
    @Html.Partial("_PageHeader", "Binary Clock")
}

@section sidebar {
    @Html.Partial("_ToolSidebar", new SidebarModel() { Group = "binaryclock", Item = "binary-clock" })
}

<section>
    <app-root>Loading...</app-root>

    <p>
        If you are unfamiliar with this, take a look at the <a href="/tools/binary-clock-about">binary clock primer</a>.
    </p>
</section>
