@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | byte counter";
}

@section custom_head {
    <base href="/" />
}

@section scripts_footer {
    <script type="text/javascript" src="/js/byte_counter/inline.js"></script>
    <script type="text/javascript" src="/js/byte_counter/styles.bundle.js"></script>
    <script type="text/javascript" src="/js/byte_counter/main.bundle.js"></script>
}

@section header {
    @Html.Partial("_PageHeader", "Byte Counter")
}

@section sidebar {
    @Html.Partial("_ToolSidebar", new SidebarModel() { Group = "dotnet", Item = "byte-counter" })
}

<p>
    I developed this page after often having a desire to quickly get a count of bytes that are used
    in ViewState in an ASP.Net page.  Although I no longer use webforms and hence am not so concerned
    with ViewState, this still can come in handy on occasions.
</p>

<section>
    <app-root>Loading...</app-root>
</section>
