@model MawMvcApp.ViewModels.Tools.Dotnet.HtmlEncodeDecodeModel
@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | html encoder / decoder";
}

@section header {
    <h1>HTML Encoder / Decoder</h1>
}

@section sidebar {
    @Html.Partial("_ToolSidebar", new SidebarModel() { Group = "dotnet", Item = "html-encode" })
}

<p>This page allows you to encode and decode values suitable for HTML content.</p>

<form asp-controller="tools" asp-action="htmlencode" method="post" autocomplete="off" role="form">
	<input type="hidden" asp-for="Mode" value="Encode" />
	<div class="form-group row" maw-for="@Model.DecodedString">
        <label asp-for="DecodedString" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <textarea asp-for="DecodedString" rows="8" class="form-control" autofocus=""></textarea>
            <span asp-validation-for="DecodedString" class="form-text"></span>
        </div>
	</div>

    <div class="form-group row">
        <div class="offset-sm-3 col-sm-2">
            <button type="submit" class="btn btn-primary">Encode</button>
        </div>
    </div>
</form>

<form asp-controller="tools" asp-action="htmlencode" method="post" autocomplete="off" role="form">
	<input type="hidden" asp-for="Mode" value="Decode" />
    <div class="form-group row" maw-for="@Model.EncodedString">
        <label asp-for="EncodedString" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <textarea asp-for="EncodedString" rows="8" class="form-control"></textarea>
            <span asp-validation-for="EncodedString" class="form-text"></span>
        </div>
	</div>

    <div class="form-group row">
        <div class="offset-sm-3 col-sm-2">
            <button type="submit" class="btn btn-primary">Decode</button>
        </div>
    </div>
</form>
