@{ 
    Layout = "_LayoutSidebar";
    ViewBag.Title = "learning"; 
}

@section custom_head {
    <base href="/" />
}

@section stylesheets {
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:700" />
}

@section scripts_footer {
    <script type="text/javascript" src="/js/learning/inline.bundle.js"></script>
    <script type="text/javascript" src="/js/learning/styles.bundle.js"></script>
    <script type="text/javascript" src="/js/learning/main.bundle.js"></script>
}

@section header {
    @Html.Partial("_PageHeader", "Learning")
}

@section sidebar {
    @Html.Partial("_ToolSidebar", new SidebarModel() { Group = "learning", Item = "learning" })
}

<p>
    This originally was a small tool that hopefully would help me learn Silverlight, and letters and numbers for my
    daughter.  However, this was only partially successful - my daughter mastered her part, but I am still clueless
    with Silverlight, but that is ok, as it is effectively dead.  Instead, this is now an attempt for me to learn
    angular js, before a re-write of the more complicated picture application.
</p>

<section class="learning_char">
    <app-root>Loading...</app-root>
</section>
