@{ 
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | networking | file size"; 
}

@section custom_head {
    <base href="/" />
}

@section scripts_footer {
    <script type="text/javascript" src="/js/filesize/inline.bundle.js"></script>
    <script type="text/javascript" src="/js/filesize/styles.bundle.js"></script>
    <script type="text/javascript" src="/js/filesize/vendor.bundle.js"></script>
    <script type="text/javascript" src="/js/filesize/main.bundle.js"></script>
}
 
@section header {  
    @Html.Partial("_PageHeader", "File Size Calculator")
}

@section sidebar {
    @Html.Partial("_ToolSidebar", new SidebarModel() { Group = "networking", Item = "networking-file-size" })
}

<p>
  Use the form below to see the size of a file in different scales.
</p>

<br />

<section>
    <app-root>Loading...</app-root>

    <br />

    Note: 1 GB = 1,024 MB
    <br/>
    Note: 1 MB = 1,024 KB
    <br/>
    Note: 1 KB = 1,024 B
    <br/>
    Note: 1 B = 8 bits
</section>