@model MawMvcApp.ViewModels.Tools.RollTheDiceModel
@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | roll the dice";
}

@section header {
    <h1>Roll the Dice</h1>
}

@section sidebar {
    @Html.Partial("_ToolSidebar", new SidebarModel() { Group = "general", Item = "roll-the-dice" })
}

<p>
It always seems the folks I hang out with tend to be indecisive about choosing things.  This occurs almost
all the time when it comes to determining where to go for lunch or dinner.  Typically, many are options are
given, but no decision is made.
</p>

<p>
In an effort to facilitate decisions, this tool allows you to <i>roll the dice</i>.
</p>

<form asp-controller="tools" asp-action="rollthedice" method="post" autocomplete="off" role="form">
	<div class="form-group">
		<div class="row">
			<label asp-for="NumberOfSides" class="col col-form-label"></label>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<input asp-for="NumberOfSides" class="form-control" autofocus="" />
				<span asp-validation-for="NumberOfSides" class="form-text"></span>
			</div>
		</div>
    </div>

    <div class="form-group">
		<div class="row">
			<label asp-for="NumberOfThrows" class="col col-form-label"></label>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<input asp-for="NumberOfThrows" class="form-control" />
				<span asp-validation-for="NumberOfThrows" class="form-text"></span>
			</div>
		</div>
	</div>

    <div class="form-group">
		<div class="row">
            <div class="col">
   	    		<button type="submit" class="btn btn-primary">Roll</button>
			</div>
		</div>
    </div>
</form>

@if(Model.Executed) {
	<div class="row">
		<div class="col-sm-12">
			<h2>Winners</h2>

			<ul>
			@foreach(int side in Model.WinnerList) {
				<li>@side</li>
			}
			</ul>


			<h2>Results</h2>
			<ul>
			@for(int i = 0; i < Model.ThrowCounts.Length; i++) {
				<li>@(i + 1): @Model.ThrowCounts[i]</li>
			}
			</ul>
		</div>
	</div>
}
