@{ 
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | weekend countdown"; 
}

@section custom_head {
    <base href="/" />
}

@section scripts_footer {
    <script type="text/javascript" src="/js/weekend_countdown/inline.bundle.js"></script>
    <script type="text/javascript" src="/js/weekend_countdown/styles.bundle.js"></script>
    <script type="text/javascript" src="/js/weekend_countdown/main.bundle.js"></script>
}

@section header {
    @Html.Partial("_PageHeader", "Weekend Countdown")
}

@section sidebar {
    @Html.Partial("_ToolSidebar", new SidebarModel() { Group = "general", Item = "weekend-countdown" })
}

<section>
    <app-root>Loading...</app-root>
</section>