@model MawMvcApp.ViewModels.Tools.Dotnet.XmlValidateModel
@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | xml validator";
}

@section header {
    <h1>XML Validator</h1>
}

@section sidebar {
    @Html.Partial("_ToolSidebar", new SidebarModel() { Group = "dotnet", Item = "xml-validate" })
}

<p>
	This page allows you to validate the contents of an XML document, to make sure it is
	well formed, and optionally, that it adheres to the supplied DTD / XSD.
</p>

<form asp-controller="tools" asp-action="xmlvalidate" method="post" autocomplete="off" role="form">
	<div class="form-group row" maw-for="@Model.XmlSource">
		<label asp-for="XmlSource" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
			<textarea asp-for="XmlSource" rows="8" class="form-control" autofocus=""></textarea>
			<span asp-validation-for="XmlSource" class="form-text"></span>
        </div>
	</div>
    <div class="form-group row" maw-for="@Model.SchemaOrDtdSource">
		<label asp-for="SchemaOrDtdSource" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
			<textarea asp-for="SchemaOrDtdSource" rows="8" class="form-control"></textarea>
			<span asp-validation-for="SchemaOrDtdSource" class="form-text"></span>
        </div>
	</div>

    <div class="form-group row">
        <div class="offset-sm-3 col-sm-2">
            <button type="submit" class="btn btn-primary">Validate</button>
        </div>
    </div>
</form>

<br/>

@if(Model.ValidationAttempted) {
	if(!Model.AreErrors) {
		<p>
			<strong>The XML document is VALID!</strong>
		</p>
	}
	else {
		<p>Your XML document is not well formed.  The following outlines the errors encountered:</p>
		<pre><code>
@Model.ValidationErrors
		</code></pre>
	}
}
