@model MawMvcApp.ViewModels.Tools.Dotnet.XsdValidateModel
@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | xsd validator";
}

@section header {
    <h1>XSD Validator</h1>
}

@section sidebar {
    @Html.Partial("_ToolSidebar", new SidebarModel() { Group = "dotnet", Item = "xsd-validate" })
}

<p>
	This page allows you to validate an XML Schema document.
</p>

<form asp-controller="tools" asp-action="xsdvalidate" method="post" autocomplete="off" role="form">
    <div class="form-group row" maw-for="@Model.XmlSchemaSource">
		<label asp-for="XmlSchemaSource" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
			<textarea asp-for="XmlSchemaSource" rows="10" class="form-control" autofocus=""></textarea>
			<span asp-validation-for="XmlSchemaSource" class="form-text"></span>
        </div>
	</div>
    <div class="form-group row">
        <div class="offset-sm-3 col-sm-2">
            <button type="submit" class="btn btn-primary">Validate</button>
        </div>
    </div>
</form>

<br/>

@if(Model.ValidationAttempted) {
	if(!Model.AreErrors) {
		<p>
			<strong>The XML schema is VALID!</strong>
		</p>
	}
	else {
		<p>Your XML Schema is invalid.  The following outlines the errors encountered:</p>
		<pre>@Model.ValidationErrors</pre>
	}
}