@model MawMvcApp.ViewModels.Tools.Dotnet.XsdValidateModel
@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | xsd validator";
}

@section header {
    <h1>XSD Validator</h1>
}

@section sidebar {
    @Html.Partial("_ToolSidebar", new SidebarModel() { Group = "dotnet", Item = "xsd-validate" })
}

@if(Model.HasErrors) {
    <p maw-alert-type="Danger">
        Please correct the errors below:
    </p>
    <div class="text-danger" asp-validation-summary="All"></div>
}

<p>
	This page allows you to validate an XML Schema document.
</p>

<form asp-controller="tools" asp-action="xsdvalidate" method="post" autocomplete="off" role="form">
    <div class="form-group">
		<label asp-for="XmlSchemaSource" class="col-form-label"></label>
		<textarea asp-for="XmlSchemaSource" rows="10" class="form-control" autofocus=""></textarea>
		@*<span asp-validation-for="XmlSchemaSource" class="form-text"></span>*@
	</div>
    <div class="form-group">
		<button type="submit" class="btn btn-primary">Validate</button>
    </div>
</form>

<br/>

@if(Model.ValidationAttempted) {
	if(!Model.AreErrors) {
		<p>
			<strong>The XML schema is VALID!</strong>
		</p>
	}
	else {
		<p>Your XML Schema is invalid.  The following outlines the errors encountered:</p>
		<pre><code>
@Model.ValidationErrors
		</code></pre>
	}
}