@model MawMvcApp.ViewModels.About.ContactModel
@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "about | contact";
}

@if(Model == null) {
    throw new InvalidOperationException("Model should not be null!");
}

@section scripts_head {
    <partial name="_js_GoogleRecaptcha" />
}

@section sidebar {
    @{
        var sidebarModel = "contact";
    }
    <partial name="_AboutSidebar" model="sidebarModel" />
}

@section header {
    <h1>Contact Us</h1>
}

@if(Model.SubmitAttempted) {
    if(Model.SubmitSuccess) {
        <p maw-alert-type="Success">Thank you, your submission was successful.</p>
    }
    else {
        <p maw-alert-type="Danger">Sorry, there was an error submitting your request, please try again later.</p>
        <div class="text-danger" asp-validation-summary="All"></div>
    }
}

@if(!Model.SubmitSuccess) {
    <p>Have something on your mind?  Let us know!</p>

    <form asp-controller="about" asp-action="contact" method="post" autocomplete="off" role="form">
        <div class="row mb-3">
            <div class="col-sm-6">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control col-sm-6" autofocus="" />
                @*<span asp-validation-for="FirstName" class="form-text text-danger"></span>*@
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-6">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" />
                @*<span asp-validation-for="LastName" class="form-text"></span>*@
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-6">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                @*<span asp-validation-for="Email" class="form-text"></span>*@
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-9">
                <label asp-for="Message" class="form-label"></label>
                <textarea asp-for="Message" rows="10" class="form-control"></textarea>
                @*<span asp-validation-for="Message" class="form-text"></span>*@
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <partial name="_GoogleRecaptcha" for="RecaptchaSiteKey" />
                @*<span asp-validation-for="IsHuman" class="form-text"></span>*@
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
}
