@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "about";
}

@section header {
    <h1>About Us</h1>
}

@section sidebar {
    @{
        var sidebarModel = "index";
    }
    <partial name="_AboutSidebar" model="sidebarModel" />
}

<img class="img-fluid center-block" src="/images/2011/dinner_with_friends/md/DSC_7713.jpg" />

Hello and welcome to our little corner of the web.  As you've probably guessed, above you can spot Mike and Wan, along with our little darling.
If you're out somewhere and spot a wacky person wearing green beads on their head, be sure to stop and say hello =D.

