/* You can add global styles to this file, and also import other style files */
.yellow {
    color: #cc0;
}

.vs {
    font-size:36px;
    padding: 8px;
    font-family: 'Permanent Marker', cursive;
}

.vs_row,
.board_row {
    margin-bottom: 12px;
}
