<div class="row">
    <div class="col-sm-5 text-center">
        <h2>Player 1 - Choose Your Character</h2>
    </div>
    <div class="col-sm-offset-2 col-sm-5 text-center">
        <h2>Player 2 - Choose Your Character</h2>
    </div>
</div>
<div class="row vertical-align">
    <div class="col-sm-5">
        <app-player-select [characters]="player1characters" (characterSelected)="player1Selected($event)"></app-player-select>
    </div>
    <div class="col-sm-2 center-block">
        <button type="button" class="btn btn-primary" [disabled]="!isReadyToPlay" (click)="play()">Play!</button>
    </div>
    <div class="col-sm-5">
        <app-player-select [characters]="player2characters" (characterSelected)="player2Selected($event)"></app-player-select>
    </div>
</div>
