@{
    ViewBag.Title = "games | memory";
}

@section custom_head {
    <base href="/games/memory" />
}

@section stylesheets {
    <link rel="stylesheet" href="/css/games.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent+Marker" />
    <link rel="stylesheet" href="/js/memory/styles.css" />
}

@section scripts_footer {
    <script src="/js/memory/runtime.js" defer></script>
    <script src="/js/memory/polyfills.js" defer></script>
    <script src="/js/memory/main.js" defer></script>
}

<h2>Memory</h2>

<app-root>Loading...</app-root>
