@{
    ViewBag.Title = "games | money-spin";
}

@section custom_head {
    <base href="/games/money-spin" />
}

@section stylesheets {
    <link rel="stylesheet" href="/css/games.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent+Marker" />
    <link rel="stylesheet" href="/js/money_spin/styles.css" />
}

@section scripts_footer {
    <script type="text/javascript" src="/js/money_spin/runtime.js"></script>
    <script type="text/javascript" src="/js/money_spin/polyfills.js"></script>
    <script type="text/javascript" src="/js/money_spin/main.js"></script>
}

<h2>Money Spin</h2>

<div class="row">
    <div class="col d-flex justify-content-center">
        <app-root>Loading...</app-root>
    </div>
</div>
