@using MawMvcApp.ViewModels.Admin
@model CreateRoleModel
@{ ViewBag.Title = "admin | create role"; }

<h1>Create Role</h1>

@Html.Partial("_identityResult", new IdentityResultModel("role", Model.Result))

@if(Model.Result == null || !Model.Result.Succeeded) {
	<form asp-controller="admin" asp-action="createrole" method="post" autocomplete="off" role="form">
		<div class="form-group">
			<label asp-for="Name" class="col-form-label"></label>

			<div class="row">
				<div class="col-sm-5">
					<input asp-for="Name" class="form-control" autofocus="" />
					<span asp-validation-for="Name" class="form-text"></span>
				</div>
			</div>
		</div>
	    <div class="form-group">
			<label asp-for="Description" class="col-form-label"></label>

			<div class="row">
				<div class="col-sm-5">
					<input asp-for="Description" class="form-control" />
					<span asp-validation-for="Description" class="form-text"></span>
				</div>
			</div>
		</div>

	    <div class="form-group">
			<button type="submit" class="btn btn-primary">Submit</button>
	    </div>
	</form>
}
