@using MawMvcApp.ViewModels.Admin
@model DeleteRoleModel
@{ ViewBag.Title = "admin | delete role"; }

<h1>Delete Role</h1>

@Html.Partial("_identityResult", new IdentityResultModel("role", Model.Result))

@if(Model.Result == null || !Model.Result.Succeeded) {
	<p>Are you sure you would like to delete the role <strong>@Model.Role</strong>?</p>

	<form asp-controller="admin" asp-action="deleterole" method="post" autocomplete="off" role="form">
		<input asp-for="Role" type="hidden" />

	    <div class="form-group">
			<button type="submit" name="delete" class="btn btn-primary">Yes</button>
			<button type="submit" class="btn btn-primary">No</button>
	    </div>
	</form>
}