@using MawMvcApp.ViewModels.Admin
@model ManageRolesForUserModel
@{ ViewBag.Title = "admin | manage roles for user"; }

<h1>Edit Role Membership</h1>

@Html.Partial("_identityResult", new IdentityResultModel("user role assignments", Model.Result))

<p>Select what roles <strong>@Model.Username</strong> should belong to.</p>

<form asp-controller="admin" asp-action="managerolesforuser" method="post" autocomplete="off" role="form">
	<input asp-for="Username" type="hidden" />

	<div class="row">
	    <div class="col-6">
			<table class="table table-responsive table-striped table-hover table-sm">
				<thead>
					<tr>
						<th>Group</th>
						<th>Member</th>
					</tr>
				</thead>
				<tbody>
				@foreach(string role in Model.AllRoles) {
					<tr>
						<td>@role</td>
						<td><input type="checkbox" name="role" value="@role" @if(Model.GrantedRoles.Contains(@role)) { <text>CHECKED</text> } /></td>
					</tr>
				}
				</tbody>
			</table>
	    </div>
	</div>
	<div class="form-group row">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
	</div>
</form>
