[Unit]
Description=mikeandwan.us web application

[Service]
Type=notify
EnvironmentFile=/etc/systemd/system/maw_www.env
WorkingDirectory=/srv/www/maw_www
ExecStart=/usr/share/dotnet/dotnet MawWww.dll
RuntimeDirectory=maw_www
RuntimeDirectoryMode=0775
Restart=always
RestartSec=10
SyslogIdentifier=maw
User=svc_www_maw
Group=svc_www_maw
UMask=002

[Install]
WantedBy=multi-user.target
