@model MawMvcApp.ViewModels.Account.ForgotPasswordModel
@{
	Layout = "_LayoutSidebar";
	ViewBag.Title = "account | forgot password";
}

@section sidebar {
	<div class="card">
        <div class="card-body">
            Submit your email address to receive instructions on how to reset your password.  If you do not yet
            have an account, or forgot which email is associated to your account, please <a asp-controller="about" asp-action="contact">contact us</a>.
        </div>
	</div>
}

@section header {
	<h1>Forgot Password</h1>
}

@if(Model.WasSuccessful) {
	<p maw-alert-type="Success">You should receive an email shortly with instructions on how to complete resetting your password.</p>
}
else {
	@if(Model.WasEmailAttempted) {
		<p maw-alert-type="Danger">Password reset email was not sent.</p>
		<div class="text-danger" asp-validation-summary="All"></div>
	}

	<p>
		Enter the email address associated with your account to reset your password.
	</p>

	<form asp-controller="account" asp-action="forgotpassword" method="post" autocomplete="off" role="form">
	    <div class="form-row">
			<label asp-for="Email" class="col-sm-3 col-form-label"></label>
	        <div class="col-sm-6">
				<input asp-for="Email" class="form-control" autofocus="" />
				@*<span asp-validation-for="Email" class="form-text"></span>*@
	        </div>
		</div>

	    <div class="form-row">
	        <div class="offset-sm-3 col-sm-2">
	            <button type="submit" class="btn btn-primary">Email Link</button>
	        </div>
	    </div>
	</form>
}