<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false"
      internalLogLevel="Warn"
      internalLogFile="/var/log/nginx/mikeandwan.us/internal-nlog.log">

    <targets async="true">
        <target xsi:type="File" name="mawlog" fileName="/var/log/nginx/mikeandwan.us/maw_${shortdate}.log"
                layout="${longdate}|${uppercase:${level}}|${logger}|${aspnet-user-identity}|${message} ${exception}" />
    </targets>
  
    <rules>
        <logger name="*" minlevel="Information" writeTo="mawlog" />
    </rules>
</nlog>