<div class="container">
	<div class="row">
		<div class="col-sm-5 text-center">
		    <h2>Player 1 - Choose Your Turtle</h2>
		</div>
		<div class="col-sm-offset-2 col-sm-5 text-center">
		    <h2>Player 2 - Choose Your Turtle</h2>
		</div>
	</div>
	<div class="row vertical-align">
	    <div class="col-sm-5">
	        <choose-turtle-grid (selected)="setCharacter1($event)"></choose-turtle-grid>
	    </div>
	    <div class="col-sm-2 text-center">
	        <button type="button" class="btn btn-primary" [disabled]="!readyToPlay" (click)="play()">Play!</button>
	    </div>
        <div class="col-sm-5">
            <choose-turtle-grid (selected)="setCharacter2($event)"></choose-turtle-grid>
        </div>
	</div>
</div>