@model MawMvcApp.ViewModels.About.ContactModel
@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "about | contact";
}

@section scripts_head {
    @Html.Partial("_js_GoogleRecaptcha")
}

@section sidebar {
    @Html.Partial("_AboutSidebar", "contact")
}

@section header {
    <h1>Contact Us</h1>
}

@if(Model.SubmitAttempted) {
	if(Model.SubmitSuccess) {
        <p maw-alert-type="Success">Thank you, your submission was successful.</p>
	}
	else {
        <p maw-alert-type="Danger">Sorry, there was an error submitting your request, please try again later.</p>
        <div class="text-danger" asp-validation-summary="All"></div>
	}
}

@if(!Model.SubmitSuccess) {
    <p>Have something on your mind?  Let us know!</p>

    <form asp-controller="about" asp-action="contact" method="post" autocomplete="off" role="form">
        <div class="form-group">
            <div class="row">
                <label asp-for="FirstName" class="col col-form-label"></label>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input asp-for="FirstName" class="form-control" autofocus="" />
                    @*<span asp-validation-for="FirstName" class="form-text"></span>*@
                </div>
            </div>
    	</div>

        <div class="form-group">
            <div class="row">
                <label asp-for="LastName" class="col col-form-label"></label>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input asp-for="LastName" class="form-control" />
                    @*<span asp-validation-for="LastName" class="form-text"></span>*@
                </div>
            </div>
    	</div>

        <div class="form-group">
            <div class="row">
                <label asp-for="Email" class="col col-form-label"></label>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input asp-for="Email" class="form-control" />
                    @*<span asp-validation-for="Email" class="form-text"></span>*@
                </div>
            </div>
    	</div>

        <div class="form-group">
            <div class="row">
                <label asp-for="Message" class="col col-form-label"></label>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <textarea asp-for="Message" rows="10" class="form-control"></textarea>
                    @*<span asp-validation-for="Message" class="form-text"></span>*@
                </div>
            </div>
    	</div>

        <div class="form-group">
            <div class="row">
                <div class="col">
                    @Html.Partial("_GoogleRecaptcha", @Model.RecaptchaSiteKey)
                    @*<span asp-validation-for="IsHuman" class="form-text"></span>*@
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
}
