<div class="row" *ngIf="displayedVideo">
    <div class="col-sm-12">
        <video class="center-block" autoplay="false" [ngStyle]="{height: displayedVideo.height + 'px', width: displayedVideo.width + 'px'}" controls>
            <source [src]="displayedVideo.path" type="video/mp4" />
            Your browser does not support the <code>video</code> element.
        </video>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <pager (pageSelected)="onChangePage($event)"></pager>
        <thumbnail-list (selected)="onThumbnailSelected($event)"></thumbnail-list>
    </div>
</div>