<div class="modal-body">
	<kbd>&larr;</kbd> - Move Previous
	<br/>
	<kbd>&rarr;</kbd> - Move Next
	<br/>
	<kbd>f</kbd> - Toggle Full Screen
	<br/>
	<kbd>a</kbd> - Rotate Counter Clockwise 90&deg;
	<br/>
	<kbd>d</kbd> - Rotate Clockwise 90&deg;
	<br/>
	<kbd>s</kbd> - Toggle Slideshow
	<br/>
	<kbd>c</kbd> - Toggle Comments
	<br/>
	<kbd>x</kbd> - Toggle Exif Data
	<br/>
	<kbd>r</kbd> - Toggle Ratings
	<br/>
	<kbd>h</kbd> - Toggle Histogram
	<br/>
	<div *ngIf="supportCssFilters">
		<kbd>m</kbd> - Toggle Manipulation Sliders
		<br/>
	</div>
	<kbd>?</kbd> - Toggle Help Screen
</div>
