<maw-dialog class="hidden-xs">
	<app-svg-icon [klass]="'icon vcenter'" [icon]="svgIcon.ArrowLeft"></app-svg-icon> - Move Previous
	<br/>
	<app-svg-icon [klass]="'icon vcenter'" [icon]="svgIcon.ArrowRight"></app-svg-icon> - Move Next
	<br/>
	<strong>f</strong> - Toggle Full Screen
	<br/>
	<strong>a</strong> - Rotate Counter Clockwise 90&deg;
	<br/>
	<strong>d</strong> - Rotate Clockwise 90&deg;
	<br/>
	<strong>s</strong> - Toggle Slideshow
	<br/>
	<strong>c</strong> - Toggle Comments
	<br/>
	<strong>x</strong> - Toggle Exif Data
	<br/>
	<strong>r</strong> - Toggle Ratings
	<br/>
	<strong>h</strong> - Toggle Histogram
	<br/>
	<div *ngIf="supportCssFilters">
		<strong>m</strong> - Toggle Manipulation Sliders
		<br/>
	</div>
	<strong>?</strong> - Toggle Help Screen
</maw-dialog>
