<div class="modal-header">
    <h4 class="modal-title">Preferences</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancel()" appFocusRemover>
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group row">
            <div class="col">
                <label for="prefsDisplayMode" class="col-form-label">Photo Display Mode</label>
            </div>
            <div class="col">
                <select class="custom-select w-100" id="prefsDisplayMode" [(ngModel)]="form.displayMode" name="displayMode">
                    <option value="1">Inline View</option>
                    <option value="2">Popup (optimized for small screens)</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <label for="prefsThumbnailsPerPage" class="col-form-label">Thumbnails Per Page</label>
            </div>
            <div class="col">
                <select class="custom-select w-100" id="prefsThumbnailsPerPage" [(ngModel)]="form.thumbnailsPerPage" name="thumbnailsPerPage">
                    <option>12</option>
                    <option>24</option>
                    <option>36</option>
                    <option>48</option>
                    <option>60</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <label for="prefsSlideshowInterval" class="col-form-label">Slideshow Interval</label>
            </div>
            <div class="col">
                <select class="custom-select w-100" id="prefsSlideshowInterval" [(ngModel)]="form.slideshowInterval" name="slideshowInterval">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>10</option>
                    <option>20</option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="cancel()" appFocusRemover>Cancel</button>
    <button type="button" class="btn btn-primary" (click)="save()" appFocusRemover>Save</button>
</div>
