@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "reference | html colors";
}

@section header {
    <h1>Color Codes</h1>
}

@section sidebar {
    @Html.Partial("_ReferenceSidebar", new SidebarModel() { Group = "html", Item = "html-colors" })
}

<p>
  This page provide a listing of various colors, organized by color shade.
  The source of this document is based on
  <a href="http://eies.njit.edu/~walsh">http://eies.njit.edu/~walsh</a>, and is
  Copyright &copy; 2001 Kevin J. Walsh.  He grants permission to copy and modify
  this document, provided the URL and copyright are associated with the content.
</p>

<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item"><a class="nav-link active" href="#blacks" aria-controls="blacks" role="tab" data-toggle="tab">Blacks</a></li>
	<li class="nav-item"><a class="nav-link" href="#blues" aria-controls="blues" role="tab" data-toggle="tab">Blues</a></li>
	<li class="nav-item"><a class="nav-link" href="#browns" aria-controls="browns" role="tab" data-toggle="tab">Browns</a></li>
	<li class="nav-item"><a class="nav-link" href="#greens" aria-controls="greens" role="tab" data-toggle="tab">Greens</a></li>
	<li class="nav-item"><a class="nav-link" href="#oranges" aria-controls="oranges" role="tab" data-toggle="tab">Oranges</a></li>
	<li class="nav-item"><a class="nav-link" href="#reds" aria-controls="reds" role="tab" data-toggle="tab" href="#">Reds</a></li>
	<li class="nav-item"><a class="nav-link" href="#violets" aria-controls="violets" role="tab" data-toggle="tab" href="#">Violets</a></li>
	<li class="nav-item"><a class="nav-link" href="#whites" aria-controls="whites" role="tab" data-toggle="tab" href="#">Whites</a></li>
	<li class="nav-item"><a class="nav-link" href="#yellows" aria-controls="yellows" role="tab" data-toggle="tab" href="#">Yellows</a></li>
	<li class="nav-item"><a class="nav-link" href="#metallic" aria-controls="metallic" role="tab" data-toggle="tab" href="#">Metallic</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane fade show active" id="blacks" role="tabpanel">
	<table class="table table-striped table-hover table-sm">
		<tr><th>Color Name</th><th>R:G:B</th><th>Hex</th><th>Color Sample</th></tr>
		<tr><td>black</td><td>0:0:0</td><td>000000</td><td style="background-color: #000000"></td></tr>
		<tr><td>grey</td><td>190:190:190</td><td>BEBEBE</td><td style="background-color: #BEBEBE"></td></tr>
		<tr><td>DimGrey</td><td>105:105:105</td><td>696969</td><td style="background-color: #696969"></td></tr>
		<tr><td>LightGray</td><td>211:211:211</td><td>D3D3D3</td><td style="background-color: #D3D3D3"></td></tr>
		<tr><td>LightSlateGrey</td><td>119:136:153</td><td>778899</td><td style="background-color: #778899"></td></tr>
		<tr><td>SlateGray</td><td>112:128:144</td><td>708090</td><td style="background-color: #708090"></td></tr>
		<tr><td>SlateGray1</td><td>198:226:255</td><td>C6E2FF</td><td style="background-color: #C6E2FF"></td></tr>
		<tr><td>SlateGray2</td><td>185:211:238</td><td>B9D3EE</td><td style="background-color: #B9D3EE"></td></tr>
		<tr><td>SlateGray3</td><td>159:182:205</td><td>9FB6CD</td><td style="background-color: #9FB6CD"></td></tr>
		<tr><td>SlateGray4</td><td>108:123:139</td><td>6C7B8B</td><td style="background-color: #6C7B8B"></td></tr>
		<tr><td>SlateGrey</td><td>112:128:144</td><td>708090</td><td style="background-color: #708090"></td></tr>
		<tr><td>grey0</td><td>0:0:0</td><td>000000</td><td style="background-color: #000000"></td></tr>
		<tr><td>grey1</td><td>3:3:3</td><td>030303</td><td style="background-color: #030303"></td></tr>
		<tr><td>grey2</td><td>5:5:5</td><td>050505</td><td style="background-color: #050505"></td></tr>
		<tr><td>grey3</td><td>8:8:8</td><td>080808</td><td style="background-color: #080808"></td></tr>
		<tr><td>grey4</td><td>10:10:10</td><td>0A0A0A</td><td style="background-color: #0A0A0A"></td></tr>
		<tr><td>grey5</td><td>13:13:13</td><td>0D0D0D</td><td style="background-color: #0D0D0D"></td></tr>
		<tr><td>grey6</td><td>15:15:15</td><td>0F0F0F</td><td style="background-color: #0F0F0F"></td></tr>
		<tr><td>grey7</td><td>18:18:18</td><td>121212</td><td style="background-color: #121212"></td></tr>
		<tr><td>grey8</td><td>20:20:20</td><td>141414</td><td style="background-color: #141414"></td></tr>
		<tr><td>grey9</td><td>23:23:23</td><td>171717</td><td style="background-color: #171717"></td></tr>
		<tr><td>grey10</td><td>26:26:26</td><td>1A1A1A</td><td style="background-color: #1A1A1A"></td></tr>
		<tr><td>grey11</td><td>28:28:28</td><td>1C1C1C</td><td style="background-color: #1C1C1C"></td></tr>
		<tr><td>grey12</td><td>31:31:31</td><td>1F1F1F</td><td style="background-color: #1F1F1F"></td></tr>
		<tr><td>grey13</td><td>33:33:33</td><td>212121</td><td style="background-color: #212121"></td></tr>
		<tr><td>grey14</td><td>36:36:36</td><td>242424</td><td style="background-color: #242424"></td></tr>
		<tr><td>grey15</td><td>38:38:38</td><td>262626</td><td style="background-color: #262626"></td></tr>
		<tr><td>grey16</td><td>41:41:41</td><td>292929</td><td style="background-color: #292929"></td></tr>
		<tr><td>grey17</td><td>43:43:43</td><td>2B2B2B</td><td style="background-color: #2B2B2B"></td></tr>
		<tr><td>grey18</td><td>46:46:46</td><td>2E2E2E</td><td style="background-color: #2E2E2E"></td></tr>
		<tr><td>grey19</td><td>48:48:48</td><td>303030</td><td style="background-color: #303030"></td></tr>
		<tr><td>grey20</td><td>51:51:51</td><td>333333</td><td style="background-color: #333333"></td></tr>
		<tr><td>grey21</td><td>54:54:54</td><td>363636</td><td style="background-color: #363636"></td></tr>
		<tr><td>grey22</td><td>56:56:56</td><td>383838</td><td style="background-color: #383838"></td></tr>
		<tr><td>grey23</td><td>59:59:59</td><td>3B3B3B</td><td style="background-color: #3B3B3B"></td></tr>
		<tr><td>grey24</td><td>61:61:61</td><td>3D3D3D</td><td style="background-color: #3D3D3D"></td></tr>
		<tr><td>grey25</td><td>64:64:64</td><td>404040</td><td style="background-color: #404040"></td></tr>
		<tr><td>grey26</td><td>66:66:66</td><td>424242</td><td style="background-color: #424242"></td></tr>
		<tr><td>grey27</td><td>69:69:69</td><td>454545</td><td style="background-color: #454545"></td></tr>
		<tr><td>grey28</td><td>71:71:71</td><td>474747</td><td style="background-color: #474747"></td></tr>
		<tr><td>grey29</td><td>74:74:74</td><td>4A4A4A</td><td style="background-color: #4A4A4A"></td></tr>
		<tr><td>grey30</td><td>77:77:77</td><td>4D4D4D</td><td style="background-color: #4D4D4D"></td></tr>
		<tr><td>grey31</td><td>79:79:79</td><td>4F4F4F</td><td style="background-color: #4F4F4F"></td></tr>
		<tr><td>grey32</td><td>82:82:82</td><td>525252</td><td style="background-color: #525252"></td></tr>
		<tr><td>grey33</td><td>84:84:84</td><td>545454</td><td style="background-color: #545454"></td></tr>
		<tr><td>grey34</td><td>87:87:87</td><td>575757</td><td style="background-color: #575757"></td></tr>
		<tr><td>grey35</td><td>89:89:89</td><td>595959</td><td style="background-color: #595959"></td></tr>
		<tr><td>grey36</td><td>92:92:92</td><td>5C5C5C</td><td style="background-color: #5C5C5C"></td></tr>
		<tr><td>grey37</td><td>94:94:94</td><td>5E5E5E</td><td style="background-color: #5E5E5E"></td></tr>
		<tr><td>grey38</td><td>97:97:97</td><td>616161</td><td style="background-color: #616161"></td></tr>
		<tr><td>grey39</td><td>99:99:99</td><td>636363</td><td style="background-color: #636363"></td></tr>
		<tr><td>grey40</td><td>102:102:102</td><td>666666</td><td style="background-color: #666666"></td></tr>
		<tr><td>grey41</td><td>105:105:105</td><td>696969</td><td style="background-color: #696969"></td></tr>
		<tr><td>grey42</td><td>107:107:107</td><td>6B6B6B</td><td style="background-color: #6B6B6B"></td></tr>
		<tr><td>grey43</td><td>110:110:110</td><td>6E6E6E</td><td style="background-color: #6E6E6E"></td></tr>
		<tr><td>grey44</td><td>112:112:112</td><td>707070</td><td style="background-color: #707070"></td></tr>
		<tr><td>grey45</td><td>115:115:115</td><td>737373</td><td style="background-color: #737373"></td></tr>
		<tr><td>grey46</td><td>117:117:117</td><td>757575</td><td style="background-color: #757575"></td></tr>
		<tr><td>grey47</td><td>120:120:120</td><td>787878</td><td style="background-color: #787878"></td></tr>
		<tr><td>grey48</td><td>122:122:122</td><td>7A7A7A</td><td style="background-color: #7A7A7A"></td></tr>
		<tr><td>grey49</td><td>125:125:125</td><td>7D7D7D</td><td style="background-color: #7D7D7D"></td></tr>
		<tr><td>grey50</td><td>127:127:127</td><td>7F7F7F</td><td style="background-color: #7F7F7F"></td></tr>
		<tr><td>grey51</td><td>130:130:130</td><td>828282</td><td style="background-color: #828282"></td></tr>
		<tr><td>grey52</td><td>133:133:133</td><td>858585</td><td style="background-color: #858585"></td></tr>
		<tr><td>grey53</td><td>135:135:135</td><td>878787</td><td style="background-color: #878787"></td></tr>
		<tr><td>grey54</td><td>138:138:138</td><td>8A8A8A</td><td style="background-color: #8A8A8A"></td></tr>
		<tr><td>grey55</td><td>140:140:140</td><td>8C8C8C</td><td style="background-color: #8C8C8C"></td></tr>
		<tr><td>grey56</td><td>143:143:143</td><td>8F8F8F</td><td style="background-color: #8F8F8F"></td></tr>
		<tr><td>grey57</td><td>145:145:145</td><td>919191</td><td style="background-color: #919191"></td></tr>
		<tr><td>grey58</td><td>148:148:148</td><td>949494</td><td style="background-color: #949494"></td></tr>
		<tr><td>grey59</td><td>150:150:150</td><td>969696</td><td style="background-color: #969696"></td></tr>
		<tr><td>grey60</td><td>153:153:153</td><td>999999</td><td style="background-color: #999999"></td></tr>
		<tr><td>grey61</td><td>156:156:156</td><td>9C9C9C</td><td style="background-color: #9C9C9C"></td></tr>
		<tr><td>grey62</td><td>158:158:158</td><td>9E9E9E</td><td style="background-color: #9E9E9E"></td></tr>
		<tr><td>grey63</td><td>161:161:161</td><td>A1A1A1</td><td style="background-color: #A1A1A1"></td></tr>
		<tr><td>grey64</td><td>163:163:163</td><td>A3A3A3</td><td style="background-color: #A3A3A3"></td></tr>
		<tr><td>grey65</td><td>166:166:166</td><td>A6A6A6</td><td style="background-color: #A6A6A6"></td></tr>
		<tr><td>grey66</td><td>168:168:168</td><td>A8A8A8</td><td style="background-color: #A8A8A8"></td></tr>
		<tr><td>grey67</td><td>171:171:171</td><td>ABABAB</td><td style="background-color: #ABABAB"></td></tr>
		<tr><td>grey68</td><td>173:173:173</td><td>ADADAD</td><td style="background-color: #ADADAD"></td></tr>
		<tr><td>grey69</td><td>176:176:176</td><td>B0B0B0</td><td style="background-color: #B0B0B0"></td></tr>
		<tr><td>grey70</td><td>179:179:179</td><td>B3B3B3</td><td style="background-color: #B3B3B3"></td></tr>
		<tr><td>grey71</td><td>181:181:181</td><td>B5B5B5</td><td style="background-color: #B5B5B5"></td></tr>
		<tr><td>grey72</td><td>184:184:184</td><td>B8B8B8</td><td style="background-color: #B8B8B8"></td></tr>
		<tr><td>grey73</td><td>186:186:186</td><td>BABABA</td><td style="background-color: #BABABA"></td></tr>
		<tr><td>grey74</td><td>189:189:189</td><td>BDBDBD</td><td style="background-color: #BDBDBD"></td></tr>
		<tr><td>grey75</td><td>191:191:191</td><td>BFBFBF</td><td style="background-color: #BFBFBF"></td></tr>
		<tr><td>grey76</td><td>194:194:194</td><td>C2C2C2</td><td style="background-color: #C2C2C2"></td></tr>
		<tr><td>grey77</td><td>196:196:196</td><td>C4C4C4</td><td style="background-color: #C4C4C4"></td></tr>
		<tr><td>grey78</td><td>199:199:199</td><td>C7C7C7</td><td style="background-color: #C7C7C7"></td></tr>
		<tr><td>grey79</td><td>201:201:201</td><td>C9C9C9</td><td style="background-color: #C9C9C9"></td></tr>
		<tr><td>grey80</td><td>204:204:204</td><td>CCCCCC</td><td style="background-color: #CCCCCC"></td></tr>
		<tr><td>grey81</td><td>207:207:207</td><td>CFCFCF</td><td style="background-color: #CFCFCF"></td></tr>
		<tr><td>grey82</td><td>209:209:209</td><td>D1D1D1</td><td style="background-color: #D1D1D1"></td></tr>
		<tr><td>grey83</td><td>212:212:212</td><td>D4D4D4</td><td style="background-color: #D4D4D4"></td></tr>
		<tr><td>grey84</td><td>214:214:214</td><td>D6D6D6</td><td style="background-color: #D6D6D6"></td></tr>
		<tr><td>grey85</td><td>217:217:217</td><td>D9D9D9</td><td style="background-color: #D9D9D9"></td></tr>
		<tr><td>grey86</td><td>219:219:219</td><td>DBDBDB</td><td style="background-color: #DBDBDB"></td></tr>
		<tr><td>grey87</td><td>222:222:222</td><td>DEDEDE</td><td style="background-color: #DEDEDE"></td></tr>
		<tr><td>grey88</td><td>224:224:224</td><td>E0E0E0</td><td style="background-color: #E0E0E0"></td></tr>
		<tr><td>grey89</td><td>227:227:227</td><td>E3E3E3</td><td style="background-color: #E3E3E3"></td></tr>
		<tr><td>grey90</td><td>229:229:229</td><td>E5E5E5</td><td style="background-color: #E5E5E5"></td></tr>
		<tr><td>grey91</td><td>232:232:232</td><td>E8E8E8</td><td style="background-color: #E8E8E8"></td></tr>
		<tr><td>grey92</td><td>235:235:235</td><td>EBEBEB</td><td style="background-color: #EBEBEB"></td></tr>
		<tr><td>grey93</td><td>237:237:237</td><td>EDEDED</td><td style="background-color: #EDEDED"></td></tr>
		<tr><td>grey94</td><td>240:240:240</td><td>F0F0F0</td><td style="background-color: #F0F0F0"></td></tr>
		<tr><td>grey95</td><td>242:242:242</td><td>F2F2F2</td><td style="background-color: #F2F2F2"></td></tr>
		<tr><td>grey96</td><td>245:245:245</td><td>F5F5F5</td><td style="background-color: #F5F5F5"></td></tr>
		<tr><td>grey97</td><td>247:247:247</td><td>F7F7F7</td><td style="background-color: #F7F7F7"></td></tr>
		<tr><td>grey98</td><td>250:250:250</td><td>FAFAFA</td><td style="background-color: #FAFAFA"></td></tr>
		<tr><td>grey99</td><td>252:252:252</td><td>FCFCFC</td><td style="background-color: #FCFCFC"></td></tr>
		<tr><td>grey100</td><td>255:255:255</td><td>FFFFFF</td><td style="background-color: #FFFFFF"></td></tr>
	</table>
	</div>

	<div role="tabpanel" class="tab-pane fade" id="blues">
	<table class="table table-striped table-hover table-sm">
		<tr><th>Color Name</th><th>R/G/B</th><th>Hex</th><th>BG/FG color sample</th></tr>
		<tr><td>AliceBlue</td><td>240:248:255</td><td>F0F8FF</td><td style="background-color: #F0F8FF"></td></tr>
		<tr><td>BlueViolet</td><td>138:43:226</td><td>8A2BE2</td><td style="background-color: #8A2BE2"></td></tr>
		<tr><td>CadetBlue</td><td>95:158:160</td><td>5F9EA0</td><td style="background-color: #5F9EA0"></td></tr>
		<tr><td>CadetBlue1</td><td>152:245:255</td><td>98F5FF</td><td style="background-color: #98F5FF"></td></tr>
		<tr><td>CadetBlue2</td><td>142:229:238</td><td>8EE5EE</td><td style="background-color: #8EE5EE"></td></tr>
		<tr><td>CadetBlue3</td><td>122:197:205</td><td>7AC5CD</td><td style="background-color: #7AC5CD"></td></tr>
		<tr><td>CadetBlue4</td><td>83:134:139</td><td>53868B</td><td style="background-color: #53868B"></td></tr>
		<tr><td>CornflowerBlue</td><td>100:149:237</td><td>6495ED</td><td style="background-color: #6495ED"></td></tr>
		<tr><td>DarkSlateBlue</td><td>72:61:139</td><td>483D8B</td><td style="background-color: #483D8B"></td></tr>
		<tr><td>DarkTurquoise</td><td>0:206:209</td><td>00CED1</td><td style="background-color: #00CED1"></td></tr>
		<tr><td>DeepSkyBlue</td><td>0:191:255</td><td>00BFFF</td><td style="background-color: #00BFFF"></td></tr>
		<tr><td>DeepSkyBlue1</td><td>0:191:255</td><td>00BFFF</td><td style="background-color: #00BFFF"></td></tr>
		<tr><td>DeepSkyBlue2</td><td>0:178:238</td><td>00B2EE</td><td style="background-color: #00B2EE"></td></tr>
		<tr><td>DeepSkyBlue3</td><td>0:154:205</td><td>009ACD</td><td style="background-color: #009ACD"></td></tr>
		<tr><td>DeepSkyBlue4</td><td>0:104:139</td><td>00688B</td><td style="background-color: #00688B"></td></tr>
		<tr><td>DodgerBlue</td><td>30:144:255</td><td>1E90FF</td><td style="background-color: #1E90FF"></td></tr>
		<tr><td>DodgerBlue1</td><td>30:144:255</td><td>1E90FF</td><td style="background-color: #1E90FF"></td></tr>
		<tr><td>DodgerBlue2</td><td>28:134:238</td><td>1C86EE</td><td style="background-color: #1C86EE"></td></tr>
		<tr><td>DodgerBlue3</td><td>24:116:205</td><td>1874CD</td><td style="background-color: #1874CD"></td></tr>
		<tr><td>DodgerBlue4</td><td>16:78:139</td><td>104E8B</td><td style="background-color: #104E8B"></td></tr>
		<tr><td>LightBlue</td><td>173:216:230</td><td>ADD8E6</td><td style="background-color: #ADD8E6"></td></tr>
		<tr><td>LightBlue1</td><td>191:239:255</td><td>BFEFFF</td><td style="background-color: #BFEFFF"></td></tr>
		<tr><td>LightBlue2</td><td>178:223:238</td><td>B2DFEE</td><td style="background-color: #B2DFEE"></td></tr>
		<tr><td>LightBlue3</td><td>154:192:205</td><td>9AC0CD</td><td style="background-color: #9AC0CD"></td></tr>
		<tr><td>LightBlue4</td><td>104:131:139</td><td>68838B</td><td style="background-color: #68838B"></td></tr>
		<tr><td>LightCyan</td><td>224:255:255</td><td>E0FFFF</td><td style="background-color: #E0FFFF"></td></tr>
		<tr><td>LightCyan1</td><td>224:255:255</td><td>E0FFFF</td><td style="background-color: #E0FFFF"></td></tr>
		<tr><td>LightCyan2</td><td>209:238:238</td><td>D1EEEE</td><td style="background-color: #D1EEEE"></td></tr>
		<tr><td>LightCyan3</td><td>180:205:205</td><td>B4CDCD</td><td style="background-color: #B4CDCD"></td></tr>
		<tr><td>LightCyan4</td><td>122:139:139</td><td>7A8B8B</td><td style="background-color: #7A8B8B"></td></tr>
		<tr><td>LightSkyBlue</td><td>135:206:250</td><td>87CEFA</td><td style="background-color: #87CEFA"></td></tr>
		<tr><td>LightSkyBlue1</td><td>176:226:255</td><td>B0E2FF</td><td style="background-color: #B0E2FF"></td></tr>
		<tr><td>LightSkyBlue2</td><td>164:211:238</td><td>A4D3EE</td><td style="background-color: #A4D3EE"></td></tr>
		<tr><td>LightSkyBlue3</td><td>141:182:205</td><td>8DB6CD</td><td style="background-color: #8DB6CD"></td></tr>
		<tr><td>LightSkyBlue4</td><td>96:123:139</td><td>607B8B</td><td style="background-color: #607B8B"></td></tr>
		<tr><td>LightSlateBlue</td><td>132:112:255</td><td>8470FF</td><td style="background-color: #8470FF"></td></tr>
		<tr><td>LightSteelBlue</td><td>176:196:222</td><td>B0C4DE</td><td style="background-color: #B0C4DE"></td></tr>
		<tr><td>LightSteelBlue1</td><td>202:225:255</td><td>CAE1FF</td><td style="background-color: #CAE1FF"></td></tr>
		<tr><td>LightSteelBlue2</td><td>188:210:238</td><td>BCD2EE</td><td style="background-color: #BCD2EE"></td></tr>
		<tr><td>LightSteelBlue3</td><td>162:181:205</td><td>A2B5CD</td><td style="background-color: #A2B5CD"></td></tr>
		<tr><td>LightSteelBlue4</td><td>110:123:139</td><td>6E7B8B</td><td style="background-color: #6E7B8B"></td></tr>
		<tr><td>MediumAquamarine</td><td>102:205:170</td><td>66CDAA</td><td style="background-color: #66CDAA"></td></tr>
		<tr><td>MediumBlue</td><td>0:0:205</td><td>0000CD</td><td style="background-color: #0000CD"></td></tr>
		<tr><td>MediumSlateBlue</td><td>123:104:238</td><td>7B68EE</td><td style="background-color: #7B68EE"></td></tr>
		<tr><td>MediumTurquoise</td><td>72:209:204</td><td>48D1CC</td><td style="background-color: #48D1CC"></td></tr>
		<tr><td>MidnightBlue</td><td>25:25:112</td><td>191970</td><td style="background-color: #191970"></td></tr>
		<tr><td>NavyBlue</td><td>0:0:128</td><td>000080</td><td style="background-color: #000080"></td></tr>
		<tr><td>PaleTurquoise</td><td>175:238:238</td><td>AFEEEE</td><td style="background-color: #AFEEEE"></td></tr>
		<tr><td>PaleTurquoise1</td><td>187:255:255</td><td>BBFFFF</td><td style="background-color: #BBFFFF"></td></tr>
		<tr><td>PaleTurquoise2</td><td>174:238:238</td><td>AEEEEE</td><td style="background-color: #AEEEEE"></td></tr>
		<tr><td>PaleTurquoise3</td><td>150:205:205</td><td>96CDCD</td><td style="background-color: #96CDCD"></td></tr>
		<tr><td>PaleTurquoise4</td><td>102:139:139</td><td>668B8B</td><td style="background-color: #668B8B"></td></tr>
		<tr><td>PowderBlue</td><td>176:224:230</td><td>B0E0E6</td><td style="background-color: #B0E0E6"></td></tr>
		<tr><td>RoyalBlue</td><td>65:105:225</td><td>4169E1</td><td style="background-color: #4169E1"></td></tr>
		<tr><td>RoyalBlue1</td><td>72:118:255</td><td>4876FF</td><td style="background-color: #4876FF"></td></tr>
		<tr><td>RoyalBlue2</td><td>67:110:238</td><td>436EEE</td><td style="background-color: #436EEE"></td></tr>
		<tr><td>RoyalBlue3</td><td>58:95:205</td><td>3A5FCD</td><td style="background-color: #3A5FCD"></td></tr>
		<tr><td>RoyalBlue4</td><td>39:64:139</td><td>27408B</td><td style="background-color: #27408B"></td></tr>
		<tr><td>RoyalBlue5</td><td>00:34:102</td><td>002266</td><td style="background-color: #002266"></td></tr>
		<tr><td>SkyBlue</td><td>135:206:235</td><td>87CEEB</td><td style="background-color: #87CEEB"></td></tr>
		<tr><td>SkyBlue1</td><td>135:206:255</td><td>87CEFF</td><td style="background-color: #87CEFF"></td></tr>
		<tr><td>SkyBlue2</td><td>126:192:238</td><td>7EC0EE</td><td style="background-color: #7EC0EE"></td></tr>
		<tr><td>SkyBlue3</td><td>108:166:205</td><td>6CA6CD</td><td style="background-color: #6CA6CD"></td></tr>
		<tr><td>SkyBlue4</td><td>74:112:139</td><td>4A708B</td><td style="background-color: #4A708B"></td></tr>
		<tr><td>SlateBlue</td><td>106:90:205</td><td>6A5ACD</td><td style="background-color: #6A5ACD"></td></tr>
		<tr><td>SlateBlue1</td><td>131:111:255</td><td>836FFF</td><td style="background-color: #836FFF"></td></tr>
		<tr><td>SlateBlue2</td><td>122:103:238</td><td>7A67EE</td><td style="background-color: #7A67EE"></td></tr>
		<tr><td>SlateBlue3</td><td>105:89:205</td><td>6959CD</td><td style="background-color: #6959CD"></td></tr>
		<tr><td>SlateBlue4</td><td>71:60:139</td><td>473C8B</td><td style="background-color: #473C8B"></td></tr>
		<tr><td>SteelBlue</td><td>70:130:180</td><td>4682B4</td><td style="background-color: #4682B4"></td></tr>
		<tr><td>SteelBlue1</td><td>99:184:255</td><td>63B8FF</td><td style="background-color: #63B8FF"></td></tr>
		<tr><td>SteelBlue2</td><td>92:172:238</td><td>5CACEE</td><td style="background-color: #5CACEE"></td></tr>
		<tr><td>SteelBlue3</td><td>79:148:205</td><td>4F94CD</td><td style="background-color: #4F94CD"></td></tr>
		<tr><td>SteelBlue4</td><td>54:100:139</td><td>36648B</td><td style="background-color: #36648B"></td></tr>
		<tr><td>aquamarine</td><td>127:255:212</td><td>7FFFD4</td><td style="background-color: #7FFFD4"></td></tr>
		<tr><td>aquamarine1</td><td>127:255:212</td><td>7FFFD4</td><td style="background-color: #7FFFD4"></td></tr>
		<tr><td>aquamarine2</td><td>118:238:198</td><td>76EEC6</td><td style="background-color: #76EEC6"></td></tr>
		<tr><td>aquamarine3</td><td>102:205:170</td><td>66CDAA</td><td style="background-color: #66CDAA"></td></tr>
		<tr><td>aquamarine4</td><td>69:139:116</td><td>458B74</td><td style="background-color: #458B74"></td></tr>
		<tr><td>azure</td><td>240:255:255</td><td>F0FFFF</td><td style="background-color: #F0FFFF"></td></tr>
		<tr><td>azure1</td><td>240:255:255</td><td>F0FFFF</td><td style="background-color: #F0FFFF"></td></tr>
		<tr><td>azure2</td><td>224:238:238</td><td>E0EEEE</td><td style="background-color: #E0EEEE"></td></tr>
		<tr><td>azure3</td><td>193:205:205</td><td>C1CDCD</td><td style="background-color: #C1CDCD"></td></tr>
		<tr><td>azure4</td><td>131:139:139</td><td>838B8B</td><td style="background-color: #838B8B"></td></tr>
		<tr><td>blue</td><td>0:0:255</td><td>0000FF</td><td style="background-color: #0000FF"></td></tr>
		<tr><td>blue1</td><td>0:0:255</td><td>0000FF</td><td style="background-color: #0000FF"></td></tr>
		<tr><td>blue2</td><td>0:0:238</td><td>0000EE</td><td style="background-color: #0000EE"></td></tr>
		<tr><td>blue3</td><td>0:0:205</td><td>0000CD</td><td style="background-color: #0000CD"></td></tr>
		<tr><td>blue4</td><td>0:0:139</td><td>00008B</td><td style="background-color: #00008B"></td></tr>
		<tr><td>cyan</td><td>0:255:255</td><td>00FFFF</td><td style="background-color: #00FFFF"></td></tr>
		<tr><td>cyan1</td><td>0:255:255</td><td>00FFFF</td><td style="background-color: #00FFFF"></td></tr>
		<tr><td>cyan2</td><td>0:238:238</td><td>00EEEE</td><td style="background-color: #00EEEE"></td></tr>
		<tr><td>cyan3</td><td>0:205:205</td><td>00CDCD</td><td style="background-color: #00CDCD"></td></tr>
		<tr><td>cyan4</td><td>0:139:139</td><td>008B8B</td><td style="background-color: #008B8B"></td></tr>
		<tr><td>navy</td><td>0:0:128</td><td>000080</td><td style="background-color: #000080"></td></tr>
		<tr><td>turquoise</td><td>64:224:208</td><td>40E0D0</td><td style="background-color: #40E0D0"></td></tr>
		<tr><td>turquoise1</td><td>0:245:255</td><td>00F5FF</td><td style="background-color: #00F5FF"></td></tr>
		<tr><td>turquoise2</td><td>0:229:238</td><td>00E5EE</td><td style="background-color: #00E5EE"></td></tr>
		<tr><td>turquoise3</td><td>0:197:205</td><td>00C5CD</td><td style="background-color: #00C5CD"></td></tr>
		<tr><td>turquoise4</td><td>0:134:139</td><td>00868B</td><td style="background-color: #00868B"></td></tr>
		<tr><td>DarkSlateGray</td><td>47:79:79</td><td>2F4F4F</td><td style="background-color: #2F4F4F"></td></tr>
		<tr><td>DarkSlateGray1</td><td>151:255:255</td><td>97FFFF</td><td style="background-color: #97FFFF"></td></tr>
		<tr><td>DarkSlateGray2</td><td>141:238:238</td><td>8DEEEE</td><td style="background-color: #8DEEEE"></td></tr>
		<tr><td>DarkSlateGray3</td><td>121:205:205</td><td>79CDCD</td><td style="background-color: #79CDCD"></td></tr>
		<tr><td>DarkSlateGray4</td><td>82:139:139</td><td>528B8B</td><td style="background-color: #528B8B"></td></tr>
	</table>
	</div>

	<div role="tabpanel" class="tab-pane fade" id="browns">
	<table class="table table-striped table-hover table-sm">
		<tr><th>Color Name</th><th>R/G/B</th><th>Hex</th><th>BG/FG color sample</th></tr>
		<tr><td>RosyBrown</td><td>188:143:143</td><td>BC8F8F</td><td style="background-color: #BC8F8F"></td></tr>
		<tr><td>RosyBrown1</td><td>255:193:193</td><td>FFC1C1</td><td style="background-color: #FFC1C1"></td></tr>
		<tr><td>RosyBrown2</td><td>238:180:180</td><td>EEB4B4</td><td style="background-color: #EEB4B4"></td></tr>
		<tr><td>RosyBrown3</td><td>205:155:155</td><td>CD9B9B</td><td style="background-color: #CD9B9B"></td></tr>
		<tr><td>RosyBrown4</td><td>139:105:105</td><td>8B6969</td><td style="background-color: #8B6969"></td></tr>
		<tr><td>SaddleBrown</td><td>139:69:19</td><td>8B4513</td><td style="background-color: #8B4513"></td></tr>
		<tr><td>SandyBrown</td><td>244:164:96</td><td>F4A460</td><td style="background-color: #F4A460"></td></tr>
		<tr><td>beige</td><td>245:245:220</td><td>F5F5DC</td><td style="background-color: #F5F5DC"></td></tr>
		<tr><td>brown</td><td>165:42:42</td><td>A52A2A</td><td style="background-color: #A52A2A"></td></tr>
		<tr><td>brown1</td><td>255:64:64</td><td>FF4040</td><td style="background-color: #FF4040"></td></tr>
		<tr><td>brown2</td><td>238:59:59</td><td>EE3B3B</td><td style="background-color: #EE3B3B"></td></tr>
		<tr><td>brown3</td><td>205:51:51</td><td>CD3333</td><td style="background-color: #CD3333"></td></tr>
		<tr><td>brown4</td><td>139:35:35</td><td>8B2323</td><td style="background-color: #8B2323"></td></tr>
		<tr><td>burlywood</td><td>222:184:135</td><td>DEB887</td><td style="background-color: #DEB887"></td></tr>
		<tr><td>burlywood1</td><td>255:211:155</td><td>FFD39B</td><td style="background-color: #FFD39B"></td></tr>
		<tr><td>burlywood2</td><td>238:197:145</td><td>EEC591</td><td style="background-color: #EEC591"></td></tr>
		<tr><td>burlywood3</td><td>205:170:125</td><td>CDAA7D</td><td style="background-color: #CDAA7D"></td></tr>
		<tr><td>burlywood4</td><td>139:115:85</td><td>8B7355</td><td style="background-color: #8B7355"></td></tr>
		<tr><td>chocolate</td><td>210:105:30</td><td>D2691E</td><td style="background-color: #D2691E"></td></tr>
		<tr><td>chocolate1</td><td>255:127:36</td><td>FF7F24</td><td style="background-color: #FF7F24"></td></tr>
		<tr><td>chocolate2</td><td>238:118:33</td><td>EE7621</td><td style="background-color: #EE7621"></td></tr>
		<tr><td>chocolate3</td><td>205:102:29</td><td>CD661D</td><td style="background-color: #CD661D"></td></tr>
		<tr><td>chocolate4</td><td>139:69:19</td><td>8B4513</td><td style="background-color: #8B4513"></td></tr>
		<tr><td>peru</td><td>205:133:63</td><td>CD853F</td><td style="background-color: #CD853F"></td></tr>
		<tr><td>tan</td><td>210:180:140</td><td>D2B48C</td><td style="background-color: #D2B48C"></td></tr>
		<tr><td>tan1</td><td>255:165:79</td><td>FFA54F</td><td style="background-color: #FFA54F"></td></tr>
		<tr><td>tan2</td><td>238:154:73</td><td>EE9A49</td><td style="background-color: #EE9A49"></td></tr>
		<tr><td>tan3</td><td>205:133:63</td><td>CD853F</td><td style="background-color: #CD853F"></td></tr>
		<tr><td>tan4</td><td>139:90:43</td><td>8B5A2B</td><td style="background-color: #8B5A2B"></td></tr>
	</table>
	</div>

	<div role="tabpanel" class="tab-pane fade" id="greens">
	<table class="table table-striped table-hover table-sm">
		<tr><th>Color Name</th><th>R/G/B</th><th>Hex</th><th>BG/FG color sample</th></tr>
		<tr><td>DarkGreen</td><td>0:100:0</td><td>006400</td><td style="background-color: #006400"></td></tr>
		<tr><td>DarkKhaki</td><td>189:183:107</td><td>BDB76B</td><td style="background-color: #BDB76B"></td></tr>
		<tr><td>DarkOliveGreen</td><td>85:107:47</td><td>556B2F</td><td style="background-color: #556B2F"></td></tr>
		<tr><td>DarkOliveGreen1</td><td>202:255:112</td><td>CAFF70</td><td style="background-color: #CAFF70"></td></tr>
		<tr><td>DarkOliveGreen2</td><td>188:238:104</td><td>BCEE68</td><td style="background-color: #BCEE68"></td></tr>
		<tr><td>DarkOliveGreen3</td><td>162:205:90</td><td>A2CD5A</td><td style="background-color: #A2CD5A"></td></tr>
		<tr><td>DarkOliveGreen4</td><td>110:139:61</td><td>6E8B3D</td><td style="background-color: #6E8B3D"></td></tr>
		<tr><td>DarkSeaGreen</td><td>143:188:143</td><td>8FBC8F</td><td style="background-color: #8FBC8F"></td></tr>
		<tr><td>DarkSeaGreen1</td><td>193:255:193</td><td>C1FFC1</td><td style="background-color: #C1FFC1"></td></tr>
		<tr><td>DarkSeaGreen2</td><td>180:238:180</td><td>B4EEB4</td><td style="background-color: #B4EEB4"></td></tr>
		<tr><td>DarkSeaGreen3</td><td>155:205:155</td><td>9BCD9B</td><td style="background-color: #9BCD9B"></td></tr>
		<tr><td>DarkSeaGreen4</td><td>105:139:105</td><td>698B69</td><td style="background-color: #698B69"></td></tr>
		<tr><td>ForestGreen</td><td>34:139:34</td><td>228B22</td><td style="background-color: #228B22"></td></tr>
		<tr><td>GreenYellow</td><td>173:255:47</td><td>ADFF2F</td><td style="background-color: #ADFF2F"></td></tr>
		<tr><td>LawnGreen</td><td>124:252:0</td><td>7CFC00</td><td style="background-color: #7CFC00"></td></tr>
		<tr><td>LightSeaGreen</td><td>32:178:170</td><td>20B2AA</td><td style="background-color: #20B2AA"></td></tr>
		<tr><td>LimeGreen</td><td>50:205:50</td><td>32CD32</td><td style="background-color: #32CD32"></td></tr>
		<tr><td>MediumSeaGreen</td><td>60:179:113</td><td>3CB371</td><td style="background-color: #3CB371"></td></tr>
		<tr><td>MediumSpringGreen</td><td>0:250:154</td><td>00FA9A</td><td style="background-color: #00FA9A"></td></tr>
		<tr><td>MintCream</td><td>245:255:250</td><td>F5FFFA</td><td style="background-color: #F5FFFA"></td></tr>
		<tr><td>OliveDrab</td><td>107:142:35</td><td>6B8E23</td><td style="background-color: #6B8E23"></td></tr>
		<tr><td>OliveDrab1</td><td>192:255:62</td><td>C0FF3E</td><td style="background-color: #C0FF3E"></td></tr>
		<tr><td>OliveDrab2</td><td>179:238:58</td><td>B3EE3A</td><td style="background-color: #B3EE3A"></td></tr>
		<tr><td>OliveDrab3</td><td>154:205:50</td><td>9ACD32</td><td style="background-color: #9ACD32"></td></tr>
		<tr><td>OliveDrab4</td><td>105:139:34</td><td>698B22</td><td style="background-color: #698B22"></td></tr>
		<tr><td>PaleGreen</td><td>152:251:152</td><td>98FB98</td><td style="background-color: #98FB98"></td></tr>
		<tr><td>PaleGreen1</td><td>154:255:154</td><td>9AFF9A</td><td style="background-color: #9AFF9A"></td></tr>
		<tr><td>PaleGreen2</td><td>144:238:144</td><td>90EE90</td><td style="background-color: #90EE90"></td></tr>
		<tr><td>PaleGreen3</td><td>124:205:124</td><td>7CCD7C</td><td style="background-color: #7CCD7C"></td></tr>
		<tr><td>PaleGreen4</td><td>84:139:84</td><td>548B54</td><td style="background-color: #548B54"></td></tr>
		<tr><td>SeaGreen</td><td>46:139:87</td><td>2E8B57</td><td style="background-color: #2E8B57"></td></tr>
		<tr><td>SeaGreen1</td><td>84:255:159</td><td>54FF9F</td><td style="background-color: #54FF9F"></td></tr>
		<tr><td>SeaGreen2</td><td>78:238:148</td><td>4EEE94</td><td style="background-color: #4EEE94"></td></tr>
		<tr><td>SeaGreen3</td><td>67:205:128</td><td>43CD80</td><td style="background-color: #43CD80"></td></tr>
		<tr><td>SeaGreen4</td><td>46:139:87</td><td>2E8B57</td><td style="background-color: #2E8B57"></td></tr>
		<tr><td>SpringGreen</td><td>0:255:127</td><td>00FF7F</td><td style="background-color: #00FF7F"></td></tr>
		<tr><td>SpringGreen1</td><td>0:255:127</td><td>00FF7F</td><td style="background-color: #00FF7F"></td></tr>
		<tr><td>SpringGreen2</td><td>0:238:118</td><td>00EE76</td><td style="background-color: #00EE76"></td></tr>
		<tr><td>SpringGreen3</td><td>0:205:102</td><td>00CD66</td><td style="background-color: #00CD66"></td></tr>
		<tr><td>SpringGreen4</td><td>0:139:69</td><td>008B45</td><td style="background-color: #008B45"></td></tr>
		<tr><td>YellowGreen</td><td>154:205:50</td><td>9ACD32</td><td style="background-color: #9ACD32"></td></tr>
		<tr><td>chartreuse</td><td>127:255:0</td><td>7FFF00</td><td style="background-color: #7FFF00"></td></tr>
		<tr><td>chartreuse1</td><td>127:255:0</td><td>7FFF00</td><td style="background-color: #7FFF00"></td></tr>
		<tr><td>chartreuse2</td><td>118:238:0</td><td>76EE00</td><td style="background-color: #76EE00"></td></tr>
		<tr><td>chartreuse3</td><td>102:205:0</td><td>66CD00</td><td style="background-color: #66CD00"></td></tr>
		<tr><td>chartreuse4</td><td>69:139:0</td><td>458B00</td><td style="background-color: #458B00"></td></tr>
		<tr><td>green</td><td>0:255:0</td><td>00FF00</td><td style="background-color: #00FF00"></td></tr>
		<tr><td>green1</td><td>0:255:0</td><td>00FF00</td><td style="background-color: #00FF00"></td></tr>
		<tr><td>green2</td><td>0:238:0</td><td>00EE00</td><td style="background-color: #00EE00"></td></tr>
		<tr><td>green3</td><td>0:205:0</td><td>00CD00</td><td style="background-color: #00CD00"></td></tr>
		<tr><td>green4</td><td>0:139:0</td><td>008B00</td><td style="background-color: #008B00"></td></tr>
		<tr><td>khaki</td><td>240:230:140</td><td>F0E68C</td><td style="background-color: #F0E68C"></td></tr>
		<tr><td>khaki1</td><td>255:246:143</td><td>FFF68F</td><td style="background-color: #FFF68F"></td></tr>
		<tr><td>khaki2</td><td>238:230:133</td><td>EEE685</td><td style="background-color: #EEE685"></td></tr>
		<tr><td>khaki3</td><td>205:198:115</td><td>CDC673</td><td style="background-color: #CDC673"></td></tr>
		<tr><td>khaki4</td><td>139:134:78</td><td>8B864E</td><td style="background-color: #8B864E"></td></tr>
	</table>
	</div>

	<div role="tabpanel" class="tab-pane fade" id="oranges">
	<table class="table table-striped table-hover table-sm">
		<tr><th>Color Name</th><th>R/G/B</th><th>Hex</th><th>BG/FG color sample</th></tr>
		<tr><td>DarkOrange</td><td>255:140:0</td><td>FF8C00</td><td style="background-color: #FF8C00"></td></tr>
		<tr><td>DarkOrange1</td><td>255:127:0</td><td>FF7F00</td><td style="background-color: #FF7F00"></td></tr>
		<tr><td>DarkOrange2</td><td>238:118:0</td><td>EE7600</td><td style="background-color: #EE7600"></td></tr>
		<tr><td>DarkOrange3</td><td>205:102:0</td><td>CD6600</td><td style="background-color: #CD6600"></td></tr>
		<tr><td>DarkOrange4</td><td>139:69:0</td><td>8B4500</td><td style="background-color: #8B4500"></td></tr>
		<tr><td>DarkSalmon</td><td>233:150:122</td><td>E9967A</td><td style="background-color: #E9967A"></td></tr>
		<tr><td>LightCoral</td><td>240:128:128</td><td>F08080</td><td style="background-color: #F08080"></td></tr>
		<tr><td>LightSalmon</td><td>255:160:122</td><td>FFA07A</td><td style="background-color: #FFA07A"></td></tr>
		<tr><td>LightSalmon1</td><td>255:160:122</td><td>FFA07A</td><td style="background-color: #FFA07A"></td></tr>
		<tr><td>LightSalmon2</td><td>238:149:114</td><td>EE9572</td><td style="background-color: #EE9572"></td></tr>
		<tr><td>LightSalmon3</td><td>205:129:98</td><td>CD8162</td><td style="background-color: #CD8162"></td></tr>
		<tr><td>LightSalmon4</td><td>139:87:66</td><td>8B5742</td><td style="background-color: #8B5742"></td></tr>
		<tr><td>PeachPuff</td><td>255:218:185</td><td>FFDAB9</td><td style="background-color: #FFDAB9"></td></tr>
		<tr><td>PeachPuff1</td><td>255:218:185</td><td>FFDAB9</td><td style="background-color: #FFDAB9"></td></tr>
		<tr><td>PeachPuff2</td><td>238:203:173</td><td>EECBAD</td><td style="background-color: #EECBAD"></td></tr>
		<tr><td>PeachPuff3</td><td>205:175:149</td><td>CDAF95</td><td style="background-color: #CDAF95"></td></tr>
		<tr><td>PeachPuff4</td><td>139:119:101</td><td>8B7765</td><td style="background-color: #8B7765"></td></tr>
		<tr><td>bisque</td><td>255:228:196</td><td>FFE4C4</td><td style="background-color: #FFE4C4"></td></tr>
		<tr><td>bisque1</td><td>255:228:196</td><td>FFE4C4</td><td style="background-color: #FFE4C4"></td></tr>
		<tr><td>bisque2</td><td>238:213:183</td><td>EED5B7</td><td style="background-color: #EED5B7"></td></tr>
		<tr><td>bisque3</td><td>205:183:158</td><td>CDB79E</td><td style="background-color: #CDB79E"></td></tr>
		<tr><td>bisque4</td><td>139:125:107</td><td>8B7D6B</td><td style="background-color: #8B7D6B"></td></tr>
		<tr><td>coral</td><td>255:127:80</td><td>FF7F50</td><td style="background-color: #FF7F50"></td></tr>
		<tr><td>coral1</td><td>255:114:86</td><td>FF7256</td><td style="background-color: #FF7256"></td></tr>
		<tr><td>coral2</td><td>238:106:80</td><td>EE6A50</td><td style="background-color: #EE6A50"></td></tr>
		<tr><td>coral3</td><td>205:91:69</td><td>CD5B45</td><td style="background-color: #CD5B45"></td></tr>
		<tr><td>coral4</td><td>139:62:47</td><td>8B3E2F</td><td style="background-color: #8B3E2F"></td></tr>
		<tr><td>honeydew</td><td>240:255:240</td><td>F0FFF0</td><td style="background-color: #F0FFF0"></td></tr>
		<tr><td>honeydew1</td><td>240:255:240</td><td>F0FFF0</td><td style="background-color: #F0FFF0"></td></tr>
		<tr><td>honeydew2</td><td>224:238:224</td><td>E0EEE0</td><td style="background-color: #E0EEE0"></td></tr>
		<tr><td>honeydew3</td><td>193:205:193</td><td>C1CDC1</td><td style="background-color: #C1CDC1"></td></tr>
		<tr><td>honeydew4</td><td>131:139:131</td><td>838B83</td><td style="background-color: #838B83"></td></tr>
		<tr><td>orange</td><td>255:165:0</td><td>FFA500</td><td style="background-color: #FFA500"></td></tr>
		<tr><td>orange1</td><td>255:165:0</td><td>FFA500</td><td style="background-color: #FFA500"></td></tr>
		<tr><td>orange2</td><td>238:154:0</td><td>EE9A00</td><td style="background-color: #EE9A00"></td></tr>
		<tr><td>orange3</td><td>205:133:0</td><td>CD8500</td><td style="background-color: #CD8500"></td></tr>
		<tr><td>orange4</td><td>139:90:0</td><td>8B5A00</td><td style="background-color: #8B5A00"></td></tr>
		<tr><td>salmon</td><td>250:128:114</td><td>FA8072</td><td style="background-color: #FA8072"></td></tr>
		<tr><td>salmon1</td><td>255:140:105</td><td>FF8C69</td><td style="background-color: #FF8C69"></td></tr>
		<tr><td>salmon2</td><td>238:130:98</td><td>EE8262</td><td style="background-color: #EE8262"></td></tr>
		<tr><td>salmon3</td><td>205:112:84</td><td>CD7054</td><td style="background-color: #CD7054"></td></tr>
		<tr><td>salmon4</td><td>139:76:57</td><td>8B4C39</td><td style="background-color: #8B4C39"></td></tr>
		<tr><td>sienna</td><td>160:82:45</td><td>A0522D</td><td style="background-color: #A0522D"></td></tr>
		<tr><td>sienna1</td><td>255:130:71</td><td>FF8247</td><td style="background-color: #FF8247"></td></tr>
		<tr><td>sienna2</td><td>238:121:66</td><td>EE7942</td><td style="background-color: #EE7942"></td></tr>
		<tr><td>sienna3</td><td>205:104:57</td><td>CD6839</td><td style="background-color: #CD6839"></td></tr>
		<tr><td>sienna4</td><td>139:71:38</td><td>8B4726</td><td style="background-color: #8B4726"></td></tr>
	</table>
	</div>

	<div role="tabpanel" class="tab-pane fade" id="reds">
	<table class="table table-striped table-hover table-sm">
		<tr><th>Color Name</th><th>R/G/B</th><th>Hex</th><th>BG/FG color sample</th></tr>
		<tr><td>DeepPink</td><td>255:20:147</td><td>FF1493</td><td style="background-color: #FF1493"></td></tr>
		<tr><td>DeepPink1</td><td>255:20:147</td><td>FF1493</td><td style="background-color: #FF1493"></td></tr>
		<tr><td>DeepPink2</td><td>238:18:137</td><td>EE1289</td><td style="background-color: #EE1289"></td></tr>
		<tr><td>DeepPink3</td><td>205:16:118</td><td>CD1076</td><td style="background-color: #CD1076"></td></tr>
		<tr><td>DeepPink4</td><td>139:10:80</td><td>8B0A50</td><td style="background-color: #8B0A50"></td></tr>
		<tr><td>HotPink</td><td>255:105:180</td><td>FF69B4</td><td style="background-color: #FF69B4"></td></tr>
		<tr><td>HotPink1</td><td>255:110:180</td><td>FF6EB4</td><td style="background-color: #FF6EB4"></td></tr>
		<tr><td>HotPink2</td><td>238:106:167</td><td>EE6AA7</td><td style="background-color: #EE6AA7"></td></tr>
		<tr><td>HotPink3</td><td>205:96:144</td><td>CD6090</td><td style="background-color: #CD6090"></td></tr>
		<tr><td>HotPink4</td><td>139:58:98</td><td>8B3A62</td><td style="background-color: #8B3A62"></td></tr>
		<tr><td>IndianRed</td><td>205:92:92</td><td>CD5C5C</td><td style="background-color: #CD5C5C"></td></tr>
		<tr><td>IndianRed1</td><td>255:106:106</td><td>FF6A6A</td><td style="background-color: #FF6A6A"></td></tr>
		<tr><td>IndianRed2</td><td>238:99:99</td><td>EE6363</td><td style="background-color: #EE6363"></td></tr>
		<tr><td>IndianRed3</td><td>205:85:85</td><td>CD5555</td><td style="background-color: #CD5555"></td></tr>
		<tr><td>IndianRed4</td><td>139:58:58</td><td>8B3A3A</td><td style="background-color: #8B3A3A"></td></tr>
		<tr><td>LightPink</td><td>255:182:193</td><td>FFB6C1</td><td style="background-color: #FFB6C1"></td></tr>
		<tr><td>LightPink1</td><td>255:174:185</td><td>FFAEB9</td><td style="background-color: #FFAEB9"></td></tr>
		<tr><td>LightPink2</td><td>238:162:173</td><td>EEA2AD</td><td style="background-color: #EEA2AD"></td></tr>
		<tr><td>LightPink3</td><td>205:140:149</td><td>CD8C95</td><td style="background-color: #CD8C95"></td></tr>
		<tr><td>LightPink4</td><td>139:95:101</td><td>8B5F65</td><td style="background-color: #8B5F65"></td></tr>
		<tr><td>MediumVioletRed</td><td>199:21:133</td><td>C71585</td><td style="background-color: #C71585"></td></tr>
		<tr><td>MistyRose</td><td>255:228:225</td><td>FFE4E1</td><td style="background-color: #FFE4E1"></td></tr>
		<tr><td>MistyRose1</td><td>255:228:225</td><td>FFE4E1</td><td style="background-color: #FFE4E1"></td></tr>
		<tr><td>MistyRose2</td><td>238:213:210</td><td>EED5D2</td><td style="background-color: #EED5D2"></td></tr>
		<tr><td>MistyRose3</td><td>205:183:181</td><td>CDB7B5</td><td style="background-color: #CDB7B5"></td></tr>
		<tr><td>MistyRose4</td><td>139:125:123</td><td>8B7D7B</td><td style="background-color: #8B7D7B"></td></tr>
		<tr><td>OrangeRed</td><td>255:69:0</td><td>FF4500</td><td style="background-color: #FF4500"></td></tr>
		<tr><td>OrangeRed1</td><td>255:69:0</td><td>FF4500</td><td style="background-color: #FF4500"></td></tr>
		<tr><td>OrangeRed2</td><td>238:64:0</td><td>EE4000</td><td style="background-color: #EE4000"></td></tr>
		<tr><td>OrangeRed3</td><td>205:55:0</td><td>CD3700</td><td style="background-color: #CD3700"></td></tr>
		<tr><td>OrangeRed4</td><td>139:37:0</td><td>8B2500</td><td style="background-color: #8B2500"></td></tr>
		<tr><td>PaleVioletRed</td><td>219:112:147</td><td>DB7093</td><td style="background-color: #DB7093"></td></tr>
		<tr><td>PaleVioletRed1</td><td>255:130:171</td><td>FF82AB</td><td style="background-color: #FF82AB"></td></tr>
		<tr><td>PaleVioletRed2</td><td>238:121:159</td><td>EE799F</td><td style="background-color: #EE799F"></td></tr>
		<tr><td>PaleVioletRed3</td><td>205:104:137</td><td>CD6889</td><td style="background-color: #CD6889"></td></tr>
		<tr><td>PaleVioletRed4</td><td>139:71:93</td><td>8B475D</td><td style="background-color: #8B475D"></td></tr>
		<tr><td>VioletRed</td><td>208:32:144</td><td>D02090</td><td style="background-color: #D02090"></td></tr>
		<tr><td>VioletRed1</td><td>255:62:150</td><td>FF3E96</td><td style="background-color: #FF3E96"></td></tr>
		<tr><td>VioletRed2</td><td>238:58:140</td><td>EE3A8C</td><td style="background-color: #EE3A8C"></td></tr>
		<tr><td>VioletRed3</td><td>205:50:120</td><td>CD3278</td><td style="background-color: #CD3278"></td></tr>
		<tr><td>VioletRed4</td><td>139:34:82</td><td>8B2252</td><td style="background-color: #8B2252"></td></tr>
		<tr><td>firebrick</td><td>178:34:34</td><td>B22222</td><td style="background-color: #B22222"></td></tr>
		<tr><td>firebrick1</td><td>255:48:48</td><td>FF3030</td><td style="background-color: #FF3030"></td></tr>
		<tr><td>firebrick2</td><td>238:44:44</td><td>EE2C2C</td><td style="background-color: #EE2C2C"></td></tr>
		<tr><td>firebrick3</td><td>205:38:38</td><td>CD2626</td><td style="background-color: #CD2626"></td></tr>
		<tr><td>firebrick4</td><td>139:26:26</td><td>8B1A1A</td><td style="background-color: #8B1A1A"></td></tr>
		<tr><td>pink</td><td>255:192:203</td><td>FFC0CB</td><td style="background-color: #FFC0CB"></td></tr>
		<tr><td>pink1</td><td>255:181:197</td><td>FFB5C5</td><td style="background-color: #FFB5C5"></td></tr>
		<tr><td>pink2</td><td>238:169:184</td><td>EEA9B8</td><td style="background-color: #EEA9B8"></td></tr>
		<tr><td>pink3</td><td>205:145:158</td><td>CD919E</td><td style="background-color: #CD919E"></td></tr>
		<tr><td>pink4</td><td>139:99:108</td><td>8B636C</td><td style="background-color: #8B636C"></td></tr>
		<tr><td>red</td><td>255:0:0</td><td>FF0000</td><td style="background-color: #FF0000"></td></tr>
		<tr><td>red1</td><td>255:0:0</td><td>FF0000</td><td style="background-color: #FF0000"></td></tr>
		<tr><td>red2</td><td>238:0:0</td><td>EE0000</td><td style="background-color: #EE0000"></td></tr>
		<tr><td>red3</td><td>205:0:0</td><td>CD0000</td><td style="background-color: #CD0000"></td></tr>
		<tr><td>red4</td><td>139:0:0</td><td>8B0000</td><td style="background-color: #8B0000"></td></tr>
		<tr><td>tomato</td><td>255:99:71</td><td>FF6347</td><td style="background-color: #FF6347"></td></tr>
		<tr><td>tomato1</td><td>255:99:71</td><td>FF6347</td><td style="background-color: #FF6347"></td></tr>
		<tr><td>tomato2</td><td>238:92:66</td><td>EE5C42</td><td style="background-color: #EE5C42"></td></tr>
		<tr><td>tomato3</td><td>205:79:57</td><td>CD4F39</td><td style="background-color: #CD4F39"></td></tr>
		<tr><td>tomato4</td><td>139:54:38</td><td>8B3626</td><td style="background-color: #8B3626"></td></tr>
	</table>
	</div>

	<div role="tabpanel" class="tab-pane fade" id="violets">
	<table class="table table-striped table-hover table-sm">
		<tr><th>Color Name</th><th>R/G/B</th><th>Hex</th><th>BG/FG color sample</th></tr>
		<tr><td>DarkOrchid</td><td>153:50:204</td><td>9932CC</td><td style="background-color: #9932CC"></td></tr>
		<tr><td>DarkOrchid1</td><td>191:62:255</td><td>BF3EFF</td><td style="background-color: #BF3EFF"></td></tr>
		<tr><td>DarkOrchid2</td><td>178:58:238</td><td>B23AEE</td><td style="background-color: #B23AEE"></td></tr>
		<tr><td>DarkOrchid3</td><td>154:50:205</td><td>9A32CD</td><td style="background-color: #9A32CD"></td></tr>
		<tr><td>DarkOrchid4</td><td>104:34:139</td><td>68228B</td><td style="background-color: #68228B"></td></tr>
		<tr><td>DarkViolet</td><td>148:0:211</td><td>9400D3</td><td style="background-color: #9400D3"></td></tr>
		<tr><td>LavenderBlush</td><td>255:240:245</td><td>FFF0F5</td><td style="background-color: #FFF0F5"></td></tr>
		<tr><td>LavenderBlush1</td><td>255:240:245</td><td>FFF0F5</td><td style="background-color: #FFF0F5"></td></tr>
		<tr><td>LavenderBlush2</td><td>238:224:229</td><td>EEE0E5</td><td style="background-color: #EEE0E5"></td></tr>
		<tr><td>LavenderBlush3</td><td>205:193:197</td><td>CDC1C5</td><td style="background-color: #CDC1C5"></td></tr>
		<tr><td>LavenderBlush4</td><td>139:131:134</td><td>8B8386</td><td style="background-color: #8B8386"></td></tr>
		<tr><td>MediumOrchid</td><td>186:85:211</td><td>BA55D3</td><td style="background-color: #BA55D3"></td></tr>
		<tr><td>MediumOrchid1</td><td>224:102:255</td><td>E066FF</td><td style="background-color: #E066FF"></td></tr>
		<tr><td>MediumOrchid2</td><td>209:95:238</td><td>D15FEE</td><td style="background-color: #D15FEE"></td></tr>
		<tr><td>MediumOrchid3</td><td>180:82:205</td><td>B452CD</td><td style="background-color: #B452CD"></td></tr>
		<tr><td>MediumOrchid4</td><td>122:55:139</td><td>7A378B</td><td style="background-color: #7A378B"></td></tr>
		<tr><td>MediumPurple</td><td>147:112:219</td><td>9370DB</td><td style="background-color: #9370DB"></td></tr>
		<tr><td>MediumPurple1</td><td>171:130:255</td><td>AB82FF</td><td style="background-color: #AB82FF"></td></tr>
		<tr><td>MediumPurple2</td><td>159:121:238</td><td>9F79EE</td><td style="background-color: #9F79EE"></td></tr>
		<tr><td>MediumPurple3</td><td>137:104:205</td><td>8968CD</td><td style="background-color: #8968CD"></td></tr>
		<tr><td>MediumPurple4</td><td>93:71:139</td><td>5D478B</td><td style="background-color: #5D478B"></td></tr>
		<tr><td>lavender</td><td>230:230:250</td><td>E6E6FA</td><td style="background-color: #E6E6FA"></td></tr>
		<tr><td>magenta</td><td>255:0:255</td><td>FF00FF</td><td style="background-color: #FF00FF"></td></tr>
		<tr><td>magenta1</td><td>255:0:255</td><td>FF00FF</td><td style="background-color: #FF00FF"></td></tr>
		<tr><td>magenta2</td><td>238:0:238</td><td>EE00EE</td><td style="background-color: #EE00EE"></td></tr>
		<tr><td>magenta3</td><td>205:0:205</td><td>CD00CD</td><td style="background-color: #CD00CD"></td></tr>
		<tr><td>magenta4</td><td>139:0:139</td><td>8B008B</td><td style="background-color: #8B008B"></td></tr>
		<tr><td>maroon</td><td>176:48:96</td><td>B03060</td><td style="background-color: #B03060"></td></tr>
		<tr><td>maroon1</td><td>255:52:179</td><td>FF34B3</td><td style="background-color: #FF34B3"></td></tr>
		<tr><td>maroon2</td><td>238:48:167</td><td>EE30A7</td><td style="background-color: #EE30A7"></td></tr>
		<tr><td>maroon3</td><td>205:41:144</td><td>CD2990</td><td style="background-color: #CD2990"></td></tr>
		<tr><td>maroon4</td><td>139:28:98</td><td>8B1C62</td><td style="background-color: #8B1C62"></td></tr>
		<tr><td>orchid</td><td>218:112:214</td><td>DA70D6</td><td style="background-color: #DA70D6"></td></tr>
		<tr><td>orchid1</td><td>255:131:250</td><td>FF83FA</td><td style="background-color: #FF83FA"></td></tr>
		<tr><td>orchid2</td><td>238:122:233</td><td>EE7AE9</td><td style="background-color: #EE7AE9"></td></tr>
		<tr><td>orchid3</td><td>205:105:201</td><td>CD69C9</td><td style="background-color: #CD69C9"></td></tr>
		<tr><td>orchid4</td><td>139:71:137</td><td>8B4789</td><td style="background-color: #8B4789"></td></tr>
		<tr><td>plum</td><td>221:160:221</td><td>DDA0DD</td><td style="background-color: #DDA0DD"></td></tr>
		<tr><td>plum1</td><td>255:187:255</td><td>FFBBFF</td><td style="background-color: #FFBBFF"></td></tr>
		<tr><td>plum2</td><td>238:174:238</td><td>EEAEEE</td><td style="background-color: #EEAEEE"></td></tr>
		<tr><td>plum3</td><td>205:150:205</td><td>CD96CD</td><td style="background-color: #CD96CD"></td></tr>
		<tr><td>plum4</td><td>139:102:139</td><td>8B668B</td><td style="background-color: #8B668B"></td></tr>
		<tr><td>purple</td><td>160:32:240</td><td>A020F0</td><td style="background-color: #A020F0"></td></tr>
		<tr><td>purple1</td><td>155:48:255</td><td>9B30FF</td><td style="background-color: #9B30FF"></td></tr>
		<tr><td>purple2</td><td>145:44:238</td><td>912CEE</td><td style="background-color: #912CEE"></td></tr>
		<tr><td>purple3</td><td>125:38:205</td><td>7D26CD</td><td style="background-color: #7D26CD"></td></tr>
		<tr><td>purple4</td><td>85:26:139</td><td>551A8B</td><td style="background-color: #551A8B"></td></tr>
		<tr><td>thistle</td><td>216:191:216</td><td>D8BFD8</td><td style="background-color: #D8BFD8"></td></tr>
		<tr><td>thistle1</td><td>255:225:255</td><td>FFE1FF</td><td style="background-color: #FFE1FF"></td></tr>
		<tr><td>thistle2</td><td>238:210:238</td><td>EED2EE</td><td style="background-color: #EED2EE"></td></tr>
		<tr><td>thistle3</td><td>205:181:205</td><td>CDB5CD</td><td style="background-color: #CDB5CD"></td></tr>
		<tr><td>thistle4</td><td>139:123:139</td><td>8B7B8B</td><td style="background-color: #8B7B8B"></td></tr>
		<tr><td>violet</td><td>238:130:238</td><td>EE82EE</td><td style="background-color: #EE82EE"></td></tr>
	</table>
	</div>

	<div role="tabpanel" class="tab-pane fade" id="whites">
	<table class="table table-striped table-hover table-sm">
		<tr><th>Color Name</th><th>R/G/B</th><th>Hex</th><th>BG/FG color sample</th></tr>
		<tr><td>AntiqueWhite</td><td>250:235:215</td><td>FAEBD7</td><td style="background-color: #FAEBD7"></td></tr>
		<tr><td>AntiqueWhite1</td><td>255:239:219</td><td>FFEFDB</td><td style="background-color: #FFEFDB"></td></tr>
		<tr><td>AntiqueWhite2</td><td>238:223:204</td><td>EEDFCC</td><td style="background-color: #EEDFCC"></td></tr>
		<tr><td>AntiqueWhite3</td><td>205:192:176</td><td>CDC0B0</td><td style="background-color: #CDC0B0"></td></tr>
		<tr><td>AntiqueWhite4</td><td>139:131:120</td><td>8B8378</td><td style="background-color: #8B8378"></td></tr>
		<tr><td>FloralWhite</td><td>255:250:240</td><td>FFFAF0</td><td style="background-color: #FFFAF0"></td></tr>
		<tr><td>GhostWhite</td><td>248:248:255</td><td>F8F8FF</td><td style="background-color: #F8F8FF"></td></tr>
		<tr><td>NavajoWhite</td><td>255:222:173</td><td>FFDEAD</td><td style="background-color: #FFDEAD"></td></tr>
		<tr><td>NavajoWhite1</td><td>255:222:173</td><td>FFDEAD</td><td style="background-color: #FFDEAD"></td></tr>
		<tr><td>NavajoWhite2</td><td>238:207:161</td><td>EECFA1</td><td style="background-color: #EECFA1"></td></tr>
		<tr><td>NavajoWhite3</td><td>205:179:139</td><td>CDB38B</td><td style="background-color: #CDB38B"></td></tr>
		<tr><td>NavajoWhite4</td><td>139:121:94</td><td>8B795E</td><td style="background-color: #8B795E"></td></tr>
		<tr><td>OldLace</td><td>253:245:230</td><td>FDF5E6</td><td style="background-color: #FDF5E6"></td></tr>
		<tr><td>WhiteSmoke</td><td>245:245:245</td><td>F5F5F5</td><td style="background-color: #F5F5F5"></td></tr>
		<tr><td>gainsboro</td><td>220:220:220</td><td>DCDCDC</td><td style="background-color: #DCDCDC"></td></tr>
		<tr><td>ivory</td><td>255:255:240</td><td>FFFFF0</td><td style="background-color: #FFFFF0"></td></tr>
		<tr><td>ivory1</td><td>255:255:240</td><td>FFFFF0</td><td style="background-color: #FFFFF0"></td></tr>
		<tr><td>ivory2</td><td>238:238:224</td><td>EEEEE0</td><td style="background-color: #EEEEE0"></td></tr>
		<tr><td>ivory3</td><td>205:205:193</td><td>CDCDC1</td><td style="background-color: #CDCDC1"></td></tr>
		<tr><td>ivory4</td><td>139:139:131</td><td>8B8B83</td><td style="background-color: #8B8B83"></td></tr>
		<tr><td>linen</td><td>250:240:230</td><td>FAF0E6</td><td style="background-color: #FAF0E6"></td></tr>
		<tr><td>seashell</td><td>255:245:238</td><td>FFF5EE</td><td style="background-color: #FFF5EE"></td></tr>
		<tr><td>seashell1</td><td>255:245:238</td><td>FFF5EE</td><td style="background-color: #FFF5EE"></td></tr>
		<tr><td>seashell2</td><td>238:229:222</td><td>EEE5DE</td><td style="background-color: #EEE5DE"></td></tr>
		<tr><td>seashell3</td><td>205:197:191</td><td>CDC5BF</td><td style="background-color: #CDC5BF"></td></tr>
		<tr><td>seashell4</td><td>139:134:130</td><td>8B8682</td><td style="background-color: #8B8682"></td></tr>
		<tr><td>snow</td><td>255:250:250</td><td>FFFAFA</td><td style="background-color: #FFFAFA"></td></tr>
		<tr><td>snow1</td><td>255:250:250</td><td>FFFAFA</td><td style="background-color: #FFFAFA"></td></tr>
		<tr><td>snow2</td><td>238:233:233</td><td>EEE9E9</td><td style="background-color: #EEE9E9"></td></tr>
		<tr><td>snow3</td><td>205:201:201</td><td>CDC9C9</td><td style="background-color: #CDC9C9"></td></tr>
		<tr><td>snow4</td><td>139:137:137</td><td>8B8989</td><td style="background-color: #8B8989"></td></tr>
		<tr><td>wheat</td><td>245:222:179</td><td>F5DEB3</td><td style="background-color: #F5DEB3"></td></tr>
		<tr><td>wheat1</td><td>255:231:186</td><td>FFE7BA</td><td style="background-color: #FFE7BA"></td></tr>
		<tr><td>wheat2</td><td>238:216:174</td><td>EED8AE</td><td style="background-color: #EED8AE"></td></tr>
		<tr><td>wheat3</td><td>205:186:150</td><td>CDBA96</td><td style="background-color: #CDBA96"></td></tr>
		<tr><td>wheat4</td><td>139:126:102</td><td>8B7E66</td><td style="background-color: #8B7E66"></td></tr>
		<tr><td>white</td><td>255:255:255</td><td>FFFFFF</td><td style="background-color: #FFFFFF"></td></tr>
	</table>
	</div>

	<div role="tabpanel" class="tab-pane fade" id="yellows">
	<table class="table table-striped table-hover table-sm">
		<tr><th>Color Name</th><th>R/G/B</th><th>Hex</th><th>BG/FG color sample</th></tr>
		<tr><td>BlanchedAlmond</td><td>255:235:205</td><td>FFEBCD</td><td style="background-color: #FFEBCD"></td></tr>
		<tr><td>DarkGoldenrod</td><td>184:134:11</td><td>B8860B</td><td style="background-color: #B8860B"></td></tr>
		<tr><td>DarkGoldenrod1</td><td>255:185:15</td><td>FFB90F</td><td style="background-color: #FFB90F"></td></tr>
		<tr><td>DarkGoldenrod2</td><td>238:173:14</td><td>EEAD0E</td><td style="background-color: #EEAD0E"></td></tr>
		<tr><td>DarkGoldenrod3</td><td>205:149:12</td><td>CD950C</td><td style="background-color: #CD950C"></td></tr>
		<tr><td>DarkGoldenrod4</td><td>139:101:8</td><td>8B6508</td><td style="background-color: #8B6508"></td></tr>
		<tr><td>LemonChiffon</td><td>255:250:205</td><td>FFFACD</td><td style="background-color: #FFFACD"></td></tr>
		<tr><td>LemonChiffon1</td><td>255:250:205</td><td>FFFACD</td><td style="background-color: #FFFACD"></td></tr>
		<tr><td>LemonChiffon2</td><td>238:233:191</td><td>EEE9BF</td><td style="background-color: #EEE9BF"></td></tr>
		<tr><td>LemonChiffon3</td><td>205:201:165</td><td>CDC9A5</td><td style="background-color: #CDC9A5"></td></tr>
		<tr><td>LemonChiffon4</td><td>139:137:112</td><td>8B8970</td><td style="background-color: #8B8970"></td></tr>
		<tr><td>LightGoldenrod</td><td>238:221:130</td><td>EEDD82</td><td style="background-color: #EEDD82"></td></tr>
		<tr><td>LightGoldenrod1</td><td>255:236:139</td><td>FFEC8B</td><td style="background-color: #FFEC8B"></td></tr>
		<tr><td>LightGoldenrod2</td><td>238:220:130</td><td>EEDC82</td><td style="background-color: #EEDC82"></td></tr>
		<tr><td>LightGoldenrod3</td><td>205:190:112</td><td>CDBE70</td><td style="background-color: #CDBE70"></td></tr>
		<tr><td>LightGoldenrod4</td><td>139:129:76</td><td>8B814C</td><td style="background-color: #8B814C"></td></tr>
		<tr><td>LightGoldenrodYellow</td><td>250:250:210</td><td>FAFAD2</td><td style="background-color: #FAFAD2"></td></tr>
		<tr><td>LightYellow</td><td>255:255:224</td><td>FFFFE0</td><td style="background-color: #FFFFE0"></td></tr>
		<tr><td>LightYellow1</td><td>255:255:224</td><td>FFFFE0</td><td style="background-color: #FFFFE0"></td></tr>
		<tr><td>LightYellow2</td><td>238:238:209</td><td>EEEED1</td><td style="background-color: #EEEED1"></td></tr>
		<tr><td>LightYellow3</td><td>205:205:180</td><td>CDCDB4</td><td style="background-color: #CDCDB4"></td></tr>
		<tr><td>LightYellow4</td><td>139:139:122</td><td>8B8B7A</td><td style="background-color: #8B8B7A"></td></tr>
		<tr><td>PaleGoldenrod</td><td>238:232:170</td><td>EEE8AA</td><td style="background-color: #EEE8AA"></td></tr>
		<tr><td>PapayaWhip</td><td>255:239:213</td><td>FFEFD5</td><td style="background-color: #FFEFD5"></td></tr>
		<tr><td>cornsilk</td><td>255:248:220</td><td>FFF8DC</td><td style="background-color: #FFF8DC"></td></tr>
		<tr><td>cornsilk1</td><td>255:248:220</td><td>FFF8DC</td><td style="background-color: #FFF8DC"></td></tr>
		<tr><td>cornsilk2</td><td>238:232:205</td><td>EEE8CD</td><td style="background-color: #EEE8CD"></td></tr>
		<tr><td>cornsilk3</td><td>205:200:177</td><td>CDC8B1</td><td style="background-color: #CDC8B1"></td></tr>
		<tr><td>cornsilk4</td><td>139:136:120</td><td>8B8878</td><td style="background-color: #8B8878"></td></tr>
		<tr><td>gold</td><td>255:215:0</td><td>FFD700</td><td style="background-color: #FFD700"></td></tr>
		<tr><td>gold1</td><td>255:215:0</td><td>FFD700</td><td style="background-color: #FFD700"></td></tr>
		<tr><td>gold2</td><td>238:201:0</td><td>EEC900</td><td style="background-color: #EEC900"></td></tr>
		<tr><td>gold3</td><td>205:173:0</td><td>CDAD00</td><td style="background-color: #CDAD00"></td></tr>
		<tr><td>gold4</td><td>139:117:0</td><td>8B7500</td><td style="background-color: #8B7500"></td></tr>
		<tr><td>goldenrod</td><td>218:165:32</td><td>DAA520</td><td style="background-color: #DAA520"></td></tr>
		<tr><td>goldenrod1</td><td>255:193:37</td><td>FFC125</td><td style="background-color: #FFC125"></td></tr>
		<tr><td>goldenrod2</td><td>238:180:34</td><td>EEB422</td><td style="background-color: #EEB422"></td></tr>
		<tr><td>goldenrod3</td><td>205:155:29</td><td>CD9B1D</td><td style="background-color: #CD9B1D"></td></tr>
		<tr><td>goldenrod4</td><td>139:105:20</td><td>8B6914</td><td style="background-color: #8B6914"></td></tr>
		<tr><td>moccasin</td><td>255:228:181</td><td>FFE4B5</td><td style="background-color: #FFE4B5"></td></tr>
		<tr><td>yellow</td><td>255:255:0</td><td>FFFF00</td><td style="background-color: #FFFF00"></td></tr>
		<tr><td>yellow1</td><td>255:255:0</td><td>FFFF00</td><td style="background-color: #FFFF00"></td></tr>
		<tr><td>yellow2</td><td>238:238:0</td><td>EEEE00</td><td style="background-color: #EEEE00"></td></tr>
		<tr><td>yellow3</td><td>205:205:0</td><td>CDCD00</td><td style="background-color: #CDCD00"></td></tr>
		<tr><td>yellow4</td><td>139:139:0</td><td>8B8B00</td><td style="background-color: #8B8B00"></td></tr>
	</table>
	</div>

	<div role="tabpanel" class="tab-pane fade" id="metallic">
	<table class="table table-striped table-hover table-sm">
		<tr><th>Color Name</th><th>R/G/B</th><th>Hex</th><th>BG/FG color sample</th></tr>
		<tr><td>copper</td><td>184:115:51</td><td>B87333</td><td style="background-color: #B87333"></td></tr>
		<tr><td>gold</td><td>205:127:50</td><td>CD7F32</td><td style="background-color: #CD7F32"></td></tr>
		<tr><td>silver</td><td>230:232:250</td><td>E6E8FA</td><td style="background-color: #E6E8FA"></td></tr>
	</table>
	</div>
</div>
